<div class="f-profile ui modal">
    <i class="close icon"></i>
    <div class="header">{{first_name}} {{middle_name}} {{last_name}}</div>
    <div class="image content">
        <div class="image">
            <img class="ui image small" src="{{image}}"/>
        </div>
        <div class="description">
            A description can appear on the right
        </div>
    </div>
    <div class="actions">
        <div class="ui button">Cancel</div>
        <div class="ui button">OK</div>
    </div>
</div>
