<div class="ui menu inverted borderless">
    <div class="menu left">
        <div class="item ui dropdown">
            <img class="forsta-logo" src="static/images/logo_text_under_white_168.png"/>
            <i class="icon dropdown"></i>
            <div class="menu">
                <a class="item"><i class="icon home"></i>Console</a>
                <a class="item"><i class="icon industry"></i>Organization</a>
                <a class="item"><i class="icon users"></i>People</a>
                <a class="item active"><i class="icon send"></i>Messenger</a>
                <a class="item"><i class="icon history"></i>Message History</a>
                <a class="item"><i class="icon commenting"></i>Message Settings</a>
                <a class="item"><i class="puzzle icon"></i>Integrations</a>
                <a class="item"><i class="icon archive"></i>Retention</a>

                <div class="divider"></div>

                <a class="item"><i class="icon help"></i>Help</a>
            </div>
        </div>
    </div>

    <div class="menu center">
        <div class="item">
            <div class="ui input icon">
                <input id="forsta-main-search" type="text"
                       placeholder="Keywords, Tags, Dates, Topics..."></input>
                <i class="icon link search blue"></i>
            </div>
        </div>
    </div>

    <div class="menu right">
        <div class="item ui dropdown">
            <i class="icon small circular blue inverted user"></i>
            Joe Smith
            <i class="icon dropdown"></i>
            <div class="menu">
                <a class="item">Logout</a>
                <div class="divider"></div>
                <a class="item">My Profile</a>
                <a class="item">Org Profile</a>
            </div>
        </div>
    </div>
</div>
