<div class="ui menu inverted borderless">
    <div class="menu left">
        <div class="f-toc item ui dropdown">
            <img class="f-logo" src="static/images/logo_text_under_white_168.png"/>
            <i class="icon dropdown"></i>
            <div class="menu">
                <a class="item" href="/console"><i class="icon home"></i>Console</a>
                <a class="item"><i class="icon industry"></i>Organization</a>
                <a class="item"><i class="icon users"></i>People</a>
                <a class="item active"><i class="icon send"></i>Messenger</a>
                <a class="item" href="/messaging/history"><i class="icon history"></i>Message History</a>
                <a class="item"><i class="icon commenting"></i>Message Settings</a>
                <a class="item"><i class="puzzle icon"></i>Integrations</a>
                <a class="item"><i class="icon archive"></i>Retention</a>

                <div class="divider"></div>

                <a class="item" href="https://forsta.zendesk.com"
                   target="_blank"><i class="icon help"></i>Help</a>
            </div>
        </div>
    </div>

    <div class="menu center">
        <div class="item">
            <div class="ui input icon">
                <input class="f-search" type="text"
                       placeholder="Keywords, Tags, Dates, Topics..."></input>
                <i class="icon link search blue"></i>
            </div>
        </div>
    </div>

    <div class="menu right">
        <div class="f-user item ui dropdown">
            <img class="ui image avatar mini" src="{{image}}"/>
            {{first_name}} {{middle_name}} {{last_name}}
            <i class="icon dropdown"></i>
            <div class="menu">
                <a class="item" data=id="logout">Logout</a>
                <div class="divider"></div>
                <a class="item" data-id="profile">My Profile</a>
                <a class="item" data-id="org">Org Profile</a>
            </div>
        </div>
    </div>
</div>
<script type="text/x-template" id="f-modal-profile"
        href="templates/modals/profile.html"></script>
