<article>
    <div class="f-header ui menu borderless"></div>
    
    <div class="f-notices"></div>

    {{#unless sent}}
        <!-- Creator only XXX -->
        <div class="f-editor-holder ui segment attached blue">
            <div class="f-editor"></div>
        </div>
        <div class="ui menu attached bottom">
            <div class="menu right">
                <div class="item">
                    <button class="ui button icon blue f-send"><i class="icon send"></i> Send</button>
                </div>
            </div>
        </div>
    {{else}}
        <!-- Reader only XXX -->
        <div class="f-messages ui feed"></div>

        <div class="f-dropzone ui dimmer">
            <div class="content">
                <div class="center">
                    <h2 class="ui icon header inverted">
                        <i class="icon folder open"></i>
                        Drop attachments...
                    </h2>
                </div>
            </div>
        </div>
    {{/unless}}

</article>

<aside></aside>
