<div class="f-list">
    {{#each threads}}
        <div class="row" data-id="{{id}}">
            {{> f-avatar avatar}}
            <div class="content">
                <div class="header">{{{normTitle}}}</div>
                <div class="description">Last activity: {{fromnow timestamp}}, {{messageCount}} messages</div>
            </div>
            <div class="ui buttons mini basic">
                <button class="f-expunge ui button icon red"
                        title="Permanently delete this thread and all its messages.">
                    <i class="icon bomb"></i>
                </button>
                <button class="f-restore ui button">
                    <i class="icon undo"></i>Restore
                </button>
            </div>
        </div>
    {{else}}
        <b>No archived threads.</b>
    {{/each}}
</div>
