<i class="close icon"></i>
<div class="header">
    <i class="icon video camera"></i>
    Call: <small>{{{call thread.getNormalizedTitle scope=thread}}}</small>
    <div class="f-call-status"></div>
</div>
<div class="f-members">
    <div class="f-presenter"></div>
    <div class="f-audience"></div>
</div>
<div class="actions" style="display: flex;">
    <div class="ui button dropdown icon circular basic pointing top left">
        <i class="icon vertical ellipsis"></i>
        <div class="menu">
            <div class="item" data-value="screen-sharing">
                <i class="icon image outline"></i>
                Screen Sharing
            </div>
            <div class="item" data-value="settings">
                <i class="icon settings"></i>
                Settings
            </div>
        </div>
    </div>
    {{#if canFullscreen}}
        <button class="f-fullscreen ui button circular icon basic"
                title="Toggle fullscreen mode.">
            <i class="icon expand"></i>
        </button>
    {{/if}}

    <button class="f-video-mute ui button circular icon blue"
            title="Toggle camera.">
        <i class="icon video camera"></i>
    </button>

    <button class="f-audio-mute ui button circular icon blue"
            title="Toggle microphone.">
        <i class="icon microphone"></i>
    </button>

    <div class="footer"></div><!-- glorified spacer -->

    <button class="wide-only f-leave-call ui button labeled icon red" disabled>
        <i class="icon stop"></i>Leave
    </button>
    <button class="wide-only f-join-call ui button labeled icon green">
        <i class="icon phone"></i>Join
    </button>

    <button class="narrow-only f-leave-call ui button circular icon red" disabled>
        <i class="icon stop"></i>
    </button>
    <button class="narrow-only f-join-call ui button circular icon green">
        <i class="icon phone"></i>
    </button>
</div>
