<div class="video-wrap" title="Click to make presenter.">
    <div class="novideo">
        <img class="f-avatar f-avatar-image" src="{{avatar.url}}"
             title="{{name}} ({{tagSlug}})"/>
    </div>
    <video autoplay {{#if outgoing}}muted{{/if}}></video>
    <div class="f-soundlevel">
        <div class="f-indicator"></div>
    </div>
    <i class="icon f-status-circle large"
       data-base-class="icon f-status-circle large"
       data-empty=""
       data-calling="circle loading notched"
       data-unavailable="circle red"
       data-checking="circle loading notched green"
       data-connected="circle check green"
       data-disconnected="circle minus yellow"
       data-failed="circle minus red"
       data-closed="circle minus"
       data-left="circle minus"></i>
</div>
