<div class="video-wrap">
    <div class="f-header">
        <div class="f-user">
            {{> f-avatar avatar}}
        </div>
        <div class="f-status ui label small">{{status}}</div>
        <div class="ui dropdown top right">
            <i class="icon dropdown"></i>
            <div class="menu">
                <div class="item f-silence activate" data-value="silence"
                   title="Silence the audio output for this stream.">
                    <i class="icon toggle off"></i>{{#if outgoing}}Mute{{else}}Silence{{/if}}
                    <span class="description"><i class="icon {{#if outgoing}}microphone{{else}}headphone{{/if}}"></i></span>
                </div>
                <div class="item f-silence deactivate" data-value="silence"
                   title="Enable the audio output for this stream.">
                    <i class="icon toggle on red"></i>{{#if outgoing}}Muted{{else}}Silenced{{/if}}
                    <span class="description"><i class="icon {{#if outgoing}}microphone slash{{else}}headphone{{/if}} disabled red"></i></span>
                </div>
                {{#if canFullscreen}}
                    <div class="item f-fullscreen" data-value="fullscreen">
                        <i class="icon expand"></i>Fullscreen Video
                    </div>
                {{/if}}
                {{#if canPopout}}
                    <div class="item f-popout" data-value="popout">
                        <i class="icon external"></i>Popout Video
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="novideo">
        <img class="f-avatar f-avatar-image" src="{{avatar.url}}"/>
    </div>
    <video autoplay muted></video>
    <div class="f-soundlevel">
        <div class="f-indicator"></div>
    </div>
</div>
