<div class="header">
    <div class="contents">
        <i class="icon video camera"></i>
        {{{call thread.getNormalizedTitle scope=thread}}}
        <div class="f-call-status">{{{callStatus}}}</div>
    </div>
    <div class="ui buttons icon basic right floated">
        <button class="f-detach ui button" title="Toggle detached mode"><i class="icon window restore"></i></button>
        {{#if canFullscreen}}
            <button class="f-fullscreen ui button" title="Fullscreen mode"><i class="icon window maximize"></i></button>
        {{/if}}
        <button class="f-close ui button" title="Close"><i class="icon close"></i></button>
    </div>
</div>

<div class="f-members">
    <div class="f-presenter"></div>
    <div class="f-audience"></div>
</div>

<div class="actions" style="display: flex;">
    <button class="f-video mute activate ui button circular icon blue"
            title="Disable your outgoing video.">
        <i class="icon video camera"></i>
    </button>
    <button class="f-video mute deactivate ui button circular icon red"
            title="Enable your outgoing video.">
        <i class="icon video camera disabled"></i>
    </button>

    <button class="f-audio mute activate ui button circular icon blue"
            title="Disable your outgoing audio (mute).">
        <i class="icon microphone"></i>
    </button>
    <button class="f-audio mute deactivate ui button circular icon red"
            title="Enable your outgoing audio (unmute).">
        <i class="icon microphone slash disabled"></i>
    </button>

    <div class="footer"></div><!-- glorified spacer -->

    <button class="f-join-toggle ui button circular toggle icon red active">
        <i class="icon phone"></i>
    </button>

    <div class="f-options ui button circular dropdown icon bottom pointing right">
        <i class="icon vertical ellipsis"></i>
        <div class="menu">
            {{#unless forceScreenSharing}}
                <div class="item" data-value="screen-sharing">
                    <i class="icon slideshare"></i>
                    Screen Sharing
                </div>
            {{/unless}}
            <div class="item" data-value="settings">
                <i class="icon settings"></i>
                Settings
            </div>
        </div>
    </div>
</div>
