<div class="header">
    <i class="icon large video camera"></i>
    Call: <small>{{{call thread.getNormalizedTitle scope=thread}}}</small>
    <div class="f-call-status sub header"></div>
</div>
<div class="f-videos">
    <video class="f-video local" autoplay muted></video>
</div>
<div class="actions" style="display: flex;">
    <div class="footer"></div>
    <button class="f-end-call ui button labeled icon red" disabled>
        <i class="icon stop"></i>End Call
    </button>
    <button class="f-join-call ui button labeled icon primary" disabled>
        <i class="icon phone"></i>Join Call
    </button>
</div>
