<div class="f-holder ui attached segment">
    <div class="f-input ui input fluid icon">
        <div class="f-message"
             contenteditable="true" spellcheck="true" role="textbox"
             spellcheck="true" tabindex="0" autocorrect="on"></div>
        <div class="ui buttons">
            <div class="f-send ui button blue icon">
                <i class="icon send"></i>
            </div>
            <div class="ui dropdown pointing top right button icon">
                <i class="icon dropdown"></i>
                <div class="menu">
                    <div class="f-attach item"><i class="icon attach"></i>Add Attachments</div>
                    <div class="f-giphy item"><i class="icon video"></i>Giphy Picker</div>
                    <div class="f-emoji item"><i class="icon smile"></i>Emoji Picker</div>
                </div>
            </div>
        </div>
    </div>

    <div class="f-desc">
        <strong>*strong*</strong> |
        <em>_italics_</em> |
        :smile: -> ☺️ |
        /help
    </div>

    <div class="f-drawer f-files">
        <input class="f-choose-file" type="file" multiple="multiple" style="display: none;"/>
        <div class="ui segment secondary">
            <h5 class="ui header sub">
                <i class="icon folder"></i>
                <div class="content">Pending Attachments</div>
            </h5>
            <div class="previews"></div>
        </div>
    </div>

    <div class="f-drawer f-giphy">
        <div class="ui segment secondary">
            <div>
                <img class="ui image small" src="/@static/images/giphy.png"/>
                <span>To update change your message above <i class="icon arrow up"></i></span>
            </div>
            <i class="icon remove link"></i>
            <div class="previews"></div>
        </div>
    </div>
</div>
