<div class="f-holder ui attached segment">
    <div class="f-input ui input fluid icon labeled">
        <div class="ui dropdown label">
            <div class="text"><i class="icon comments outline trim"></i></div>
            <div class="menu">
                <div class="item"><i class="icon comments outline active"></i>Message</div>
                <div class="item"><i class="icon pie chart"></i>Poll</div>
            </div>
        </div>
        <div class="f-message"
             contenteditable="true" spellcheck="true" role="textbox"
             autocomplete="on" spellcheck="true" tabindex="0"
             autocorrect="on" aria-multiline="true" aria-haspopup="true"
             aria-label="Type message here..."></div>
        <i class="f-send icon circular link send inverted blue depth-shadow"></i>
        <div class="f-attach ui button icon attached right"><i class="icon attach"></i></div>
    </div>

    <div class="f-desc">
        <strong>*strong*</strong> |
        <em>_italics_</em> |
        :smile: -> ☺️ |
        /help
    </div>

    <div class="f-files">
        <input class="f-choose-file" type="file" multiple="multiple" style="display: none;"/>
        <div class="ui segment secondary">
            <h5 class="ui header sub">
                <i class="icon folder"></i>
                <div class="content">Pending Attachments</div>
            </h5>
            <div class="previews"></div>
        </div>
    </div>
</div>
