<div class="f-holder ui segment basic
            {{#if blocked}}disabled{{else if left}}disabled{{/if}}">
    <div class="f-input">
        <div class="f-message"
             {{#if blocked}}{{else if left}}{{else}}contenteditable="true"{{/if}}
             role="textbox" spellcheck="true" tabindex="0" autocorrect="on"></div>
        <div class="f-placeholder">
            {{#if disableRecipientsPrompt}}
                Type message here
            {{else}}
                Send message to {{{titleNormalized}}}
            {{/if}}
        </div>
    </div>

    <div class="f-actions large">
        {{#if allowCalling}}
            {{#if forceScreenSharing}}
                <i class="f-call-action icon link slideshare"
                   title="Start Screen Share"></i>
            {{else}}
                <i class="f-call-action icon link call"
                   title="Start Video Call"></i>
            {{/if}}
        {{/if}}
        <i class="f-attach-action icon link attach"
           title="Add Attachments"></i>
        <i class="f-giphy-action icon link image"
           title="Choose animated GIF (Giphy)"></i>
        <i class="f-emoji-action icon link smile"
           title="Emoji Picker"></i>
        <i class="f-help-action icon link help"
           data-html='
                <div class="ui sub header">Formatting Tips</div>
                <table class="ui table definition unstackable compact">
                    <tr><td>*bold*</td><td><strong>bold</strong></td></tr>
                    <tr><td>_italic_</td><td><i>italic</i></td></tr>
                    <tr><td>:smile:</td><td><h3>☺️ </h3></td></tr>
                    <tr><td>/help</td><td>Show commands</td></tr>
                </table>
           '></i>
        <i class="f-send-action icon circular send inverted blue"
           title="Send Message"></i>
    </div>

    <div class="f-drawer f-files">
        <input class="f-choose-file" type="file" multiple="multiple" style="display: none;"/>
        <div class="ui segment secondary basic">
            <h5 class="ui header sub">
                <i class="icon folder"></i>
                <div class="content">Pending Attachments</div>
            </h5>
            <div class="previews"></div>
        </div>
    </div>

    <div class="f-drawer f-giphy">
        <div class="ui segment secondary basic">
            <h5 class="ui header sub">
                <i class="icon image"></i>
                <div class="content">
                    <div class="ui input mini icon">
                        <input type="text" name="giphy-search" placeholder="Giphy Search"/>
                        <i class="icon search"></i>
                    </div>
                </div>
            </h5>
            <i class="icon remove link"></i>
            <div class="previews"></div>
        </div>
    </div>

    <div class="f-drawer f-emoji">
        <div class="ui segment secondary basic">
            <h5 class="ui header sub">
                <i class="icon smile"></i>
                <div class="content">
                    <div class="ui input mini icon">
                        <input type="text" name="emoji-search" placeholder="Emoji Search"/>
                        <i class="icon search"></i>
                    </div>
                </div>
            </h5>
            <i class="icon remove link"></i>
            <div class="f-emoji-picker-holder previews"></div>
        </div>
    </div>
</div>
