<article>
    <div class="f-header ui menu borderless basic">
        <div class="menu left">
            <div class="item">
                <div class="single-line" title="Welcome"><h2>Welcome!</h2></div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <img src="/@static/images/logo_text_under.svg" class="logo"/>
        <h2>Web Messenger</h2>
        <h4 class="middlemessage">End-to-End Encrypted</h4>
        <h5 class="footertext">type <span class="">'/help'<span> in the message box for assistance in formatting messages and more</h5>
    </div>

</article>
