<article>
    <div class="f-header ui menu borderless basic">
        <div class="menu left">
            <div class="item">
                <div class="single-line" title="Welcome"><p>Welcome to Forsta Web</p></div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <img src="/@static/images/logo_text_under.svg" class="logo"/>
        <h3>Encrypted Messaging for your workforce, accountability for your company</h3>
        <p>Forsta is the first end-to-end encrypted messaging application built solely with the business user in mind — to deliver complete confidence in enterprise communications.</p>
    </div>
</article>
