<article>
    <div class="welcome">
        <img src="/@static/images/logo_text_under.svg" class="logo"/>
        <h2>Web Messenger</h2>
        <div>
            <iframe
                width="280"
                height="160"
                src="https://www.youtube.com/embed/GqCc-vgjTfA?rel=0&amp;showinfo=0"
                frameborder="0"
                allow="autoplay; encrypted-media"
                allowfullscreen>
            </iframe>
            <p>learn how to get started</p>
        </div>
    </div>
</article>
