<div class="f-search-results" style="display: none;">
    <div class="ui sub header"></div>
    <div class="f-search-previews"></div>
</div>
<div class="f-catalog">
    {{#each this}}
        <div class="ui sub header">{{@key}}</div>
        {{#each this}}
            <a class="emoji-sheet-image" data-terms="{{terms}}"
               data-short-name="{{short_name}}"
               title=":{{short_name}}:"
               style="background-position: -{{x_offt}}px -{{y_offt}}px;"></a>
        {{/each}}
    {{/each}}
</div>
<div class="ui dimmer inverted">
    <div class="ui loader"></div>
</div>
