<div class="ui menu inverted borderless">
    <div class="menu left">
        <div class="f-toggle-nav item ui button icon link"
             title="Toggle navigation sidebar">
            <i class="icons">
                <i class="icon sidebar large"></i>
                <i class="icon corner blue big circle"></i>
            </i>
        </div>
        <div class="f-brand item fitted">
            <img class="f-logo" alt="Forsta" src="{{static 'images/logo_just_text.svg'}}"/>
        </div>
    </div>

    <div class="menu right">
        {{#if searchable}}
            <div class="f-search item">
                <div class="ui search">
                    <div class="ui input icon">
                        <input type="text" class="prompt"
                               placeholder="Search messages, contacts, etc..."></input>
                        <i class="icon search link"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        {{/if}}

        <div class="f-toc item link">
            {{> f-avatar avatar loader=true}}
            <i class="icon dropdown"></i>
        </div>
    </div>
</div>

<div class="f-toc-menu">
    <div class="ui menu vertical">
        <a class="f-view-profile item" data-variation="basic" data-offset="220" data-user-card="{{id}}">
            {{name}}<br/>
            <small class="detail">{{tagSlug}}</small>
        </a>

        <div class="item">
            <div class="menu">
                <a class="item" href="/user/profile"><i class="icon address card"></i>Edit Profile</a>
                {{#if showImportContacts}}
                    <a class="item" data-item="import-contacts">
                        <i class="icon address book outline"></i>
                        Import Contacts
                    </a>
                {{/if}}
                <a class="item" data-item="devices"><i class="icon microchip"></i>Linked Devices</a>
            </div>
        </div>

        <div class="item">
            <div class="header">Admin</div>
            <div class="menu">
                <a class="item" href="/tags"><i class="tags icon"></i>Tags</a>
                {{#if admin}}
                    <a class="item" href="/org"><i class="icon industry"></i>Organization</a>
                    <a class="item" href="/people"><i class="icon users"></i>Users</a>
                    <a class="item" href="/billing"><i class="dollar icon"></i>Billing</a>
                {{/if}}
            </div>
        </div>

        <div class="item">
            <div class="menu">
                {{#if showSettings}}
                    <a class="item" data-item="settings"><i class="icon settings"></i>Settings</a>
                {{/if}}
                <a class="item" href="https://support.forsta.io" target="_blank">
                    <i class="icon external"></i>Help
                </a>
            </div>
        </div>

        <div class="item">
            <div class="menu">
                <a class="item" data-item="logout"><i class="icon sign out"></i>Sign out</a>
            </div>
        </div>
    </div>
</div>
