<div class="f-back-holder">
    <div class="ui three column centered grid">
        <div class="middle aligned column">
            <div class="ui statistic">
                <div class="label">
                    {{head.adj}}
                </div>
                <div class="ui divider back"></div>
                <div class="label">
                    {{head.time}}
                </div>
            </div>
        </div>
        <div class="middle aligned column">
            <div class="ui statistic">
                <div class="label">
                    {{head.type1}}
                </div>
                <div class="ui divider back"></div>
                <div class="label">
                    {{head.type2}}
                </div>
            </div>
        </div>
        {{#if recipients.length}}
            <div class="middle aligned column">
                <div class="ui horizontal statistic">
                    <div class="value">
                        {{recipients.length}}
                    </div>
                    <div class="label">
                        Recipients
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
    {{#if recipients.length}}
        <div class="ui divider"></div>
        <div class="ui header">Recipients:</div>
        <div class="ui items">
            {{#each recipients}}
                <div class="item">
                    {{> f-avatar this.avatar}}
                    <div class="middle aligned content">
                        <a id="{{id}}" class="header f-thread-member">
                            {{name}}
                            {{#if delivered}}
                                <i class="check circle outline green icon"></i>
                            {{else}}
                                <i class="remove circle outline red icon"></i>
                            {{/if}}
                        </a>
                        <div class="description">{{tag.slug}}:{{domain.slug}}</div>
                        {{#if time_rec}}
                        <div class="description">{{time_rec}}</div>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}

    <div class="ui divider"></div>

    <button class="ui basic button f-purge">
          <i class="bomb user"></i>
          Delete Message
    </button>
</div>
