<div class="f-message-details ui segment blue padded">
    <div class="ui sub header">Message Details:</div>
    <div class="ui labels grey attached small">
        <div class="ui label image"
             data-content="{{#if incoming}}{{datetime received}}{{else}}{{datetime sent}}{{/if}}">
            <i class="icon double angle {{#if incoming}}left{{else}}right{{/if}}"></i>
            {{#if incoming}}Received{{else}}Sent{{/if}}
            <div class="detail">
                {{#if incoming}}{{fromnow received}}{{else}}{{fromnow sent}}{{/if}}
            </div>
        </div>
        <div class="ui label image">
            <i class="icon users"></i>
            Recipients
            <div class="detail">{{recipients.length}}</div>
        </div>
        <div class="ui label image" data-content="{{userAgent}}">
            <i class="icon {{#if mobile}}mobile{{else}}computer{{/if}}"></i>
            Device
            <div class="detail">{{shortUserAgent}}</div>
        </div>
        {{#if expiration}}
            <div class="ui label image" data-content="{{datetime expiresAt}}">
                <i class="icon hourglass"></i>
                Expiration
                <div class="detail">{{fromnow expiresAt}}</div>
            </div>
        {{/if}}
    </div>
        
    {{#if recipients.length}}
        <div class="ui divider"></div>
        <div class="ui sub header">Recipients:</div>
        <div class="member-list">
            {{#each recipients}}
                <div class="member-row">
                    <div class="member-avatar">
                        <i class="big icons">
                            {{> f-avatar this.avatar}}
                            <i class="icon corner top right
                                      {{#if delivered}}
                                          check circle outline
                                      {{else if sent}}
                                          loading notched circle
                                      {{else if errors.length}}
                                          warning circle red
                                      {{else}}
                                          circle outline
                                      {{/if}}
                                      "></i>
                        </i>
                    </div>
                    <div class="member-info">
                        <a data-user-popup="{{id}}" class="f-thread-member">
                            {{name}}</a><br/>
                            <sup>@{{fqslug}}</sup>
                    </div>
                    <div class="member-info">
                        {{#if delivered}}
                            <div class="ui label basic">
                                Delivered {{fromnow delivered}}<br/>
                                <small>
                                    {{deliveredCount}}
                                    {{#ifeq deliveredCount 1}}delivery{{else}}deliveries{{/ifeq}}
                                </small>
                            </div>
                        {{else if sent}}
                            <div class="ui label basic">
                                Sent {{fromnow sent}}<br/>
                                <small>Waiting for delivery</small>
                            </div>
                        {{else if errors.length}}
                            <div class="ui label basic red">
                                {{dump errors}}
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
    <div class="ui divider"></div>
    <div class="ui buttons three fluid basic">
        <button class="ui button f-purge">
            <i class="icon trash user"></i> Delete
        </button>
        <button class="ui button f-share">
            <i class="icon share"></i> Share
        </button>
        <button class="ui button f-copy">
            <i class="icon clipboard"></i> Copy
        </button>
    </div>
</div>
