<div class="f-message-details ui segment blue padded">
    <div class="ui sub header">Message Details:</div>
    <div class="ui labels grey attached small">
        <div class="ui label image"
             title="{{#if incoming}}{{datetime received}}{{else}}{{datetime sent}}{{/if}}">
            <i class="icon double angle {{#if incoming}}left{{else}}right{{/if}}"></i>
            {{#if incoming}}Received{{else}}Sent{{/if}}
            <div class="detail">
                {{#if incoming}}{{fromnow received}}{{else}}{{fromnow sent}}{{/if}}
            </div>
        </div>
        <div class="ui label image">
            <i class="icon users"></i>
            Recipients
            <div class="detail">{{recipients.length}}</div>
        </div>
        <div class="ui label image" title="{{userAgent}}">
            <i class="icon {{#if mobile}}mobile{{else}}computer{{/if}}"></i>
            Sender's App
            <div class="detail">{{shortUserAgent}}</div>
        </div>
        {{#if expiration}}
            <div class="ui label image" title="{{datetime expiresAt}}">
                <i class="icon hourglass"></i>
                Expiration
                <div class="detail">{{fromnow expiresAt}}</div>
            </div>
        {{/if}}
    </div>
        
    {{#if recipients.length}}
        <div class="ui divider"></div>
        <div class="ui sub header">Recipients:</div>
        <div class="member-list">
            {{#each recipients}}
                <div class="member-row">
                    <div class="member-avatar">
                        {{> f-avatar this.avatar}}
                    </div>
                    <div class="member-info">
                        <a class="name" data-user-card="{{id}}">{{name}}</a>
                        <div class="slug">{{tagSlug}}</div>
                    </div>
                    <div class="member-extra">
                        {{#if errors.length}}
                            {{#each errors}}
                                <div class="ui label basic red">
                                    <i class="icon warning circle red"></i>
                                    <div class="detail">
                                        {{name}}<br/>
                                        <small>{{#if message}}{{message}}{{else}}{{reason}}{{/if}}</small>
                                    </div>
                                </div>
                            {{/each}}
                        {{else if delivered}}
                            <div class="ui label basic">
                                <i class="icon check circle outline"></i>
                                <div class="detail">
                                    Delivered {{fromnow delivered}}<br/>
                                    <small>
                                        {{deliveredCount}}
                                        {{#ifeq deliveredCount 1}}delivery{{else}}deliveries{{/ifeq}}
                                    </small>
                                </div>
                            </div>
                        {{else if sent}}
                            <div class="ui label basic">
                                <i class="icon radio"></i>
                                <div class="detail">
                                    Sent {{fromnow sent}}<br/>
                                    <small>Waiting for delivery</small>
                                </div>
                            </div>
                        {{else if pending}}
                            <div class="ui label basic">
                                <i class="icon wait"></i>
                                <div class="detail">
                                    Pending Invite<br/>
                                    <small>Waiting for user sign-up</small>
                                </div>
                            </div>
                        {{else if sending}}
                            <div class="ui label basic">
                                <i class="icon loading notched circle"></i>
                                <div class="detail">
                                    Sending<br/>
                                    <small>Waiting for network</small>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
    <div class="ui divider"></div>
    <div class="ui buttons two fluid tiny basic">
        <button class="ui button f-purge">
            <i class="icon trash user red"></i> Delete Message
        </button>
        <button class="ui button f-copy">
            <i class="icon clipboard"></i> <span>Copy to clipboard</span>
        </button>
    </div>
</div>
