<div class="label">
    {{> f-avatar avatar}}
</div>
<div class="content">
    <div class="ui segment {{avatar.color}}">
        <div class="summary">
            {{#if sender}}
                <a class="f-user" data-user-popup="{{sender}}">{{senderName}}</a>
            {{else}}
                {{senderName}}
            {{/if}}
            <div class="date">
                <span class="timestamp" data-timestamp="{{sent}}"></span>
            </div>
            <div class="icon-bar autodim">
                <i title="Maximize" class="f-display-toggle icon link window maximize"
                   {{#unless minimized}}style="display: none;"{{/unless}}></i>
                <i title="Minimize" class="f-display-toggle icon link window minimize"
                   {{#if minimized}}style="display: none;"{{/if}}></i>
                {{#if mobile}}
                    <i title="Sent from mobile app" class="icon mobile"></i>
                {{/if}}
                <span class="timer"></span>
                {{#unless incoming}}
                    <span class="f-status"><i></i></span>
                {{else}}
                    <i title="Incoming Message" class="icon download"></i>
                {{/unless}}
                <i title="Toggle detailed view" class="f-details-toggle icon link zoom"></i>
            </div>
        </div>
        <section {{#if minimized}}style="max-height: 0;"{{/if}}>
            {{#if safe_html.length}}
                <div class="f-message-content extra text html">{{{safe_html}}}</div>
            {{else if plain.length}}
                <div class="f-message-content extra text plain">{{plain}}</div>
            {{/if}}
            {{#if attachments.length}}
                <div class="extra images attachments"></div>
            {{/if}}
            {{#if meta.length}}
                <div class="meta autodim">
                    <ul>
                    {{#each meta}}
                        <li>{{{this}}}</li>
                    {{/each}}
                    </ul>
                </div>
            {{/if}}
        </section>
        <div class="f-message-details-holder"></div>
    </div>
</div>
