<div class="label">
    {{> f-avatar avatar}}
</div>

<div class="content">
    <div class="ui segment {{avatar.color}}">
        <div class="summary">
            {{#if sender}}
              {{#if disableSenderInfo}}
                  <p class="f-user">{{senderName}}</p>
              {{else}}
                  <a class="f-user" data-user-card="{{sender}}">{{senderName}}</a>
              {{/if}}
            {{else}}
                <div class="f-user">{{senderName}}</div>
            {{/if}}
            <div class="date timestamp" data-timestamp="{{sent}}"></div>
            <div class="icon-bar autohide">
                <i title="Maximize" class="f-display-toggle icon link window maximize"
                   {{#unless minimized}}style="display: none;"{{/unless}}></i>
                <i title="Minimize" class="f-display-toggle icon link window minimize"
                   {{#if minimized}}style="display: none;"{{/if}}></i>
                {{#if mobile}}
                    <i title="Sent from {{mobile}}" class="icon mobile"></i>
                {{/if}}
                <i title="Reply to this message" class="f-reply icon link reply"></i>
                {{#unless disableMessageInfo}}
                    <i title="Toggle detailed view" class="f-details-toggle icon link zoom"></i>
                {{/unless}}
            </div>
            <div class="icon-bar autodim">
                {{#if keyChange}}
                    <i title="Identity Key Changed" class="icon spy"></i>
                {{/if}}
                {{#unless incoming}}
                    <span class="f-status"><i></i></span>
                {{/unless}}
                <span class="timer"></span>
            </div>
        </div>
        <section {{#if minimized}}style="max-height: 0;"{{/if}}>
            {{#if safe_html.length}}
                <div class="f-message-content extra text html">{{{safe_html}}}</div>
            {{else if plain.length}}
                <div class="f-message-content extra text plain">{{plain}}</div>
            {{/if}}
            {{#if attachments.length}}
                <div class="extra images attachments"></div>
            {{/if}}
            {{#if replies.length}}
                <div class="f-message-replies ui segment inverted tiny">
                    <div class="ui sub header">Replies:</div>
                    {{~#each replies~}}
                        <div class="reply" data-id="{{id}}">
                            {{#if score}}
                                <span class="f-score" title="{{score}} up votes">({{score}})</span>
                            {{/if}}
                            {{> f-avatar avatar}}
                            <div class="message" title="{{senderName}} replied {{calendar sent}}">
                                {{~#if safe_html~}}
                                    {{~safe_html~}}
                                {{~else~}}
                                    {{~plain~}}
                                {{~/if~}}
                            </div>
                            <div class="voting">
                                <i class="f-up-vote icon up caret large link" title="Up vote"></i>
                            </div>
                        </div>
                    {{~/each~}}
                </div>
            {{/if}}
            {{#if actions.length}}
                <div class="f-message-actions ui buttons vertical fluid">
                    {{#each actions}}
                        <button class="ui button
                                       {{#if isDark}}dark{{/if}}
                                       {{#unless ../actionOptions.allowMultiple}}
                                          {{#if ../action}}disabled{{/if}}
                                       {{/unless}}"
                                data-action="{{action}}">
                            {{#ifeq action ../action}}<i class="icon checkmark"></i>{{/ifeq}}
                            {{title}}
                        </button>
                    {{/each}}
                </div>
            {{/if}}
            {{#if meta.length}}
                <div class="meta autodim">
                    <ul>
                    {{#each meta}}
                        <li>{{{this}}}</li>
                    {{/each}}
                    </ul>
                </div>
            {{/if}}
        </section>
        <div class="f-message-details-holder"></div>
        <div class="f-inline-reply">
            <div class="ui input action fluid mini left icon">
                <i class="f-emoji-toggle icon smile link"></i>
                <input type="text" placeholder="Reply to this message"/>
                <button class="f-reply-send ui button mini primary">Send Reply</button>
            </div>
        </div>
        <div class="f-emoji-picker-holder"></div>
        <div class="f-tail-timestamp timestamp" data-timestamp="{{sent}}"></div>
    </div>
    <div class="f-read-marks"></div>
</div>
