{{#if header}}
    <div class="header">
        {{#if icon}}
            <i class="icon large {{icon}}"></i>
        {{/if}}
        {{header}}
    </div>
{{/if}}

{{#if hasContent}}
    <div class="f-content-anchor content {{#if scrolling}}scrolling{{/if}}">{{{content}}}</div>
{{/if}}

<div class="ui dimmer inverted">
    <div class="ui large loader"></div>
</div>

{{#if actions}}
    <div class="actions" style="display: flex;">
        <div class="footer">
            {{#if footer}}
                <p>{{footer}}</p>
            {{/if}}
        </div>
        {{#each actions}}
            <div class="ui button {{class}}
                       {{#if icon}}labeled icon{{/if}}
                       {{#if ../actionsFluid}}fluid{{/if}}"
                 {{#if title}}title="{{title}}"{{/if}}>
                {{#if icon}}
                    <i class="icon {{icon}}"></i>
                {{/if}}
                {{label}}
            </div>
        {{/each}}
    </div>
{{/if}}
