<div class="f-nav-contents">
    {{#ifeq type "announcement"}}
        <div class="f-nav-avatar">
            <i class="icons avatar">
                <i class="icon announcement"></i>
                {{#unless sent}}
                    <i class="icon corner asterisk red"></i>
                {{else}}
                    <i class="icon big thin circle"></i>
                {{/unless}}
            </i>
        </div>
        <div class="f-nav-content">
            <div class="single-line title" title="{{senderName}} -> {{distributionPretty}}">
                <p>{{senderName}} <i class="icon right arrow"></i> {{distributionPretty}}</p>
            </div>
            <div class="single-line last-message">
                <p>{{#unless sent}}<small>[DRAFT]</small> {{/unless}}{{title}}</p>
            </div>
            {{#if debouncedUnreadCount}}
                <div class="ui label floating f-unreadcount mini blue">{{debouncedUnreadCount}}</div>
            {{/if}}
            <p title="{{calendar timestamp}}" class="dim">{{fromnow timestamp server=true}}</p>
        </div>
    {{else}}
        <div class="f-nav-avatar">
            {{> f-avatar avatarProps}}
        </div>
        <div class="f-nav-content">
            <div class="single-line title" title="{{distributionPretty}}"><p>{{{titleNormalized}}}</p></div>
            <div class="single-line last-message"><p>{{lastMessage}}</p></div>
            {{#if debouncedUnreadCount}}
                <div class="ui label floating f-unreadcount mini blue">{{debouncedUnreadCount}}</div>
            {{/if}}
            <p title="{{calendar timestamp}}" class="dim">{{fromnow timestamp server=true}}</p>
        </div>
    {{/ifeq}}
</div>
<i title="Toggle thread pin" class="f-pin autohide icon link pin"></i>
<i title="Archive this thread" class="f-archive autohide icon link archive"></i>
