<div class="description">
    The phone number you provided matched these these existing Forsta users.  Choose
    from one of the contacts below to start a dialog with them.
</div>

<div class="member-list">
    {{#each members}}
        <div class="member-row" data-id="{{id}}">
            <div class="member-avatar">
                {{> f-avatar avatar}}
            </div>
            <div class="member-info">
                <a class="name allow-multiple" data-user-card="{{id}}">{{name}}</a>
                <div class="slug">{{tagSlug}}</div>
            </div>
            <div class="member-extra">
                <div class="ui button basic blue f-sender">Start</div>
            </div>
        </div>
    {{/each}}
</div>
