<div class="ui header huge centered">
    <img class="ui image" src="{{welcomeImage}}"/>
    <div class="content">
        Welcome to Forsta Messenger!
        <div class="sub header">
            This is the first time you've used Forsta Messenger on this device.
        </div>
    </div>
</div>

{{#if devices.length}}
    <div class="ui segment">
        For your privacy and security we will attempt to obtain your
        <a data-zendesk-card="360008370274">Identity Key</a> from one of your
        existing devices.  If, however, none of your existing devices are available you
        can reset your account <sup><i class="icon warning sign red"
                                       title="Removes existing devices!"></i></sup>
        and generate a new Identity Key.

        <div class="ui segment basic grey f-list existing-devices">
            <div class="ui header sub">Your existing devices:</div>
            {{#each devices}}
                <div class="row">
                    <i class="icon large {{iconClass}}"></i>
                    <div class="content">
                        <div class="header">{{name}}</div>
                        <div class="description">
                            Last seen: {{lastSeenPretty}} {{#if lastIP}} at <samp>{{lastIP}}</samp>{{/if}}
                            {{#if lastLocation}}
                                {{#if geocode.locality}}
                                    - {{geocode.locality.formatted_address}}
                                {{/if}}
                            {{/if}}
                            {{#if old}}
                                <i title="This device hasn't been seen recently"
                                   class="icon warning sign yellow"></i>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{else}}
    For your privacy and security we will generate an
    <a data-zendesk-card="360008370274">Identity Key</a> for your account.
{{/if}}
