<div class="ui menu tabular secondary pointing small stackable">
    <a class="item active" data-tab="about"><i class="icon info circle"></i>About</a>
    <a class="item" data-tab="notifications"><i class="icon bell"></i>Notifications</a>
    <a class="item" data-tab="privacy"><i class="icon privacy"></i>Privacy</a>
    <a class="item" data-tab="preferences"><i class="icon edit"></i>Preferences</a>
</div>

<div class="ui segment tab basic active" data-tab="about">
    <div class="ui list relaxed">
        <div class="item">
            <i class="icon large middle aligned birthday"></i>
            <div class="content">
                <div class="header">Version</div>
                <div class="description">
                    v{{version}}
                    (<a target="_blank" href="https://github.com/ForstaLabs/relay-web-app/commits/{{gitCommit}}">{{gitCommit}}</a>)
                </div>
            </div>
        </div>

        <div class="item">
            <i class="icon large middle aligned barcode"></i>
            <div class="content">
                <div class="header">User ID</div>
                <div class="description"><samp>{{currentUser.id}}</samp></div>
            </div>
        </div>

        <div class="item">
            <i class="icon large middle aligned microchip"></i>
            <div class="content">
                <div class="header">Device Number</div>
                <div class="description">{{currentDevice}}</div>
            </div>
        </div>

        <div class="item">
            <i class="icon large middle aligned id badge"></i>
            <div class="content">
                <div class="header">Device Name</div>
                <div class="description">{{deviceName}}</div>
            </div>
        </div>

        {{#if storageEstimate}}
            <div class="item">
                <i class="icon large middle aligned database"></i>
                <div class="content">
                    <div class="header">Storage Usage</div>
                    <div class="description">{{humanbytes storageEstimate.usage}} / {{humanbytes storageEstimate.quota}} (available)</div>
                </div>
            </div>

            <div class="item">
                <i class="icon large middle aligned archive"></i>
                <div class="content">
                    <div class="header">Storage Mode</div>
                    <div class="description">
                        {{#if persistentStorage}}
                            Persistent <i class="icon thumbs up outline green"></i>
                        {{else}}
                            Best Effort <i class="icon warning sign yellow"></i>
                            <button title="Persistent storage mode prevents potential data loss."
                                    class="f-storage-persist ui button tiny">Enable Persistent Storage</button>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/if}}

        <div class="item">
            <i class="icon large middle aligned refresh"></i>
            <div class="content">
                <div class="header">Last Synchronization</div>
                <div class="description">
                    {{#if lastSync}}{{fromnow lastSync}}{{else}}Never{{/if}}
                    <button class="f-sync-request ui button tiny">Sync Now</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ui segment tab basic" data-tab="notifications">
    <div class="ui form">
        <div class="field">
            <label>
                <i class="icon legal"></i>
                Browser Permissions
            </label>
            {{#if notificationPermission}}
                {{#ifeq notificationPermission "granted"}}
                    Granted <i class="icon thumbs up outline green"></i>
                {{else}}
                    {{#ifeq notificationPermission "denied"}}
                        Denied <i class="icon warning sign red"></i>
                    {{else}}
                        Unconfigured <i class="icon warning sign yellow"></i>
                    {{/ifeq}}
                    <button title="Request access for notifications"
                            class="f-notif-request ui button tiny">Request Permission</button>
                {{/ifeq}}
            {{else}}
                Unsupported <i class="icon warning sign red"></i>
            {{/if}}
        </div>

        {{#if isElectron}}
        {{else}}
        <div class="field">
            <label>
                <i class="icon alarm"></i>
                Push Notifications
            </label>
            {{#if hasPushNotifications}}
                Enabled <i class="icon thumbs up outline green"></i>
            {{else}}
                Disabled <i class="icon yellow warning sign red"></i>
            {{/if}}
        </div>
        {{/if}}

        <div class="field">
            <label>
                <i class="icon sound"></i>
                Mute Sounds
            </label>
            <div class="f-notif-sound-muted ui checkbox toggle">
                <input type="checkbox" {{#if notificationSoundMuted}}checked="checked"{{/if}}/>
                <label>Prevent sounds from being played for notifications.</label>
            </div>
        </div>

        <div class="field">
            <label>Display Setting</label>
            <div class="f-notif-setting ui dropdown selection compact">
                <input type="hidden"/>
                <i class="dropdown icon"></i>
                <div class="text"></div>
                <div class="menu">
                    <div class="item" data-value="off">
                        Off
                        <div class="description">Silence notifications</div>
                    </div>
                    <div class="item" data-value="count">
                        Unread Count
                        <div class="description">Hide message and sender</div>
                    </div>
                    <div class="item" data-value="name">
                        Sender Name
                        <div class="description">Hide message content</div>
                    </div>
                    <div class="item" data-value="message">
                        Message Content
                        <div class="description">Show all content</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label>Filters</label>
            <div class="f-notif-filter ui dropdown selection multiple small">
                <input type="hidden"/>
                <i class="dropdown icon"></i>
                <div class="text">Show all notifications</div>
                <div class="menu">
                    <div class="item" data-value="name">
                        <i class="icon user"></i>Name Referenced
                    </div>
                    <div class="item" data-value="mention">
                        <i class="icon at"></i>Mentioned
                    </div>
                    <div class="item" data-value="dm">
                        <i class="icon handshake"></i>Direct Messages
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ui segment tab basic" data-tab="privacy">
    <div class="ui form">
        <div class="field">
            <label>
                <i class="icon bug"></i>
                Automatic Bug Reporting
            </label>
            <div class="f-bug-reporting ui checkbox toggle">
                <input type="checkbox" {{#if allowBugReporting}}checked="checked"{{/if}}/>
                <label>
                    We use <a href="https://sentry.io" target="_blank">https://sentry.io</a>
                    to fix bugs as soon as they happen.
                </label>
            </div>
        </div>
        <div class="field">
            <label>
                <i class="icon bar chart"></i>
                Usage Reporting
            </label>
            <div class="f-usage-reporting ui checkbox toggle">
                <input type="checkbox" {{#if allowUsageReporting}}checked{{/if}}/>
                <label>
                    Google analytics helps us focus our development efforts.
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui message small">
        View our <a href="https://forsta.io/privacy" target="_blank">Privacy Policy</a> for more information.
    </div>
</div>

<div class="ui segment tab basic" data-tab="preferences">
    <div class="ui form">
        <div class="field">
            <label><i class="icon tint"></i> Theme</label>
            <div class="f-theme ui selection dropdown">
                <input type="hidden" name="theme" value="{{theme}}"/>
                <i class="dropdown icon"></i>
                <div class="default text">Theme</div>
                <div class="menu">
                    <div class="item" data-value="default">Default</div>
                    <div class="item" data-value="dark">Dark</div>
                    <div class="item" data-value="dense">Dense</div>
                    <div class="item" data-value="minimal">Minimal</div>
                    <div class="item" data-value="plaid">Plaid</div>
                    <div class="item" data-value="hacker">Hacker</div>
                    <div class="item" data-value="pink">Pink</div>
                </div>
            </div>
        </div>
    </div>
</div>
