<div class="f-modal-header header">
    <i class="f-modal-icon icon settings"></i>
    Settings
</div>

<div class="ui menu tabular secondary pointing">
    <a class="active item" data-tab="notifications"><i class="icon bell"></i>Notifications</a>
    <a class="item" data-tab="privacy"><i class="icon spy"></i>Privacy</a>
    <a class="item" data-tab="about"><i class="icon info circle"></i>About</a>
</div>
<div class="ui segment tab basic active" data-tab="notifications">
    <h4 class="ui header">
        <div class="content">
            <pre>{{dump settings}}</pre>
            <div class="sub header">
                To proceed you must give Forsta <u>temporary</u> access to your Google contacts.
            </div>
        </div>
    </h4>
</div>

<div class="ui segment tab basic" data-tab="privacy">
    <pre>{{dump privacy}}</pre>
</div>

<div class="ui segment tab basic" data-tab="about">
    <pre>{{dump about}}</pre>
</div>

<div class="actions">
    <div class="f-dismiss ui button">Dismiss</div>
</div>
