<div class="f-tag-card ui card fluid">
    <div class="content">
        <div class="ui header">{{slug}}</div>
        <div class="meta">{{tag.description}}</div>
    </div>
    {{#if children}}
        <div class="content">
            <div class="meta">Included tags</div>
            <div class="member-list">
                {{#each children}}
                    <div class="member-row">
                        <div class="member-info">
                            <a class="name" data-tag-card="{{id}}">{{tagSlug}}</a>
                        </div>
                        {{#if memberCount}}
                            <div class="member-extra">
                                <small>{{memberCount}} member{{#ifneq userCount 1}}s{{/ifneq}}</small>
                            </div>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

    {{#if members}}
        <div class="content">
            <div class="meta">
                {{members.length}} member{{#ifneq members 1}}s{{/ifneq}}
            </div>
            <div class="member-list">
                {{#each members}}
                    <div class="member-row">
                        <div class="member-avatar">
                            {{>f-avatar avatar}}
                        </div>
                        <div class="member-info">
                            <a class="name" data-user-card="{{id}}">{{name}}</a>
                            <div class="slug">{{tagSlug}}</div>
                        </div>
                        {{#unless direct}}
                            <div class="member-extra">
                                <i class="icon tags grey" title="Included by one or more child tags."></i>
                            </div>
                        {{/unless}}
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <div class="ui buttons attached bottom tiny">
        {{#if canEdit}}
            <button class="f-edit ui button">Edit</button>
        {{/if}}
    </div>
</div>
