<div class="ui segment holder">
    <div class="f-notices ui segment">
        <div class="ui sub header">
            <i class="icon tasks"></i>
            <div class="content">
                Activity
                {{#if hasNotices}}<small>({{notices.length}})</small>{{/if}}
            </div>
        </div>
        {{#unless hasNotices}}
            <p>No recent activity</p>
        {{else}}
            <div class="notice-list">
                {{#each noticesReversed}}
                    <div class="notice-row">
                        <div class="notice-icon">
                            <i class="icons big">
                                <i class="icon grey {{icon}}"></i>
                                <i class="icon corner {{cornerIcon}}"></i>
                            </i>
                        </div>
                        <div class="notice-info" title="{{calendar created}}">
                            <div class="title">{{{title}}}</div>
                            <div class="detail">{{{detail}}}</div>
                        </div>
                        <i data-id="{{id}}" class="f-close icon link close" title="Clear notice"></i>
                    </div> 
                {{/each}}
            </div>
        {{/unless}}
        {{#if hasNotices}}
            <div class="f-clear ui button tiny basic">
                <i class="icon trash red"></i>Clear all
            </div>
        {{/if}}
    </div>

    <div class="ui segment">
        <div class="ui sub header">
            <i class="icon info circle"></i>
            <div class="content">Information</div>
        </div>
        <div class="ui list padded">
            <div class="item">
                <div class="content">
                    <div class="header title">{{type}} Title</div>
                    <div class="description">{{{titleNormalized}}}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header title">Message Count</div>
                    <div class="description">{{messageCount}}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Distribution</div>
                    <div class="description">{{distributionPretty}}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Last activity</div>
                    <div class="description">{{calendar timestamp}}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Age</div>
                    <div title="Started {{calendar started}}" class="description">{{humantime age}}</div>
                </div>
            </div>
            {{#if notificationsMute}}
                <div class="item">
                    <div class="content">
                        <div class="header">Notifications Muted</div>
                        {{#ifneq notificationsMute true}}
                            <div title="Until {{calendar notificationsMute}}"
                                 class="description">For {{fromnowshort notificationsMute}}</div>
                        {{/ifneq}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>

    <div class="ui segment">
        <div class="ui sub header"><i class="icon users"></i>
            <div class="content">Members</div>
        </div>
        <div class="member-list">
            {{#each members}}
                <div class="member-row">
                    <div class="member-avatar">
                        {{> f-avatar avatar}}
                    </div>
                    <div class="member-info">
                        <a class="name" data-user-card="{{id}}">{{name}}</a>
                        <div class="slug">{{tagSlug}}</div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
