<div class="ui segment holder">
    <div class="ui segment">
        <div class="ui sub header"><i class="icon info circle"></i>About</div>
        <div class="ui list padded">
            <div class="item">
                <div class="content">
                    <div class="header title">{{type}} Title</div>
                    <div class="description">{{{titleNormalized}}}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Distribution</div>
                    <div class="description">{{distributionPretty}}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Last activity</div>
                    <div class="description">{{calendar timestamp}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui segment">
        <div class="ui sub header"><i class="icon users"></i>Members</div>
        <div class="member-list">
            {{#each members}}
                <div class="member-row">
                    <div class="member-avatar">
                        {{> f-avatar avatar}}
                    </div>
                    <div class="member-info">
                        <a class="name" data-user-popup="{{id}}">{{name}}</a>
                        <div class="slug">@{{#if local}}{{slug}}{{else}}{{fqslug}}{{/if}}</div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
