<div class="f-title">
    {{> f-avatar avatarProps}}
    <div class="f-title-display">{{{titleNormalized}}}</div>
    <div class="f-title-edit ui input icon">
        <input type="text" placeholder="{{#if title}}{{title}}{{else}}{{distributionPretty}}{{/if}}"/>
        <i class="icon link checkmark"></i>
    </div>
    <div class="f-thread-notes">
        {{#if left}}
            <div class="note">
                <i class="icon eject black"></i> You left this {{type}}
            </div>
        {{/if}}
        {{#if blocked}}
            <div class="note">
                <i class="icon ban red"></i> Messages blocked
            </div>
        {{/if}}
        {{#if pendingMembers.length}}
            <div class="note">
                <i class="icon wait yellow"></i> Thread has pending members
            </div>
        {{/if}}
    </div>
</div>

<div class="menu right">
    <div class="f-call item icon link"
         title="Start a call with members of this thread">
        <i class="icons">
            <i class="f-camera icon video camera grey"></i>
            <i class="f-active hidden circle top right corner green"></i>
        </i>
    </div>
    <div class="f-notifications item ui dropdown icon">
        <i class="icon alarm outline grey"
           title="Notifications"></i>
        <div class="menu">
            <div class="header">Notifications</div>
            <div class="divider"></div>
            <div class="item" data-value="toggle">...</div>
            <div class="divider"></div>
            <div class="header">Mute For:</div>
            <div class="item" data-value="3600">1 Hour</div>
            <div class="item" data-value="7200">2 Hours</div>
            <div class="item" data-value="28800">8 Hours</div>
            <div class="item" data-value="86400">1 Day</div>
            <div class="item" data-value="604800">A Week</div>
        </div>
    </div>
    <div class="f-expire item ui dropdown icon">
        <i class="icon hourglass grey"
           title="Disappearing Messages"></i>
        <div class="menu">
            <div class="header">Message Expiration</div>
            <div class="divider"></div>
            <div class="item" data-value="0">Off</div>
            <div class="item" data-value="5">5 seconds</div>
            <div class="item" data-value="10">10 seconds</div>
            <div class="item" data-value="30">30 seconds</div>
            <div class="item" data-value="60">A minute</div>
            <div class="item" data-value="300">5 minutes</div>
            <div class="item" data-value="1800">30 minutes</div>
            <div class="item" data-value="3600">An hour</div>
            <div class="item" data-value="21600">6 hours</div>
            <div class="item" data-value="43200">12 hours</div>
            <div class="item" data-value="86400">A day</div>
            <div class="item" data-value="604800">A week</div>
        </div>
    </div>
    <div class="f-settings item ui dropdown icon">
        <i class="icon link options vertical grey"
           title="{{titlecase type}} Settings"></i>
        <div class="menu">
            <div class="header">{{titlecase type}} Settings</div>
            <div class="divider"></div>
            {{#ifeq type "conversation"}}
                <div class="item f-clear-messages"><i class="icon recycle"></i>Clear Messages</div>
                <div class="item f-block-messages">
                    {{#if blocked}}
                        <i class="icon undo"></i>Unblock Messages
                    {{else}}
                        <i class="icon ban"></i>Block Messages
                    {{/if}}
                </div>
                {{#unless left}}
                    <div class="item f-leave-thread"><i class="icon eject"></i>Leave {{titlecase type}}</div>
                    <div class="item f-edit-dist"><i class="icon edit"></i>Edit Distribution</div>
                {{/unless}}
                <div class="divider"></div>
            {{/ifeq}}
            <div class="item f-pin-thread">
                <i class="icon pin"></i>
                {{#if pinned}}Unpin{{else}}Pin{{/if}} {{titlecase type}}
            </div>
            <div class="item f-archive-thread"><i class="icon archive"></i>Archive {{titlecase type}}</div>
            <div class="item f-expunge-thread"><i class="icon bomb"></i>Expunge {{titlecase type}}</div>
        </div>
    </div>
    <div class="f-toggle-aside item icon"
         title="Toggle information sidebar{{#if hasNotices}} ({{notices.length}} activity events){{/if}}">
        <div class="f-toggle-border {{#if hasNotices}}{{noticeSeverityColor}}{{/if}}">
            <i class="f-toggle icon large"></i>
        </div>
    </div>
</div>
