<div class="menu left">
    <div class="f-title item">
        {{#if left}}
            <i class="icon ban red big"
               title="You left this {{type}}"></i>
        {{else}}
            {{> f-avatar avatarProps}}
        {{/if}}
        <div class="f-title-display single-line"><p>{{{titleNormalized}}}</p></div>
        <div class="f-title-edit ui input icon">
            <input type="text" placeholder="{{#if title}}{{title}}{{else}}{{distributionPretty}}{{/if}}"/>
            <i class="icon link checkmark"></i>
        </div>
    </div>
</div>

<div class="menu right">
    <div class="f-notifications item ui dropdown icon"
         title="Notifications">
        <i class="icon alarm outline grey"></i>
        <div class="menu">
            <div class="header">Notifications</div>
            <div class="divider"></div>
            <div class="item" data-value="toggle">...</div>
            <div class="divider"></div>
            <div class="header">Mute For:</div>
            <div class="item" data-value="3600">1 Hour</div>
            <div class="item" data-value="7200">2 Hours</div>
            <div class="item" data-value="28800">8 Hours</div>
            <div class="item" data-value="86400">1 Day</div>
            <div class="item" data-value="604800">A Week</div>
        </div>
    </div>
    <div class="f-expire item ui dropdown icon" title="Disappearing Messages">
        <i class="icon hourglass grey"></i>
        <div class="menu">
            <div class="header">Message Expiration</div>
            <div class="divider"></div>
            <div class="item" data-value="0">Off</div>
            <div class="item" data-value="5">5 seconds</div>
            <div class="item" data-value="10">10 seconds</div>
            <div class="item" data-value="30">30 seconds</div>
            <div class="item" data-value="60">A minute</div>
            <div class="item" data-value="300">5 minutes</div>
            <div class="item" data-value="1800">30 minutes</div>
            <div class="item" data-value="3600">An hour</div>
            <div class="item" data-value="21600">6 hours</div>
            <div class="item" data-value="43200">12 hours</div>
            <div class="item" data-value="86400">A day</div>
            <div class="item" data-value="604800">A week</div>
        </div>
    </div>
    <div class="f-settings item ui dropdown icon" title="{{titlecase type}} Settings">
        <i class="icon link options vertical grey"></i>
        <div class="menu">
            <div class="item f-clear-messages"><i class="icon recycle"></i>Clear Messages</div>
            <div class="item f-leave-thread"><i class="icon eject"></i>Leave {{titlecase type}}</div>
            <div class="divider"></div>
            <div class="item f-pin-thread"><i class="icon pin"></i>Pin {{titlecase type}}</div>
            <div class="item f-archive-thread"><i class="icon archive"></i>Archive {{titlecase type}}</div>
        </div>
    </div>
    <div class="f-toggle-aside item ui button icon"
         title="Toggle information sidebar">
        <i class="icon info circle grey"></i>
    </div>
</div>
