<div class="f-user-card ui card image {{#if pending}}pending{{/if}}">
    {{#if pending}}
        <div class="ui label attached top red">Invite Pending</div>
    {{/if}}
    {{#if removed}}
        <div class="ui label attached top red">Removed User</div>
    {{/if}}
    <div class="f-avatar-image">
        <img src="{{avatar.url}}"/>
        {{#if isCurrentUser}}
            {{#if identityPhrase}}
                <div class="f-identity">
                    <b>Your Identity Phrase:</b>
                    <div class="identity-phrase compact">{{identityPhrase}}</div>
                </div>
            {{/if}}
        {{else}}
            {{#if proposedIdentityPhrase}}
                <div class="f-identity">
                    <b>Untrusted Identity Phrase:</b>
                    <div class="identity-phrase compact">{{proposedIdentityPhrase}}</div>
                    <div class="ui buttons mini fluid">
                        <div class="f-untrust ui button"><i class="icon ban"></i>Untrust</div>
                        <div class="f-accept ui button yellow"><i class="icon handshake"></i>Accept</div>
                    </div>
                </div>
            {{else}}
                {{#if hasIdentityKey}}
                    <div class="f-trust">
                        <div class="ui checkbox toggle inverted small">
                            <input type="checkbox" {{#if trustedIdentity}}checked="checked"{{/if}}/>
                            <label>Trusted Contact</label>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
    <div class="content">
        <div class="header">{{name}}</div>
        {{#unless pending}}
            {{#if tagSlug}}
                <div class="description">
                    <a class="f-dm">{{tagSlug}}</a>
                </div>
            {{/if}}
        {{/unless}}
        {{#if website}}
            <div class="description">
                <a href="{{website}}" target="_blank">{{website}} <i class="icon external small"></i></a>
            </div>
        {{/if}}
        {{#if phone}}
            <div class="meta">
                <a href="tel:{{phone}}" target="_blank">{{phone}}</a>
            </div>
        {{/if}}
        {{#if email}}
            <div class="meta">
                <a href="mailto:{{email}}" target="_blank">{{email}}</a>
            </div>
        {{/if}}
        {{#if created}}
            <div class="meta">
                Joined {{fromnow created server=true}}
            </div>
        {{/if}}
    </div>
    {{#if org.id}}
        <div title="{{orgAttrs.description}}" class="extra content">
            <div class="ui sub header">Organization</div>
            {{#if orgAttrs.website}}
                <a href="{{orgAttrs.website}}" title="{{orgAttrs.website}}" target="_blank">
            {{/if}}
            {{#if orgAttrs.logo}}<img class="ui image avatar" src="{{orgAttrs.logo}}"/>{{/if}}
            {{orgAttrs.name}}
            {{#if orgAttrs.website}}
                </a>
            {{/if}}
        </div>
    {{/if}}
    <div class="ui buttons attached bottom tiny">
        <button class="f-dismiss ui button">Dismiss</button>
        {{#unless isCurrentUser}}{{#if canMessage}}
            <button class="f-block ui button {{#if blocked}}grey{{else}}red{{/if}}">
                {{#if blocked}}
                    Unblock
                {{else}}
                    <i class="icon ban"></i>Block
                {{/if}}
            </button>
        {{/if}}{{/unless}}
        {{#if canMessage}}
            <button class="f-dm ui button primary">
                <i class="icon comments"></i>Message
            </button>
        {{/if}}
    </div>
    <div class="ui inverted dimmer">
        <div class="ui loader"></div>
    </div>
</div>
