<div class="f-user-card ui card image {{#if pending}}pending{{/if}}">
    <div class="f-avatar-image">
        <img src="{{avatar.url}}"/>
        {{#if pending}}
            <div class="ui label ribbon red">Invite Pending</div>
        {{/if}}
        {{#if isCurrentUser}}
            {{#if identityPhrase}}
                <div class="f-identity">
                    <b>Your Identity Phrase:</b>
                    <div class="identity-phrase compact">{{identityPhrase}}</div>
                </div>
            {{/if}}
        {{else}}
            {{#if proposedIdentityPhrase}}
                <div class="f-identity">
                    <b>Proposed Identity Phrase:</b>
                    <div class="identity-phrase compact">{{proposedIdentityPhrase}}</div>
                    <div class="ui buttons mini fluid">
                        <div class="f-flag ui button red"><i class="icon warning sign"></i>Flag</div>
                        <div class="f-untrust ui button"><i class="icon ban"></i>Untrust</div>
                        <div class="f-accept ui button yellow"><i class="icon handshake"></i>Accept</div>
                    </div>
                </div>
            {{else}}
                <div class="f-trust">
                    <div class="ui checkbox toggle inverted small {{#unless hasIdentityKey}}disabled{{/unless}}">
                        <input type="checkbox" {{#if trustedIdentity}}checked="checked"{{/if}}/>
                        <label>Trusted Contact</label>
                    </div>
                </div>
            {{/if}}
        {{/if}}
    </div>
    <div class="content">
        <div class="header">{{name}}</div>
        {{#unless pending}}
            {{#if tagSlug}}
                <div class="description">
                    <a class="f-dm">{{tagSlug}} <i class="icon comments"></i></a>
                </div>
            {{/if}}
        {{/unless}}
        {{#if phone}}
            <div class="meta">
                <a href="tel:{{phone}}" target="_blank">{{phone}}</a>
            </div>
        {{/if}}
        {{#if email}}
            <div class="meta">
                <a href="mailto:{{email}}" target="_blank">{{email}}</a>
            </div>
        {{/if}}
        {{#if created}}
            <div class="meta">
                Joined {{fromnow created}}
            </div>
        {{/if}}
    </div>
    {{#if org.id}}
        <div title="{{orgAttrs.description}}" class="extra content">
            <div class="ui sub header">Organization</div>
            {{#if orgAttrs.website}}
                <a href="{{orgAttrs.website}}" title="{{orgAttrs.website}}" target="_blank">
            {{/if}}
            {{#if orgAttrs.logo}}<img class="ui image avatar" src="{{orgAttrs.logo}}"/>{{/if}}
            {{orgAttrs.name}}
            {{#if orgAttrs.website}}
                </a>
            {{/if}}
        </div>
    {{/if}}
    <div class="ui buttons attached bottom small two">
        <button class="f-dismiss ui button">Dismiss</button>
        {{#if canMessage}}
            <button class="f-dm ui button primary">
                <i class="icon comments"></i>Message
            </button>
        {{/if}}
    </div>
    <div class="ui inverted dimmer">
        <div class="ui loader"></div>
    </div>
</div>
