<table class="ui table selectable unstackable green">
    <thead>
        <tr>
            <th class="collapsing">
                <div class="ui label mini ribbon green">
                    <i class="icon large pin"></i>
                </div>
            </th>
            <th class="ui sub header">Pinned</th>
            <th class="aligned right collapsing">
                <i class="icon double angle down green"></i>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="collapsing">
                <img class="ui avatar mini image"
                     src="https://www.gravatar.com/avatar/aad160c71781df524ff69e81a96c55bd?s=128"/>
                <div class="ui label floating mini green">1</div>
            </td>
            <td colspan="2">
                <div class="ui sub header">Justin Mayfield</div>
                <div class="ui fitted divider"></div>
                <div class="single-line">
                    <p>I was born a poor black child.</p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="collapsing">
                <img class="ui avatar mini image middle aligned"
                     src="https://www.gravatar.com/avatar/a02790bcd54f574c10e59e2966d957d8?s=128"/>
                <div class="ui label floating mini green">1</div>
            </td>
            <td colspan="2">
                <div class="ui sub header">Jeff Buttars</div>
                <div class="single-line">
                    <p>Those who are capable of tyranny are capable of perjury to sustain it.</p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
