<table class="ui table selectable unstackable orange">
    <thead>
        <tr>
            <th class="collapsing">
                <div class="ui label mini ribbon orange">
                    <i class="icon large users"></i>
                </div>
            </th>
            <th class="ui sub header">Users</th>
            <th class="aligned right collapsing">
                <i class="icon double angle down orange"></i>
            </th>
        </tr>
    </thead>

    <tbody></tbody>
</table>
