html, body {
    font-size: 15px;
}

#f-header-view > .ui.menu {
    font-size: 2em;
}


#f-thread-stack .ui.feed .event {
    padding: 1em 0;
}

body > main > nav {
    .f-nav-holder {
        padding: 0 0.6em;
    }

    .f-nav-items .f-nav-item {
        .f-nav-avatar {
            font-size: 0.6em;
        }

        .last-message {
            display: none;
        }

        .title {
            margin-right: 2.2em;
        }

        .f-pin.icon,
        .f-archive.icon {
            top: 0.3em;
        }

        .f-archive.icon {
            right: 1.25em;
        }
    }
}