
@mixin darktheme(
    $foreground: #fff,
    $background: #000,
    $sans-font-family: 'Lato',
    $a-color: #dde1b4,
    $nav-selected-color: #194d74,
    $nav-foreground: $foreground
) {

    body {
        background: transparentize($background, 0.1);
        color: transparentize($foreground, 0.1);
    }

    body,
    .ui.header,
    .ui.menu {
        font-family: $sans-font-family;
    }

    a {
        color: $a-color;

        &:hover {
            color: lighten($a-color, 10%);
        }
    }

    .ui.header {
        color: transparentize($foreground, 0.2);

        .sub.header {
            color: transparentize($foreground, 0.4);
        }
    }

    .ui.dimmer {
        background: transparentize(lighten($background, 20%), 0.02);

        &.inverted {
            background: transparentize($background, 0.1);
        }
    }

    .ui.button {
        filter: grayscale(0.33);
    }

    .ui.message {
        color: transparentize($foreground, 0.1);
        background: transparentize(lighten($background, 10%), 0.1);
    }

    .ui.basic.buttons {
        border-color: transparentize(lighten($background, 50%), 0.5);
    }

    .ui.basic.button {
        box-shadow: 0 0 0 1px #fff8 inset;
        color: transparentize($foreground, 0.33) !important;

        &:hover {
            background: #0003 !important;
            color: transparentize($foreground, 0.1) !important;
        }
    }

    .ui.label {
        &.basic {
            background: initial;
            color: inherit;
            border-color: #fff8;
        }
    }

    .F.O.R.S.T.A .ui.basic.buttons .button,
    .F.O.R.S.T.A .ui.button .button {
        color: transparentize($foreground, 0.2) !important;

        &:focus {
            background: transparentize(lighten($background, 15%), 0.20) !important;
            color: transparentize(lighten($foreground, 10%), 0.2) !important;
        }

        &:hover {
            background: transparentize(lighten($background, 20%), 0.20) !important;
            color: transparentize(lighten($foreground, 10%), 0.2) !important;
        }

    }

    .ui.list .list > .item .header,
    .ui.list .list > .item .description,
    .ui.list > .item .header,
    .ui.list > .item .description {
        color: transparentize($foreground, 0.1);
    }

    $dropdown-bg: desaturate(lighten($background, 25%), 60%);
    .ui.menu:not(.secondary),
    .F.O .ui.dropdown .menu,
    .F.O .ui.selection.dropdown {
        background: $dropdown-bg;
    }

    .ui.dropdown.pointing > .menu::after {
        background: $dropdown-bg;
    }

    .ui.selection.list.list > .item:hover,
    .ui.selection.list > .item:hover {
        color: transparentize($foreground, 0.2);
    }

    .ui.attached.menu:not(.tabular) {
        border-color: transparentize(desaturate(lighten($background, 50%), 90%), .75);
    }

    .ui.menu {
        .item {
            color: transparentize($foreground, 0.1);

            &.active {
                color: transparentize($foreground, 0.1);
            }
        }
    }

    .ui.link.menu .item:hover,
    .ui.menu .dropdown.item:hover,
    .ui.menu .link.item:hover,
    .ui.menu a.item:hover {
        color: $foreground;
    }

    .ui.dropdown .menu > .message:not(.ui) {
        color: transparentize(darken($foreground, 10%), 0.1);
    }

    .F .ui.selection.dropdown {
        color: transparentize($foreground, 0.2);

        &.active {
            border-color: transparentize($foreground, 0.5);

            &:hover {
                border-color: transparentize($foreground, 0.20);
            }

            .menu {
                border-color: inherit;
            }
        }
    }

    .ui.selection.visible.dropdown > .text:not(.default) {
        color: transparentize($foreground, 0.2);
    }

    .ui.selection.dropdown .menu > .item {
        border-top-color: transparentize($foreground, 0.85);
    }

    .ui.menu,
    .F.O .ui.dropdown .menu {
        color: transparentize($foreground, 0.2);

        > .header {
            color: darken($foreground, 20%) !important;
            background: inherit;
        }
        > .item {
            color: lighten($foreground, 10%) !important;

            &.active {
                color: lighten($foreground, 20%) !important;
            }

            &:hover {
                color: lighten($foreground, 20%) !important;
            }
        }
    }

    .F.O .ui.menu .ui.dropdown .menu > .item:hover {
        background: lighten($background, 10%) !important;
        color: darken($foreground, 10%) !important;
    }

    .ui.dropdown .menu > .item > .description,
    .ui.dropdown > .text > .description {
        color: transparentize(darken($foreground, 15%), 0.5);
    }

    .ui.input input {
        background: transparentize(desaturate(lighten($background, 30%), 50%), 0.15);
        color: transparentize($foreground, 0.2);

        &:focus {
            background: transparentize(desaturate(lighten($background, 40%), 75%), 0.15);
            color: transparentize($foreground, 0.1);
            border-color: #2b82e6cf;

            &::placeholder {
                color: transparentize(darken($foreground, 10%), 0.20);
            }
        }
    }

    .ui.popup {
        $popup-bg: transparentize(desaturate(lighten($background, 35%), 60%), 0.08);
        background: $popup-bg;
        border-color: transparentize($background, 0.2);
        color: transparentize($foreground, 0.1);

        &::before {
            background: $popup-bg !important;
            box-shadow: 1px 1px 0 0 transparentize($background, 0.2);
        }
    }

    .ui.modal {
        background: transparentize(lighten($background, 10%), 0.1);
        color: transparentize($foreground, 0.1);
        box-shadow: 1px 1px 10px 0px transparentize(darken($background, 25%), 0.25);

        > .header,
        > .actions {
            background: transparentize(desaturate(lighten($background, 15%), 50%), 0.2);
            color: transparentize($foreground, 0.1);
        }
        > .content {
            background: transparentize(desaturate(lighten($background, 20%), 70%), 0.2);
        }
    }

    .ui.form .field > label {
        color: transparentize($foreground, 0.1);
    }

    .F .ui.toggle.checkbox input:checked ~ .box,
    .F .ui.toggle.checkbox input:checked ~ label,
    .F .ui.toggle.checkbox .box,
    .F .ui.toggle.checkbox label {
        color: transparentize($foreground, 0.1) !important;
    }

    .ui.segment.secondary {
        background: transparentize(desaturate(lighten($background, 70%), 85%), 0.1);
    }

    .F.O.R.S.T.A .ui.segment:not(.basic) {
        background: transparentize($background, 0.20);
        color: transparentize($foreground, 0.1);
        border-top-width: 1px !important;
        box-shadow: 1px 1px 2px 0 transparentize(desaturate(lighten($background, 80%), 95%), 0.9);

        &.orange {
            border-top-color: #fa7d2080 !important;
        }
        &.black {
            border-top-color: #ccc8 !important;
        }
        &.pink {
            border-top-color: #e0399780 !important;
        }
        &.violet {
            border-top-color: #6435c980 !important;
        }
    }

    i.icon.grey {
        color: #b3b3b3 !important;
    }

    .ui.vertical.menu .menu .item {
        color: transparentize($foreground, 0.1);
    }

    .F .ui.form {
        input,
        textarea {
            background: transparentize($background, 0.2);
            color: transparentize($foreground, 0.2);
        }
    }

    .f-avatar {
        filter: grayscale(0.6);
        transition: filter 200ms;

        &:hover {
            filter: grayscale(0.4);
        }
    }

    #f-header-view .f-toc-menu .ui.menu .item .menu .item {
        color: inherit;

        &:hover {
            color: transparentize($background, 0.1);
            background: transparentize(darken($foreground, 15%), 0.15);
        }
    }

    .F.O.R.S.T.A #f-thread-stack {
        border-top: 1.5px solid transparentize(desaturate(lighten($background, 20%), 40%), 0.1);

        .f-header.ui.menu {
            .f-toggle-aside.item.icon .f-toggle-border {
                background: desaturate(lighten($background, 50%), 80%);

                > i.icon {
                    color: darken($foreground, 10%);
                }
                &:hover > i.icon {
                    color: $foreground !important;
                }
            }
        }

        .f-messages {
            background: desaturate(lighten($background, 10%), 70%);
        }

        .ui.feed {
            .content {
                color: transparentize($foreground, 0.1);

                .summary {
                    color: inherit;

                    .date {
                        color: inherit;
                    }
                }

                .extra {
                    color: inherit;
                }

                .meta {
                    color: inherit;
                }
            }
        }

        .f-compose.focused .f-holder:not(.disabled) {
            border-color: #1c87d878;
        }
    }

    main > nav,
    #f-header-view > .ui.menu {
        background: desaturate(lighten($background, 10%), 50%);
    }

    main > nav {
        .f-nav-view {
            &.f-pinned .f-nav-header {
                border-top-color: #2185d070;
            }

            &.f-recent .f-nav-header {
                border-top-color: #038d1470;
            }
        }

        .f-nav-header {
            background: desaturate(lighten($background, 15%), 60%);
        }

        .f-nav-items {
            background: desaturate(lighten($background, 30%), 80%);

            .f-nav-item {
                color: $nav-foreground;
                background: desaturate(lighten($background, 20%), 80%);

                &.active:not(.dragging) {
                    .f-nav-contents {
                        background: $nav-selected-color !important;
                    }
                }
            }
        }

        .f-start-dropdown {
            > .menu {
                background: initial !important;

                > .scrolling.menu {
                    background: inherit !important;
                }
            }
        }
    }

    .f-call-view .ui.button[disabled] {
        background-color: #aaac !important;
    }

    .f-completer.ui.segment .entry {
        color: $foreground;

        &.selected {
            color: lighten($foreground, 20%);
            background: transparentize(lighten($background, 20%), 0.2) !important;
        }
    }
}
