html, body {
    font-size: 12px;
}

#f-header-view > .ui.menu {
    font-size: 0.8em;
}

main > nav .f-nav-holder {
    padding: 0 0.4em;
}

#f-thread-stack .ui.feed .event {
    padding: 0.25em 0;
}
