@import 'darktheme';

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900&subset=latin-ext');

@include darktheme(
    $foreground: #20a203,
    $background: #010203,
    $sans-font-family: 'Source Code Pro',
    $nav-selected-color: #a6451c,
    $nav-foreground: #d7791d
);
