@import '../variables';

html, body {
    font-weight: 300;
}

.ui.sub.header {
    font-weight: 400;
}

.ui.menu {
    font-weight: 300;
}

.ui.segment {
    box-shadow: initial;
}

.F.O.R.S.T.A .ui.segment:not(.inverted) {
    border-top-width: 1px !important;
}

.ui.modal:not(.basic) {
}

.ui.modal > .header:not(.ui) {
    font-weight: normal;
    color: #000d;
}

.ui.button {
    padding: 0.6em 1.1em;
    font-weight: 400;
}

.ui.dropdown .menu>.item>.description,
.ui.dropdown>.text>.description {
    font-weight: 300;
    font-size: 0.85em;
}

.ui.form .field > label {
    font-weight: 400;
}

// Reduce rounding..
.ui.segment,
.ui.modal:not(.basic),
.ui.button,
.ui.selection.dropdown,
.ui.selection.dropdown .menu,
.ui.message,
.ui.label,
.ui.image.label {
    border-radius: 0.15em;
}

.f-avatar {
    filter: grayscale(0.6) sepia(0.3);
    transition: filter 200ms;

    &:hover {
        filter: grayscale(0.4);
    }
}

#f-thread-stack {
    border-top: 1px solid #ddde;
    border-left: 1px solid #ddde;
    border-top-left-radius: 0.4em;

    .f-header.ui.menu {
        .f-toggle-aside.item.icon .f-toggle-border {
            background: #f3f3f3;

            > i.icon {
                color: #444;
            }

            $box-shadow-base: 0px -1.5px 0px 0px;
            &.blue {
                box-shadow: $box-shadow-base $blue;
            }
            &.red {
                box-shadow: $box-shadow-base $red;
            }
            &.orange {
                box-shadow: $box-shadow-base $orange;
            }

            &:hover > i.icon {
                color: #222 !important;
            }
        }
    }

    .ui.feed {
        .event {
            padding-left: 1em;
            padding-right: 1em;
        }

        .content > .ui.segment {
            .summary {
                .f-user {
                    display: none;
                }

                .date {
                    margin-left: 0;
                    font-weight: 300;
                }
            }
        }
    }

    .f-compose .f-holder {
    }

    .thread aside > .ui.holder {
        background: #fafafa;
        box-shadow: 4px 0px 9px -5px #0002 inset;
    }
}

#f-header-view {
    > .ui.menu {
        background: white;
        color: black;

        .item {
            color: black;
        }

        .f-brand.item img.f-logo {
            filter: invert(1);
        }

        .f-brand::after {
            filter: invert(1);
        }

        .f-search.item .ui.search {
            i.search.icon {
                color: black;
            }

            input {
                background-color: #e4e4e4;
                color: black;
            }
        }
    }
}

main > nav {
    background: white;

    .f-nav-holder {
        padding: 0;

        .f-nav-header {
            border-top-width: 1px !important;
            padding: 1em 2em;
        }

        &::-webkit-scrollbar-track {
            margin-top: 1.6em;
        }
    }

    .f-nav-items .f-nav-item {
        .f-nav-avatar {
            padding-left: 1.48em;

            .f-avatar {
                font-size: 1.5em;
            }
        }

        .last-message {
            display: none;
        }

        &.active:not(.dragging) {
            .f-nav-contents {
                background: #8c8c8c !important;
            }
        }
    }

    .fab-button > i.icon.blue {
        background-color: #264d6b !important;
    }
}

main > .f-sizer {
    background-color: transparent;
    width: 1.5px;
    box-shadow: initial;
}

html body {
    *::-webkit-scrollbar {
        width: 0.15em;
        height: 0.15em;
    }
    *::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
