<div class="f-compose ui segments">
    <div class="ui segment secondary">
        <div class="ui menu tiny borderless secondary">
            <div class="menu left">
                <div class="item header left">TYPE:</div>
            </div>

            <div class="menu center">
                <div class="item ui dropdown">
                    <input type="hidden" name="msgtype"/>
                    <i class="icon announcement"></i>
                    ANNOUNCEMENTS
                    <i class="icon dropdown"></i>
                    <div class="menu">
                        <div class="item" data-value="bcast">
                            <i class="icon small announcement"></i>
                            ANNOUNCEMENTS
                        </div>
                        <div class="item" data-value="dm">
                            <i class="icon small mail"></i>
                            DIRECT-MESSAGE
                        </div>
                        <div class="item" data-value="survey">
                            <i class="icon small help"></i>
                            POLL
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu right">
                <div class="item fitted">
                    <i class="icon hourglass half circular"></i>
                    <i class="icon eye circular"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="ui segement">
        <div class="ui form">
            <div class="field">
                <textarea rows="2" placeholder="Type message here..."></textarea>
            </div>
        </div>

        <div class="ui menu tiny borderless bottom attached">
            <div class="menu">
                <div class="item">
                    <div class="ui buttons">
                        <button class="ui button icon basic">
                            <i class="icon attach"></i>
                        </button>
                        <button class="ui button icon basic">
                            <i class="icon camera"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="menu right">
                <div class="item">
                    <button class="f-send ui button icon circular green">
                        <i class="send icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
