<div class="label">
    {{> f-avatar avatar}}
</div>
<div class="content">
    <div class="summary">
        <a class="user">{{sender}}</a>
        <div class="date">
            <span class="timestamp" data-timestamp="{{sent_at}}"></span>
        </div>
    </div>
    {{#if body.length}}
        <div class="extra text">{{body}}</div>
    {{/if}}
    {{#if attachments.length}}
        <div class="extra images attachments"></div>
    {{/if}}
    <div class="meta">
        <span class="status hide"></span>
        <span class="timer"></span>
    </div>
</div>
