<div class="label">
    {{#if avatar.url}}
        <img class="ui image avatar" src="{{avatar.url}}"/>
    {{else}}
        <div class="ui label avatar circular {{avatar.color}}"><span>{{avatar.content}}</span></div>
    {{/if}}
</div>
<div class="content">
    <div class="summary">
        <a class="user">{{sender}}</a> chanhed their mofoing keeys  SHIT?
        <div class="date timestamp" title="{{datetime timestamp}}">{{fromnow timestamp}}</div>
    </div>
    <div class="extra text">{{message}}</div>
    {{#if attachments.length}}
        <div class="extra images">
            {{#each attachments}}
                <a href="{{url}}"><img src="{{url}}"/></a>
            {{/each}}
        </div>
    {{/if}}
    <div class="meta"></div>
</div>
