img.f-avatar {
    border-radius: 500em;
    box-shadow: 0.025em 0.025em 0.05em 0 rgba(0, 0, 0, 0.1);
}

.f-avatar {
    $size: 2em;

    margin: 0.025em;
    width: $size !important;
    min-width: $size !important; // Prevents compression from outer layout influence.
    height: $size !important;
    min-height: $size !important; // Prevents compression from outer layout influence.
    transition: box-shadow 100ms;

    .link, &.link {
        cursor: pointer;

        &:hover {
            box-shadow: 0.025em 0.025em 0.05em 0 rgba(0, 0, 0, 0.3);
        }
    }

    &.grid {
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(2, $size / 2);

        > .f-group-size.ui.label {
            overflow: hidden;
            display: block;
            min-height: initial; // clear semantic base style mins
            min-width: initial; // clear semantic base style mins
            padding: 0 !important;
            font-size: 1em;  // Undo semantic's ui.label
            width: $size / 2;
            height: $size / 2;
            margin: 0;

            span {
                font-size: $size / 4;
                vertical-align: top;
                font-weight: normal;
            }
        }

        > img.f-avatar {
            margin: 0;
            font-size: $size / 4 !important;

            &:nth-child(n+5) {
                display: none;
            }
        }
    }
}
