.f-avatar {
    $size: 2em;

    margin: 0.025em;
    width: $size !important;
    min-width: $size !important; // Prevents compression from outer layout influence.
    height: $size !important;
    min-height: $size !important; // Prevents compression from outer layout influence.
    position: relative;

    img {
        border-radius: 500em;
        width: 100% !important;
        height: 100% !important;
        max-width: 100% !important;
        max-height: 100% !important;
        min-width: 100% !important;
        min-height: 100% !important;
    }

    .f-identity-exception.icon {
        position: absolute;
        margin: 0 !important;
        padding: 0 !important;
        bottom: -0.15em;
        right: -0.15em;
        font-size: $size / 2.5 !important;
        width: initial !important;
        line-height: 1em !important;
        filter: drop-shadow(0px 0px 0.025em white)
                drop-shadow(0px 0px 0.025em white)
                drop-shadow(0px 0px 0.025em white);
        display: none;
    }

    &.identity-exception > .f-identity-exception.icon {
        display: inline-block;
    }

    &[data-user-card] {

        img, .icon {
            cursor: pointer;
        }

        img {
            transition: box-shadow 100ms, filter 100ms;
            //box-shadow: 0.015em 0.015em 0.1em 0 rgba(0, 0, 0, 0.3);
        }

        &:hover img {
            box-shadow: 0.02em 0.02em 0.025em 0 rgba(0, 0, 0, 0.7);
        }

        &:active img {
            box-shadow: none;
            filter: brightness(0.7);
        }
    }

    &.grid {
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(2, $size / 2);

        > .f-group-size.ui.label {
            overflow: hidden;
            display: block;
            min-height: initial; // clear semantic base style mins
            min-width: initial; // clear semantic base style mins
            padding: 0 !important;
            font-size: 1em;  // Undo semantic's ui.label
            width: $size / 2;
            height: $size / 2;
            margin: 0;

            span {
                font-size: $size / 4;
                vertical-align: top;
                font-weight: normal;
            }
        }

        > .f-avatar {
            margin: 0;
            font-size: $size / 4 !important;

            &:nth-child(n+5) {
                display: none;
            }
        }
    }
}
