
@mixin fullscreen($hide-header) {
    /* NOTE: Should only be inserted at .f-call-view level */
    margin: 0 !important;
    width: 100%;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
    right: initial !important;
    bottom: initial !important;
    border-radius: 0;
    position: absolute !important;  // Override detached mode as needed.

    @if $hide-header {
        .header {
            display: none;
        }
    }

    .f-members {
        padding: 0 0 0.2em 0;
    }

    .f-presenter {
        padding: 0 0 0.2em 0;

        .f-call-presenter-view {
            border-radius: 0;
        }
    }

    .header {
        .f-detach.button {
            display: none;

            & + .button {
                border-left: none;
            }
        }
    }
}

// XXX nope
.ui.modals.page {
    // These must be separate because each browser dies on the other's declaration. :(
    &:fullscreen .f-call-view.ui.modal {
        @include fullscreen(/*hide-header*/ false);
    }
    &:-webkit-full-screen .f-call-view.ui.modal {
        @include fullscreen(/*hide-header*/ false);
    }
    &:-moz-full-screen .f-call-view.ui.modal {
        @include fullscreen(/*hide-header*/ false);
    }
}

.f-call-view {
    position: absolute;
    z-index: 8;  // Below modals and menus, but above new convo fab.
    overflow: hidden;
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: white;
    transition: opacity, width, height, right, bottom, max-width, max-height, box-shadow;
    transition-duration: 1s;

    &:not(.joined) {
        .f-join-toggle {
            position: absolute;
            margin: 0;
            bottom: 3.5em;
            left: calc(50% - 1.25em);
            transform: scale(1.5);
        }

        .f-call-presenter-view {
            filter: grayscale(0.7) brightness(0.5);
        }

        .f-hover-only {
            opacity: 0;
            visibility: hidden;
        }
    }
    .f-join-toggle {
        transition: transform 200ms;
        position: initial;
    }

    .ui.button[disabled] {
        background-color: #4e4e4e;
    }

    .ui.button.circular.dropdown {
        border-radius: 10em;  // Fix active mode radius munge

        .menu > .item > .icon.image {
            margin-top: 0; // Fix bad selector style on image icons in menus.
        }
    }

    > .header {
        flex: 0 0 auto;
        display: flex;
        font-size: 1rem;
        padding: 1em !important;
        align-items: center;

        > .contents {
            flex: 1 1 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.2rem !important;
            font-size: 0.85em !important;
        }

        > .ui.buttons {
            flex: 0 0 auto;
            font-size: 0.7em;

            &::after {
                content: initial; // Causes padding with ^^ font-size being set.
            }
        }

        .ui.button {
            font-size: 1em;
        }

        .f-call-status {
            font-size: 0.8em !important;
            font-weight: normal;
        }
    }

    .f-soundlevel {
        $width: 2.5em;
        $height: 2.5em;

        opacity: 0.9;
        width: $width;
        height: $height;
        background: #8787875e;
        -webkit-mask-image: url(/@static/images/volume.svg);
        mask-image: url(/@static/images/volume.svg);
        -webkit-mask-size: $width $height;
        mask-size: $width $height;

        .f-indicator {
            height: 100%;
            width: 0;
            background-image: linear-gradient(to right, #6de736, #20c220, #2faa2f, #768f14, #7d0202);
            background-repeat: no-repeat;
            background-size: $width $height;
        }
    }

    .f-members {
        flex: 1 1 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background: #1b1b1b;
    }

    .f-presenter {
        flex: 1 1 100%;
        overflow: hidden;
    }

    .f-audience {
        flex: 1 3 auto;
        max-height: 18em;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-direction: row-reverse;
    }

    > .actions {
        flex: 0 0 auto;
        max-height: 5em;
        padding: 1em 0.5em;
        border: none;
        transition: max-height 300ms, padding 300ms;
        transition-delay: 0s;

        .footer {
            align-self: flex-end;
            text-align: center;
            padding-right: 3em; // Try to center overall
        }

        .ui.button {
            font-size: 1em;
            min-height: 2.4em; // Prevent squishing when actions is flattened.

            &:not(:active) {
                box-shadow: 1px 1px 0.1em 0 #0007 !important;
            }
        }

        .f-options.button {
            .icon.image {
                vertical-align: unset;
            }
        }
    }

    .ui.button.deactivate,
    .ui.dropdown .item.deactivate {
        display: none;
    }

    &.video-muted .f-video.button.mute {
        &.activate {
            display: none;
        }
        &.deactivate {
            display: inline-block;
        }
    }

    &.audio-muted .f-audio.button.mute {
        &.activate {
            display: none;
        }
        &.deactivate {
            display: inline-block;
        }
    }
}


.f-call-presenter-view {
    position: relative;
    background: #000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: filter 500ms;

    &:hover {
        .f-hover-only {
            opacity: 1;
            visibility: visible;
        }
    }

    .video-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        flex: 1 1 100%;
        transition: filter 200ms;
    }

    .f-footer {
        position: absolute;
        width: 100%;
        background: linear-gradient(to bottom,
                                    rgba(76, 76, 76, 0.22) 0%,
                                    rgba(44, 44, 44, 0.30) 50%,
                                    rgba(19, 19, 19, 0.42) 100%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.3em 0.5em;
        bottom: 0;
        left: 0;
        color: white;
        z-index: 2;

        & > .column {
            flex: 0 0 33.333333%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;

            &:first-child {
                align-items: flex-start;
            }
            &:last-child {
                align-items: flex-end;
            }
        }
    }

    .f-floating-buttons {
        position: absolute;
        right: 0;
        opacity: 0;
    }

    .f-hover-only {
        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms, visibility 200ms;
    }

    .f-user {
        display: flex;
        align-items: center;
        max-width: 100%;

        .f-avatar {
            margin-right: 0.4em;
        }

        .f-user-info {
            color: white;
            overflow: hidden;
            line-height: 1.2em;

            .name {
                color: inherit;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .slug {
                font-size: 0.8em;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    .f-status {
        text-transform: capitalize;

        &:empty {
            display: none;
        }
    }

    &.silenced {
        .f-silence.item {
            &.activate {
                display: none;
            }
            &.deactivate {
                display: block !important;
            }
        }
    }

    &.disabled {
        // XXX disabled now means no video, but it probably is handled by peer state changes.
        .video-wrap {
            filter: grayscale(0.5) brightness(0.5);
        }

        .f-disable.item {
            &.activate {
                display: none;
            }
            &.deactivate {
                display: block !important;
            }
        }
    }

    .novideo,
    video {
        height: 100%;
        width: 100%;
        transition: opacity 200ms, visibility 200ms;
    }

    .novideo {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 1em 0.3em;

        .f-avatar {
            margin: auto;
            display: block;
            object-fit: contain;
            width: auto !important;
            height: auto !important;
            max-width: 14em;
            max-height: 100%;
        }
    }

    video {
        visibility: hidden;
        opacity: 0;
    }

    &.streaming {
        video {
            visibility: visible;
            opacity: 1;
        }
        .novideo {
            visibility: hidden;
            opacity: 0;
        }
    }

    a {
        cursor: pointer;
    }
}


.f-call-member-view {
    background: #222;
    border-radius: 0.20em;
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    font-size: 0.8em;
    margin: 0.22em;
    overflow: hidden;
    position: relative;
    min-width: 4em;
    cursor: pointer;
    transition: background 200ms;

    .f-soundlevel {
        font-size: 0.7em;
        left: calc(50% - 1.25em);  // 1.25 = half current width of f-soundmeter
        bottom: 0;
        position: absolute;
    }

    &:hover {
        background: #333;
    }

    .f-status-circle.icon {
        position: absolute;
        top: 0.1em;
        right: 0.1em;
        margin: 0;
        color: white;
    }

    .video-wrap {
        overflow: hidden;
        position: relative;
        flex: 1 1 100%;
        transition: filter 400ms;
    }

    .novideo,
    video {
        height: 100%;
        width: 100%;
        transition: opacity 1s, visibility 1s;
    }

    .novideo {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 1em 0.3em;
        top: 0;
        left: 0;

        .f-avatar {
            margin: auto;
            display: block;
            object-fit: contain;
            width: auto !important;
            height: auto !important;
            max-width: 100%;
            max-height: 100%;
            min-width: 0 !important;
            min-height: 0 !important;
        }
    }

    video {
        visibility: hidden;
        opacity: 0;
    }

    &.streaming:not(.presenting) {
        video {
            visibility: visible;
            opacity: 1;
        }

        .novideo {
            visibility: hidden;
            opacity: 0;
        }
    }

    &.presenting {
        display: none;
    }

    &.disabled {
        .video-wrap {
            filter: grayscale(0.5) brightness(0.5);
        }
    }
}


.f-call-settings-view {
    overflow: visible !important;  // For dropdown.

    .f-bitrate-limit {
        input[type=range] {
            display: inline-block;
        }

        .ui.label {
            vertical-align: top;
        }
    }
}


@media screen and (min-width: $small_screen) {
    .f-call-view {
        &.detached {
            font-size: 0.75em;
            right: 1rem;
            bottom: 6rem;
            width: 22rem;
            max-width: 50vw;
            height: 25rem;
            max-height: 50vh;
            box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.2), 1px 3px 15px 2px rgba(0, 0, 0, 0.2);
            border-radius: 0.22rem;

            > .header {
                cursor: move;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            &.moving {
                opacity: 0.5;
            }
        }

        &.joined.detached:not(:hover) {
            > .actions {
                max-height: 0;
                padding: 0 0.5em;
                transition-delay: 1s;  // Delay transition BACK to not:hovered
            }
        }
    }
}


@media screen and (max-width: $small_screen) {
    .F.O.R .f-call-view {
        @include fullscreen(/*hide-header*/ false);
    }
}
