
@mixin fullscreen {
    :fullscreen {
        @content;
    }
    :-webkit-full-screen {
        @content;
    }
    :-moz-full-screen {
        @content;
    }
}

.f-call-view {
    .not-fullscreen-only {
        display: initial;
    }
    .fullscreen-only {
        display: none;
    }
}

@include fullscreen() {
    .f-call-view {
        .not-fullscreen-only {
            display: none;
        }
        .fullscreen-only {
            display: initial;
        }
    }
}


.f-call-view {
    position: absolute;
    z-index: 11;  // Below modals and menus, but above new convo fab and slide out nav when on small screen
    overflow: hidden;
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    transition: opacity, width, height, right, bottom, max-width, max-height, box-shadow, font-size;
    transition-duration: 400ms;

    &:not(.joined) {
        .joined-only {
            display: none !important;
        }

        .f-call-presenter-view {
            video,
            .novideo {
                filter: grayscale(1) brightness(0.33);
            }

            .not-joined-overlay {
                opacity: 1;
                visibility: visible;
            }
        }

        .f-hover-only {
            opacity: 0 !important;
            visibility: hidden !important;
        }

        footer {
            .f-screenshare.ui.button {
                display: none !important;
            }
        }
    }

    &.joined {
        .not-joined-only {
            display: none !important;
        }
    }

    &:not(.incoming-call) {
        .incoming-call-only {
            display: none !important;
        }
    }

    &.incoming-call {
        .not-incoming-call-only {
            display: none !important;
        }
    }

    &.screensharing {
        footer {
            .f-screenshare.ui.button {
                .f-stop {
                    display: initial;
                }
            }
        }
    }

    &:not(.detached) .detached-only {
        display: none !important;
    }
    &.detached .not-detached-only {
        display: none !important;
    }

    .ui.button[disabled] {
        background-color: #4e4e4e;
    }

    .ui.button.circular.dropdown {
        border-radius: 10em;  // Fix active mode radius munge

        .menu > .item > .icon.image {
            margin-top: 0; // Fix bad selector style on image icons in menus.
        }
    }

    > header {
        flex: 0 0 auto;
        display: flex;
        font-size: 1em;
        align-items: center;
        min-height: 4em;
        background: #444;
        color: white;

        > .contents {
            margin-left: 1em;
            flex: 1 1 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        > .ui.buttons {
            font-size: 0.85em;
            margin-right: 0.6rem;

            &::after {
                content: initial; // Causes padding with ^^ font-size being set.
            }
        }

        .ui.button {
            font-size: 1em;
        }

        .f-call-status {
            font-size: 0.8em !important;
            font-weight: normal;
        }
    }

    .f-soundlevel {
        $width: 2.5em;
        $height: 2.5em;

        opacity: 0.9;
        width: $width;
        height: $height;
        background: #8787875e;
        -webkit-mask-image: url(/@static/images/volume.svg);
        mask-image: url(/@static/images/volume.svg);
        -webkit-mask-size: $width $height;
        mask-size: $width $height;

        .f-indicator {
            height: 100%;
            width: 0;
            background-image: linear-gradient(to right, #6de736, #20c220, #2faa2f, #768f14, #7d0202);
            background-repeat: no-repeat;
            background-size: $width $height;
        }
    }

    > main {
        flex: 1 1 100%;
        background: #eee;

        display: flex;

        .f-members {
            flex: 1 1 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            background: #1b1b1b;
        }

        .f-thread-toggle {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            box-shadow: inset -6px 0 10px #5b5b5b50;
            cursor: pointer;

            &:hover {
                box-shadow: inset -6px 0 10px #5b5b5ba0;
            }

            .icon {
                margin: 0;
            }
        }

        .f-thread {
            flex: 0 0 18em;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
        }
    }

    .f-presenter {
        flex: 1 1 100%;
        overflow: hidden;
    }

    .f-audience {
        flex: 1 3 auto;
        max-height: 18em;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-direction: row-reverse;
    }

    > footer {
        display: flex;
        flex: 0 0 auto;
        max-height: 5rem;  // Use rem to avoid transition during font-size chagnes (e.g. detaching).
        padding: 0 0.5em;
        border: none;
        transition: max-height 300ms;
        background: #eee;

        & > * {
            margin-top: 1em !important;
            margin-bottom: 1em !important;
        }

        .status {
            flex: 1 1 auto;
            align-self: flex-end;
            text-align: center;
            padding-right: 3em; // Try to center overall
        }

        .ui.button {
            font-size: 1em;
            min-height: 2.4em; // Prevent squishing when footer is flattened.

            &:not(:last-child) {
                margin-right: .75em;
            }

            &:not(:active) {
                box-shadow: 1px 1px 0.1em 0 #0007 !important;
            }
        }

        .f-screenshare.button {
            .f-stop.icon {
                display: none;
            }
        }

        .f-options.button {
            .icon.image {
                vertical-align: unset;
            }
        }
    }

    &:not(.audio-muted) {
        .audio-muted-only {
            display: none !important;
        }
    }

    &.audio-muted {
        .not-audio-muted-only {
            display: none !important;
        }
    }

    &:not(.video-muted) {
        .video-muted-only {
            display: none !important;
        }

        .f-call-member-view {
            &:not(.streaming) {
                video {
                    visibility: hidden;
                    opacity: 0;
                }
            }

            &.streaming {
                .novideo {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        .f-call-presenter-view {
            &:not(.streaming) {
                video {
                    visibility: hidden;
                    opacity: 0;
                }
            }

            &.streaming {
                .novideo {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }

    &.video-muted {
        .not-video-muted-only {
            display: none !important;
        }

        .f-call-member-view {
            &.streaming:not(.outgoing) {
                .novideo {
                    visibility: hidden;
                    opacity: 0;
                }
            }

            &:not(.streaming),
            &.outgoing {
                video {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        .f-call-presenter-view {
            &.streaming:not(.outgoing) {
                .novideo {
                    visibility: hidden;
                    opacity: 0;
                }
            }

            &:not(.streaming),
            &.outgoing {
                video {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }
}


.f-call-presenter-view {
    position: relative;
    background: #000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: filter 400ms;

    &:hover {
        .f-hover-only {
            opacity: 1;
            visibility: visible;
        }
    }

    &.silenced {
        .not-silenced-only {
            display: none !important;
        }
    }

    &:not(.silenced) {
        .silenced-only {
            display: none !important;
        }
    }

    .video-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        flex: 1 1 100%;
        transition: filter 200ms;
    }

    .f-footer {
        position: absolute;
        width: 100%;
        background: linear-gradient(to bottom,
                                    rgba(76, 76, 76, 0.22) 0%,
                                    rgba(44, 44, 44, 0.30) 50%,
                                    rgba(19, 19, 19, 0.42) 100%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.3em 0.5em;
        bottom: 0;
        left: 0;
        color: white;
        z-index: 2;

        & > .column {
            flex: 0 0 33.333333%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;

            &:first-child {
                align-items: flex-start;
            }
            &:last-child {
                align-items: flex-end;
            }
        }
    }

    .f-floating-buttons {
        position: absolute;
        right: 0;
        opacity: 0;
    }

    .f-hover-only {
        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms, visibility 200ms;
    }

    .f-user {
        display: flex;
        align-items: center;
        max-width: 100%;

        .f-avatar {
            margin-right: 0.4em;
        }

        .f-user-info {
            color: white;
            overflow: hidden;
            line-height: 1.2em;

            .name {
                color: inherit;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .slug {
                font-size: 0.8em;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    .f-status {
        text-transform: capitalize;

        &:empty {
            display: none;
        }
    }

    &.disabled {
        // XXX disabled now means no video, but it probably is handled by peer state changes.
        .video-wrap {
            filter: grayscale(0.5) brightness(0.5);
        }
    }

    .novideo,
    video {
        height: 100%;
        width: 100%;
        transition: opacity 400ms, visibility 400ms;
    }

    .not-joined-overlay {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: opacity 400ms, visibility 400ms;
        visibility: hidden;
        opacity: 0;
        z-index: 1;

        .f-outgoing {
            display: flex; 
            flex-direction: column;
            align-items: center;
            max-height: 100%;
            max-width: 100%;

            > *:not(:last-child) {
                margin-bottom: 1em;
            }

            .ui.button {
                font-size: 1em;  // Disable rem based sizing so we scale properly.
            }

            .f-join-buttons {
                align-items: center;
                font-size: 0.9em;

                .ui.button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    .icon {
                        display: block;
                        font-size: 2em;
                        line-height: 1.3em;
                        height: auto;
                        padding-bottom: 0.2em;
                    }
                }

                .or {
                    font-size: 0.85em;
                }
            }

            .f-share-link {
                max-width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:empty {
                    display: none;
                }

                &::before {
                    content: 'Sharable Link:';
                    display: block;
                    font-weight: bold;
                    margin-bottom: 0.4em;
                }

                &.copied::after {
                    display: block;
                    font-weight: 300;
                    font-size: 0.8em;
                    margin-top: 0.4em;
                    content: 'Copied to clipboard';
                }
            }

            .f-share-link:not(:empty) + .f-share.button {
                display: none;
            }
        }
    }

    .novideo {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 1em 0.3em;

        .f-avatar {
            margin: auto;
            display: block;
            object-fit: contain;
            width: auto !important;
            height: auto !important;
            max-width: 14em;
            max-height: 100%;
        }
    }

    a {
        cursor: pointer;
    }
}


.f-call-member-view {
    background: #222;
    border-radius: 0.20em;
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    font-size: 0.8em;
    margin: 0.22em;
    overflow: hidden;
    position: relative;
    min-width: 4em;
    cursor: pointer;
    transition: background 200ms;

    .f-soundlevel {
        font-size: 0.7em;
        left: calc(50% - 1.25em);  // 1.25 = half current width of f-soundmeter
        bottom: 0;
        position: absolute;
    }

    &:hover {
        background: #333;
    }

    .f-status-circle.icon {
        position: absolute;
        top: 0.1em;
        right: 0.1em;
        margin: 0;
        color: white;
    }

    .video-wrap {
        overflow: hidden;
        position: relative;
        flex: 1 1 100%;
        transition: filter 400ms;
    }

    .novideo,
    video {
        height: 100%;
        width: 100%;
        transition: opacity 400ms, visibility 400ms;
    }

    .novideo {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 1em 0.3em;
        top: 0;
        left: 0;

        .f-avatar {
            margin: auto;
            display: block;
            object-fit: contain;
            width: auto !important;
            height: auto !important;
            max-width: 100%;
            max-height: 100%;
            min-width: 0 !important;
            min-height: 0 !important;
        }
    }

    &.presenting {
        display: none;
    }

    &.disabled {
        .video-wrap {
            filter: grayscale(0.5) brightness(0.5);
        }
    }
}


.f-call-settings-view {
    overflow: visible !important;  // For dropdown.

    .f-bitrate-limit {
        input[type=range] {
            display: inline-block;
        }

        .ui.label {
            vertical-align: top;
        }
    }
}


@media screen and (min-width: $small_screen) {
    .f-call-view {
        &.detached {
            font-size: 0.75em;
            right: 1rem;
            bottom: 6rem;
            width: 22rem;
            max-width: 50vw;
            height: 25rem;
            max-height: 50vh;
            box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2), 1px 1px 15px 2px rgba(127, 127, 127, 0.5);
            border-radius: 0.22rem;

            > header {
                cursor: move;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            &.moving {
                opacity: 0.5;
                transition: opacity 200ms;
            }
        }

        &.joined.detached:not(:hover) {
            > footer {
                max-height: 0;
                transition-delay: 1s;  // Delay transition BACK to not:hovered
            }
        }
    }
}

@media screen and (max-width: $small_screen) {
    .f-call-view {
        right: 0 !important;
        bottom: 0 !important;

        .detached-only,
        .not-detached-only {
            display: none;
        }
    }
}
