

.emoji-sheet-image {
    display: inline-block;
    background-image: url(/@static/images/emoji/google/sheets/64.png);
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    transform: scale(0.33);
    margin: -20px;
    overflow: hidden;
    cursor: pointer;
}

.f-emoji-picker {
    display: flex;
    flex-direction: column;
}

.f-search-results {
    margin-bottom: 1em;
}

.f-catalog {
    .ui.sub.header {
        margin-top: 0.35em;
    }
}
