

.emoji-sheet-image {
    display: inline-block;
    background-image: url(/@static/images/emoji/google/sheets/32.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    transform: scale(0.75);
    margin: -4px;
    overflow: hidden;
    cursor: pointer;
}

.f-emoji-picker {
    display: flex;
    flex-direction: column;
}

.f-search-results {
    margin-bottom: 1em;
}
