@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900|Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

@import 'scrollbar';
@import 'reset';
@import 'semantic';


html {
    font-family: 'Lato';
    -webkit-tap-highlight-color: transparent;
}

small {
    font-weight: 300;
}

.json {
    margin: 1em;
    padding: 1em;
    border: 1px solid rgba(0, 114, 255, 0.3);
    word-wrap: break-word;
    overflow-y: auto;
    font-family: $monospace;
    font-size: 0.8em;
    white-space: pre-wrap;
}

.depth-shadow {
    box-shadow: 0.08em 0.08em 0.25em 0.025em rgba(0, 0, 0, 0.3) !important;

    &:hover {
        box-shadow: 0.08em 0.08em 0.25em 0.025em rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
        box-shadow: 0 0 .25em 0.025em rgba(0, 0, 0, 0.3) inset !important;
    }
}

.icon.close {
    cursor: pointer;
}

.ui.modal .icon.inset {
    top: 1rem;
    right: 1rem;
    color: black;
}

.ui.modal.fluid {
    width: auto;
    -webkit-align-self: center;
    align-self: center;

    .content {
        width: auto;
    }
}

.ui.modal .actions .footer {
    flex: 1 1 auto;
    text-align: left;
    font-size: 0.9em;
    line-height: 1em;

    p {
        font-style: italic;
    }
}

.member-list {
    max-height: 33vh;
    overflow-y: auto;

    .member-row {
        display: flex;
        padding: 0.25em;

    }
    .member-avatar {
        padding-right: 0.5em;

        .f-avatar {
            font-size: 1.333em;
        }
    }

    .member-info {
        flex: 1 1 auto;
        overflow: hidden;

        a {
            cursor: pointer;
            display: block; // For ellipsis...
        }

        .name, .slug {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .slug {
            font-size: 0.9em;
            font-weight: 300;
        }
    }

    .member-extra {
        align-self: center;
    }
}

.f-user-card.ui.card {
    width: 256px;
    max-width: 90vw;
    overflow: hidden;
    margin: 0 auto;

    .f-avatar-image {
        position: relative;

        img {
            width: 100%;
        }
    }

    .f-trust, .f-identity {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        background: rgba(0, 0, 0, 0.85);
        opacity: 0.9;
    }

    .f-trust {
        padding: 1em;
    }

    .f-identity {
        padding: 0.5em;
        font-size: 0.8em;

        .buttons .button {
            padding-left: 0.1em;
            padding-right: 0.1em;
        }
    }

    .ui.label {
        margin-bottom: 0.5em;
    }

    .content .description {
        margin-top: 0.1em !important;
        margin-bottom: 0.75em;
        font-size: 0.9em;
    }

    .content .meta {
        padding: 0.25em 0;
        font-size: 0.9em;
    }

    &.pending {
        .f-avatar-image img {
            filter: sepia(100%) brightness(30%);
        }
    }

    .content {
        overflow: hidden;
        word-wrap: break-word;
    }
}

.f-list {
    .row {
        display: flex;
        padding: 0.3em;
        border-radius: 0.25em;
        overflow: hidden;
        align-items: center;

        > * {
            margin: 0 0.3em !important;
            flex: 0 0 auto;
        }

        > .content {
            flex: 1 1 100%;
            overflow: hidden;

            .description, .header {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .description {
                font-weight: 300;
                font-size: 0.9em;
                padding: 0 !important;  // override mobile styling from semantic
            }
        }

        &:hover {
            background: rgba(0, 0, 0, 0.02);
        }
    }
}

.identity-phrase {
    font-family: $monospace;
    font-weight: 600;
    margin: 1em;
    padding: 1em;
    border-radius: 0.25em;
    box-shadow: 0.05em 0.05em 0.25em 0.02em rgba(0, 0, 0, 0.2);
    white-space: pre;
    width: max-content;

    &.compact {
        padding: 0.2em 0.4em;
        margin: 0.2em 0.4em;
    }

    &.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

i.icons .corner.icon {
    /* This technique for creating a white surround is vastly cleaner than the one used
     * by semantic.  Since spread isn't valid in text-shadow we just combine enough blurred
     * shadows to negate the blur effect entirely and get a clean white outline. */
    $shadow-fragment: 0 0 0.1em #fff;
    text-shadow: $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment;
}

@media only screen and (max-width: 768px) and (min-width: 375px) {
    html {
        font-size: 16px;
    }
}
