@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

html {
    font-family: 'Lato';
}

small {
    font-weight: 300;
}

@media only screen and (max-width: 768px) and (min-width: 375px) {
    html {
        font-size: 16px;
    }
}
