@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900|Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

@import 'scrollbar';
@import 'reset';
@import 'semantic';
@import 'avatar';
@import 'user_card';


html {
    font-family: 'Lato';
    -webkit-tap-highlight-color: transparent;
}

small {
    font-weight: 300;
}

.json {
    margin: 1em;
    padding: 1em;
    border: 1px solid rgba(0, 114, 255, 0.3);
    word-wrap: break-word;
    overflow-y: auto;
    font-family: $monospace;
    font-size: 0.8em;
    white-space: pre-wrap;
}

.depth-shadow {
    box-shadow: 0.08em 0.08em 0.25em 0.025em rgba(0, 0, 0, 0.3) !important;

    &:hover {
        box-shadow: 0.08em 0.08em 0.25em 0.025em rgba(0, 0, 0, 0.5) !important;
    }
    &:active {
        box-shadow: 0 0 .25em 0.025em rgba(0, 0, 0, 0.3) inset !important;
    }
}

.icon.close {
    cursor: pointer;
}

/* make modals center by pure CSS so modal().refresh is never needed. */
.F.O.R.S.T.A body > .ui.modals.page {
    display: flex !important;
    justify-content: center;
    align-items: center;

    .ui.modal {
        margin: 0 !important;
        top: auto !important;
        left: auto !important;
        right: initial !important;
        bottom: initial !important;

        &.scrolling {
            position: absolute !important;  // Prevent relative position when scrolling.
        }
    }
}

.ui.modal .icon.inset {
    top: 1rem;
    right: 1rem;
    color: black;
}

.ui.modal.fluid {
    width: auto;
    -webkit-align-self: center;
    align-self: center;

    .content {
        width: auto;
    }
}

.ui.modal .actions .footer {
    flex: 1 1 auto;
    text-align: left;
    font-size: 0.9em;
    line-height: 1em;

    p {
        font-style: italic;
    }
}

.ui.modal:not(.basic) {
    border-radius: 0.2857em;
    overflow: hidden;
}

.member-list {
    max-height: 33vh;
    overflow-y: auto;

    .member-row {
        display: flex;
        padding: 0.25em;

    }

    .member-avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.05em 0.5em 0.05em 0;  // The top-bottom margin prevents scrollbars on some chrome devices.

        .f-avatar {
            font-size: 1.333em;
        }
    }

    .member-info {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0.25em;

        a {
            cursor: pointer;
            display: block; // For ellipsis...
        }

        .name, .slug {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 1.2em;
        }

        .slug {
            font-size: 0.85em;
            font-weight: 300;
        }
    }

    .member-extra {
        align-self: center;
    }
}

.f-list {
    .row {
        display: flex;
        padding: 0.3em;
        border-radius: 0.25em;
        overflow: hidden;
        align-items: center;

        > * {
            margin: 0 0.3em !important;
            flex: 0 0 auto;
        }

        > .content {
            flex: 1 1 100%;
            overflow: hidden;

            .description, .header {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .description {
                font-weight: 300;
                font-size: 0.9em;
                padding: 0 !important;  // override mobile styling from semantic
            }
        }

        &:hover {
            background: rgba(0, 0, 0, 0.02);
        }
    }
}

.identity-phrase {
    font-family: $monospace;
    font-weight: 600;
    line-height: 1.4em;
    margin: 1em;
    padding: 1em;
    border-radius: 0.25em;
    box-shadow: 0.05em 0.05em 0.25em 0.02em rgba(0, 0, 0, 0.2);
    white-space: pre;
    width: max-content;

    &.compact {
        padding: 0.3em 0.5em;
        margin: 0.3em 0.4em;
    }

    &.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

i.icons .corner.icon {
    /* This technique for creating a white surround is vastly cleaner than the one used
     * by semantic.  Since spread isn't valid in text-shadow we just combine enough blurred
     * shadows to negate the blur effect entirely and get a clean white outline. */
    $shadow-fragment: 0 0 0.1em #fff;
    text-shadow: $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment,
                 $shadow-fragment;
}

[f-type="tag"] {
    font-weight: bold;
    color: cornflowerblue;
}

.f-popup-view {
    position: absolute !important;
    margin: 0 !important;
    z-index: 100;
}

[data-tag-card] {
    cursor: pointer;
}

.f-tag-card.ui.card {
    padding: 1em;
    font-size: 0.9em;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);

    .f-avatar {
        font-size: 1.1em;
    }

    .member-extra {
        margin-left: 1em;
    }
}

.f-dist-editor {

    > .ui.header > .sub.header {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .f-visual-dist {
        word-wrap: break-word;
        white-space: pre-wrap;
        font-size: 1.15em;
        padding: 0.5em;

        .ui.label {
            margin: 0.25em;
            display: inline-flex;
            align-items: center;
            white-space: initial;
            padding: 0.25em 0.4em;
            vertical-align: middle;
            min-height: 2.2em;

            .f-avatar {
                margin: 0 0.5em 0 0;
                font-size: 0.8em;
            }
        }
    }
}

input[type="range"] {
    margin: 0.25em;
    display: block;  // Way too irregular with default of inline-block;
}


.radiate {
    animation: radiate 1.5s infinite;
    border-radius: 500em;
    overflow: visible;

    &.fast {
        animation-duration: 0.75s;
    }

    &.slow {
        animation-duration: 3s;
    }
}

@keyframes radiate {
    0% {
        box-shadow: 0 0 0 0;
    }
    70% {
        box-shadow: 0 0 0 0.5em transparent;
    }
    100% {
        box-shadow: 0 0 0 0 transparent;
    }
}

.ui.button {
    background-image: linear-gradient(to bottom right, transparent, rgba(0, 0, 0, 0.15)) !important;
}
