@import 'mixins';

#f-header-view {
    flex: 0 0 auto;
    position: relative;

    > .ui.menu {
        height: 4em;
        margin: 0;
        border: 0 none transparent;
        border-radius: initial;

        .item img.f-logo {
            margin: -1.1em 0em -0.9em;
            height: 1.56em;
            width: initial;
        }

        @include avatar(3rem);

        .f-toc .icon {
            font-size: .85em;
            margin-left: 0.75em;
        }
    }

    .f-toc-menu {
        transition: max-height 200ms, visibility 200ms;
        position: absolute;
        overflow: hidden;
        z-index: 11; // Above left nav on mobile.
        right: 0;
        max-height: 0;
        visibility: hidden;

        &.visible {
            transition: max-height 200ms ease-out, visibility 200ms;
            visibility: visible;
            max-height: 100vh;
        }

        .ui.menu {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin: 0 0 4px 4px;  // Avoid clipping box shadow
            max-height: 80vh;
            overflow-y: auto;

            .item .menu {
                margin-top: 0;

                .item {
                    color: rgba(0, 0, 0, 0.7);
                    font-size: 1em;
                    padding-top: .7em;
                    padding-bottom: .7em;

                    &:hover {
                        color: black;
                        background-color: rgba(0, 0, 0, 0.08);
                    }
                }
            }
        }
    }
}

@media screen and (max-height: 600px) {
    #f-header-view .f-toc-menu .ui.menu .item .menu .item {
        font-size: 0.8em;
        padding-top: .5em;
        padding-bottom: .5em;
    }
}
