@import 'mixins';
@import 'linked_devices';


#f-header-view {
    flex: 0 0 auto;
    position: relative;

    > .ui.menu {
        height: 4em;
        margin: 0;
        border: 0 none transparent;
        border-radius: initial;

        .f-brand.item {
            font-size: 0.8em;

            img.f-logo {
                margin: -1.1em 0em -0.9em;
                height: 1.56em;
                width: initial;
            }
        }

        .f-toc {
            .f-avatar {
                font-size: 1.5em;
            }

            .icon {
                font-size: .85em;
                margin-left: 0.75em;
            }
        }
    }

    .f-toc-menu {
        transition: max-height 200ms, visibility 200ms;
        position: absolute;
        overflow: hidden;
        z-index: 11; // Above left nav on mobile.
        right: 0;
        max-height: 0;
        visibility: hidden;

        &.visible {
            transition: max-height 200ms ease-out, visibility 200ms;
            visibility: visible;
            max-height: 100vh;
        }

        .ui.menu {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin: 0 0 4px 4px;  // Avoid clipping box shadow
            max-height: 80vh;
            overflow-y: auto;

            .item {
                padding-top: 0.5em;
                padding-bottom: 0.5em;

                .header {
                    margin-top: 0.5em;
                }

                .menu {
                    margin-top: 0;

                    .item {
                        color: rgba(0, 0, 0, 0.7);
                        font-size: 0.9em;
                        padding-top: .7em;
                        padding-bottom: .7em;

                        &:hover {
                            color: black;
                            background-color: rgba(0, 0, 0, 0.08);
                        }
                    }
                }
            }
        }
    }

    .f-search.item {
        padding: 0 0.2em;

        .ui.search {
            input {
                width: 22em;
                transition: width 400ms, opacity 400ms, padding 400ms;
                background-color: #777;
                color: white;

                &:focus {
                    border-color: transparent;
                }

                &::placeholder {
                    color: #ccc !important;
                }

                &::selection {
                    color: rgba(255, 255, 255, 0.9);
                    background: rgba(33, 150, 243, 0.74);
                }
            }

            i.search.icon {
                transition: font-size 400ms, opacity 100ms;
                color: white;
            }

            &:not(.focus) {
                i.search.icon {
                    opacity: 0.85;
                    font-size: 1.2em;
                }

                input {
                    width: 0em;
                    opacity: 0;
                    padding-right: 0 !important;
                }
            }

            .results {
                width: 100%;
                max-height: 80vh;
                overflow: auto;
                color: black; // Fix for being hosted in inverted menu.

                .ui.segment {
                    padding-top: 0;
                }

                .f-result.active {
                    box-shadow: 0px 0px 0px 1px rgba(0, 91, 255, 0.46);
                    background-color: rgba(0, 0, 0, 0.01);
                }

                .f-contacts {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;

                    .f-result.contact {
                        margin: 0 0.1em 0.7em;
                        padding: 0.3em;
                        border-radius: 0.3em;
                        width: 4em;
                        overflow: hidden;

                        .f-avatar {
                            font-size: 1.5em;
                            margin: auto;
                        }

                        .name {
                            margin-top: 0.1em;
                            text-align: center;
                            font-size: 0.9em;
                            color: #222;
                            font-weight: 300;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.15);
                        }
                    }
                }

                .f-messages {
                    .f-result.message {
                        display: flex;
                        padding: 0.5em 0.3em;

                        .f-avatar {
                            margin-right: 0.5em;
                        }

                        .content {
                            overflow: hidden;
                            font-size: 0.9em;

                            .description, .header {
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }

                            .header {
                                font-weight: normal;
                            }

                            .description {
                                font-size: 0.9em;
                            }
                        }
                    }
                }
            }
        }
    }

    .f-view-profile {
        padding-top: 1em !important;
        padding-bottom: 1em !important;
    }
}

@media screen and (max-height: 600px) {
    #f-header-view {
        .f-toc-menu .ui.menu .item .menu .item {
            font-size: 0.8em;
            padding-top: .5em;
            padding-bottom: .5em;
        }

        .f-view-profile {
            padding-top: .65em !important;
            padding-bottom: .65em !important;
        }
    }
}

// Make sure max-width matches F.util.isSmallScreen()
@media screen and (max-width: 768px) {
    #f-header-view {
        .f-search.item .ui.search {
            position: absolute;
            right: 0;

            input {
                padding: 1em;
                width: 78vw;  // NOTE: tuned for all popular mobile devices!
                box-shadow: 2px 2px 12px 5px rgba(0, 0, 0, 0.75) !important;
            }

            &.focus {
                z-index: 20;
            }
        }

        .f-toc.item {
            padding-left: 0.5em;

            > .icon.dropdown {
                display: none;
            }
        }
    }
}
