@mixin _fab-shadow {
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.25);

    &:hover:not(.off), &.open:not(.off) {
        box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
        filter: saturate(100%);
    }
}

@mixin fab-button($font-size: 1em, $fgcolor: white) {
    $button-size: $font-size * 2;
    $extra-button-offset: 0.65em;
    $extra-button-pad: 0.25em;
    $animationTime: 125ms;
    $primaryAnimationTime: 200ms;
    $animationHideDelay: 400ms;
    $revealDelay: 30ms; // For secondary icons only.

    .fab-button {
        @include _fab-shadow;
        position: relative;
        width: $button-size;
        height: $button-size;
        font-size: $font-size;
        position: relative;
        border-radius: 500rem;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        > i.icon {
            border-radius: 500rem;
            transition: visibility $animationTime, opacity $animationTime;
            width: inherit;
            height: inherit;
            position: absolute;
            color: $fgcolor !important;
            line-height: $button-size;
            transform-origin: $font-size $font-size 0; // Center the rotatation.
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin: 0;
            background-image: linear-gradient(to bottom right, transparent, rgba(0, 0, 0, 0.15));

            &:active {
                box-shadow: 0 0 .25em 0.025em rgba(0, 0, 0, 0.3) inset;
            }

            &::before {
                transition: visibility $primaryAnimationTime, transform $primaryAnimationTime, opacity $primaryAnimationTime;
                display: inline-block;
            }

            > label {
                font-size: $font-size * 0.66;
                font-family: 'Lato', sans-serif;
                position: absolute;
                z-index: 100;
                padding: 0.5em;
                background: #333;
                color: #f0f0f0;
                top: $font-size * .4;
                white-space: pre;
                line-height: 1em;
                border-radius: .4em;
                border: 1px solid #999;
                opacity: 0.9;
                box-shadow: 0.08em 0.08em 0.05em 0 rgba(0, 0, 0, 0.3);
                right: $font-size * 2.5;
                margin-right: 0.5em;
                &.right {
                    right: initial;
                    margin-right: 0;
                    left: $font-size * 2.5;
                    margin-left: 0.5em;
                }
            }

            &.red {
                background-color: $red !important;
            }
            &.orange {
                background-color: $orange !important;
            }
            &.blue {
                background-color: $blue !important;
            }
            &.light-blue {
                background-color: $light-blue !important;
            }
            &.green {
                background-color: $material_green !important;
            }
            &.pink {
                background-color: $material_pink !important;
            }
            &.purple {
                background-color: $material_purple !important;
            }
            &.indigo {
                background-color: $material_indigo !important;
            }
            &.cyan {
                background-color: $material_cyan !important;
            }
            &.teal {
                background-color: $material_teal !important;
            }
            &.light-green {
                background-color: $material_light_green !important;
            }
            &.deep-orange {
                background-color: $material_deep_orange !important;
            }
            &.amber {
                background-color: $material_amber !important;
            }
            &.blue-grey {
                background-color: $material_blue_grey !important;
            }
            &.grey {
                background-color: grey !important;
            }
        }

        > i.icon.off {
            cursor: default;
            filter: brightness(40%);
        }

        > i.icon:first-child {
            transition-delay: $animationHideDelay;

            &::before {
                transition-delay: $animationHideDelay;
            }
        }

        > i.icon:nth-child(2) {
            background-color: transparent !important;
            transition-delay: $animationHideDelay;

            &::before {
                transition-delay: $animationHideDelay;
                opacity: 0;
            }
        }

        /* extra icons... */
        > i.icon:nth-child(n+3) {
            @include _fab-shadow;
            visibility: hidden;
            opacity: 0;
            background-color: $material_blue_grey;
            font-size: 80%;
            width: 80%;
            height: 80%;
            left: 10%;
            filter: saturate(75%);
        }
        > i.icon:nth-child(3) {
            top: $extra-button-offset + ($button-size + $extra-button-pad);
            transition-delay: $animationHideDelay + $revealDelay * 6;
        }
        > i.icon:nth-child(4) {
            top: $extra-button-offset + ($button-size + $extra-button-pad) * 2;
            transition-delay: $animationHideDelay + $revealDelay * 5;
        }
        > i.icon:nth-child(5) {
            top: $extra-button-offset + ($button-size + $extra-button-pad) * 3;
            transition-delay: $animationHideDelay + $revealDelay * 4;
        }
        > i.icon:nth-child(6) {
            top: $extra-button-offset + ($button-size + $extra-button-pad) * 4;
            transition-delay: $animationHideDelay + $revealDelay * 3;
        }
        > i.icon:nth-child(7) {
            top: $extra-button-offset + ($button-size + $extra-button-pad) * 5;
            transition-delay: $animationHideDelay + $revealDelay * 2;
        }
        > i.icon:nth-child(8) {
            top: $extra-button-offset + ($button-size + $extra-button-pad) * 6;
            transition-delay: $animationHideDelay + $revealDelay * 1;
        }

        &:hover, &.open {
            > i.icon:first-child:not(.off) {
                transition-delay: 0s;

                &::before {
                    transform: rotate(270deg);
                    transition-delay: 0s;
                    opacity: 0; // Do opacity on icon content, not the box.
                }
            }
            > i.icon:nth-child(2):not(.off) {
                transition-delay: 0s;

                &::before {
                    transform: rotate(360deg);
                    transition-delay: 0s;
                    opacity: 1; // Do opacity on icon content, not the box.
                }
            }

            /* extra icons... */
            > i.icon:nth-child(n+3) {
                visibility: visible;
                opacity: 1;
            }
            > i.icon:nth-child(3) {
                transition-delay: $revealDelay * 1;
            }
            > i.icon:nth-child(4) {
                transition-delay: $revealDelay * 2;
            }
            > i.icon:nth-child(5) {
                transition-delay: $revealDelay * 3;
            }
            > i.icon:nth-child(6) {
                transition-delay: $revealDelay * 4;
            }
            > i.icon:nth-child(7) {
                transition-delay: $revealDelay * 5;
            }
            > i.icon:nth-child(8) {
                transition-delay: $revealDelay * 6;
            }
        }

        > i.icon:active {
            filter: brightness(80%);
            transition: initial;
        }
    }
}

@mixin color-svg($svg, $color) {
    -webkit-mask: url($svg) no-repeat center;
    -webkit-mask-size: 100%;
    background-color: $color;
}

/* Use to cleanup tags that get used for user input or feed rendering... */
@mixin sanitize-html {

    samp, pre, code {
        font-size: 90%;
        border-radius: 0.2em;
    }

    samp {
        background: rgba(220, 175, 39, 0.30);
        padding: 0.15em 0.25em;
        margin-left: 0.15em;
        margin-right: 0.15em;
    }

    /* XXX/TODO fix pre > code to look like just pre or code not nested */

    pre, code {
        background: rgba(236, 231, 216, 0.23);
        border: 1px solid rgba(173, 166, 148, 0.79);
        padding: 0.6em;
        display: block;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.10);
        min-width: 16ch;
        margin: 1em 0;
        max-height: 30em;
        overflow: auto;
    }

    img {
        max-width: 90%;
    }

    p {
        max-width: $maxTextWidth;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0.1em;
        display: inline-block;
    }

    h6 {
        font-size: 1em;
    }
    h5 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 3.5em;
    }
    h1 {
        font-size: 4em;
    }

    blink {
        animation: blinker 1.5s infinite;
    }

    @keyframes blinker {
        0%, 49% {
            opacity: 1;
        }
        50%, 100% {
            opacity: 0;
        }
    }

    ins {
        background: black;
        color: white;
    }

    table {
        margin: 1em;
        box-shadow: .1em .1em .5em 0 rgba(126, 126, 126, 0.60);

        td, th {
            padding: .5em;
        }

        tr:nth-child(even) {
            background-color: rgba(125, 125, 125, 0.1);
        }
        tr:nth-child(odd) {
            background-color: rgba(125, 125, 125, 0.02);
        }
    }
}

@mixin single-line($height) {
    .single-line {
        position: relative;
        height: $height;

        p {
            position: absolute;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            line-height: $height;
        }
    }
}
