@import 'variables';
@import 'mixins';

$navBackground: #1b1c1d;

main > nav {
    position: relative;
    background: $navBackground;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;

    &:not(.sizing) {
        transition: flex 300ms;
    }

    &:not(.expanded) {
        flex: 0 0 0 !important;
    }
    &.expanded {
        flex: 0.25 0 $navBasis;
        min-width: 5em;
    }

    &:not(.condensed) {
        position: relative; // Bounding for new-convo and fab button
    }
    &.condensed {
        position: static; // Must allow new-convo panel to overflow.

        .fab-button {
            position: relative;  // Just push out other panels like a normal flow.
            align-self: center;
            padding-bottom: 2em;
            top: initial;
            right: initial;
            bottom: initial;
            left: initial;

            &.f-opened {
                top: 3.15em;
                left: 24.4em;
                position: absolute;
            }
        }

        .f-nav-holder {
            padding: 0;

            #f-new-thread-panel {
                margin-top: 0;
                position: absolute;
                z-index: 10;
                top: 6em;
                left: 8em;
                background: rgba(0, 0, 0, 0.7);
                border-radius: 0.3em;

                &.expanded {
                    box-shadow: 1px 1px 9px 2px #0000007d;
                    max-height: 80vh;
                }

                .ui.segment {
                    margin: 0.6em;
                }
            }

            .f-nav-header {
                display: flex;
                justify-content: center;

                .icon {
                    margin: 0;
                }

                .ui.sub.header {
                    display: none;
                }
            }

            .f-nav-item {
                .autohide {
                    display: none;
                }

                .f-nav-contents {
                    justify-content: center;

                    .f-nav-avatar {
                        padding: 0.78em;
                    }

                    .f-nav-content {
                        position: absolute;
                        right: 0;
                        bottom: 0;

                        :not(.f-unreadcount) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .f-nav-holder {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0;
        padding: 0 1.4em 0 1.4em;
    }

    #f-new-thread-panel {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 1.6em;
        max-height: 0;
        transition: max-height 300ms;
        overflow: hidden;

        &.expanded {
            max-height: calc(100vh - 5.5rem);
        }

        .ui.segment {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.2em;
            padding: 0.25em 0 0 0;
            overflow: hidden;  // required for firefox
        }

        .f-menu-holder {
            display: flex;
            flex-direction: column;
            overflow: hidden;  // required for firefox

            .scrolling.menu {
                max-height: 50vh;
                min-height: 6em;  // Enough to fit at least one entry

                &:empty {
                    display: none;
                }

                > .header {
                    position: sticky;
                    top: 0;
                    background: white;
                    z-index: 14;
                    padding: 0 0.8em;
                }
            }
        }

        .f-header-menu {
            flex: 0 0 auto;
            border-top: 0;
            padding: 0.5em 1em;

            .ui.dropdown > .menu {
                z-index: 15; // Fix firefox.
            }

            .item {
                padding: 0.2em 0.5ch;
            }
        }

        .f-start-button {
            .icon {
                padding: 0; // Fix semantic style misapplied to .input .icon
            }
        }

        .f-start-dropdown {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            padding: 0;

            .f-contacts-header {
                .f-import-contacts {
                    float: right;
                    text-transform: initial;
                    cursor: pointer;
                }
            }

            .f-active-holder {
                flex: 0 0 auto;
                padding: 0.6em 0.6em 0;
            }

            .f-main.menu {
                display: flex;
                flex-direction: column;
                position: initial;
                min-width: initial;
                z-index: initial;  // required for firefox
                border: 0;
                box-shadow: none;
                overflow: hidden;  // required for firefox

                > .ui.input {
                    flex: 0 0 auto;
                    margin-top: 0.6em;
                }
            }

            .slug, .description, a.ui.label {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            a.ui.label {
                position: relative;
                padding: 0.4em 1.4em 0.4em 0.4em;
                margin: 0.15em;
                max-width: 100%;
                display: inline-flex;
                font-weight: normal;
                font-size: 0.9em;
                vertical-align: middle;

                .slug {
                    line-height: 1.1em;
                }

                .description {
                    display: none;
                }

                .icon.delete {
                    position: absolute;
                    right: 0.5em;
                    top: 0.5em;
                }

                .f-avatar {
                    font-size: 0.5em;
                    margin-right: 0.5em;
                }
            }

            .menu > .item {
                display: flex;
                padding: 0.8em 0.8em !important;
                border: 0 none transparent;

                &.addition {
                    display: block;
                }

                .f-avatar {
                    margin-right: 0.4em;
                }

                .slug {
                    font-size: 0.9em;
                    line-height: 1.1em; // don't clip g
                }

                .description {
                    font-size: 0.8em;
                    flex: 1 1 0;
                    text-align: right;
                }
            }

            .f-priority-header {
                font-weight: 300;
                font-size: 0.8em;
                opacity: 0.8;
                line-height: 1.1em;
                padding-left: 0.8em;
            }

            .f-priority-submenu {
                display: flex;
                flex-wrap: wrap;
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.20);
                margin-bottom: 0.8em;

                > .item {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.28em;
                    padding: 0.5em !important;

                    &:hover {
                        background: rgba(0, 0, 0, 0.08);
                    }

                    > .f-avatar {
                        padding: 0;
                        margin: 0;
                    }

                    > .slug {
                        display: none;
                    }
                }
            }

            .ui.dimmer {
                z-index: 15;  // Below fab
            }
        }
    }

    @include fab-button(1.3em);
    .fab-button {
        margin: 0.5em 0.4em;
        position: absolute;
        top: -0.35em;
        right: 1.8em;
        z-index: 5; // Slightly raised but below menus and call-view.detached
    }

    #f-nav-panel {
        > .ui.dimmer {
            background-color: rgba(0, 0, 0, 0.50);
        }
    }

    .f-nav-view {
        position: relative;
        margin-bottom: 1em;

        &.f-pinned {
            transition: margin-bottom 400ms;

            .f-collapser {
                transition: max-height 400ms;
                max-height: 4em;
                overflow: hidden;
            }

            .f-nav-header {
                border-top: 3px solid #2185D0;
            }

            .f-nav-items {
                border-bottom-left-radius: 0.25em;
                border-bottom-right-radius: 0.25em;

                .f-nav-item.active:not(.dragging):last-child .f-nav-contents {
                    border-bottom-left-radius: 0.25em;
                    border-bottom-right-radius: 0.25em;
                }
            }

            &.empty:not(.dropzone) {
                margin-bottom: 0;

                .f-collapser {
                    max-height: 0;
                }
            }
        }

        &.f-recent {
            .f-nav-header {
                border-top: 3px solid #038d14;
            }
        }
    }

    .sticky {
        position: sticky;
        top: -1px;
        z-index: 2; // Just above unread msg count label
    }

    .f-nav-header {
        background: #F9FAFB;
        padding: 0.5em 1em;
        border-bottom: 1px solid #ddd;
        white-space: nowrap;
    }

    .f-nav-view.dropzone {
        outline: 8px dotted cornflowerblue;
    }

    .f-nav-items {
        background: white;

        *:not([draggable="true"]) {
            /* Disable default image drag/select interference */
            user-drag: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .f-nav-item {
            $dim_duration: 200ms;
            $dim_delay: 300ms;
            cursor: pointer;
            color: $accent2;
            position: relative;  // Support floating labels
            overflow: hidden;  // Prevent blur/etc filters from bleeding out.
            max-height: 6em;
            transition: max-height 400ms;

            .f-nav-contents {
                display: flex;
            }

            .f-nav-avatar {
                padding: 0.78em 0 0.78em 0.78em;

                .f-avatar {
                    font-size: 1.666em;
                }
            }

            .f-nav-content {
                flex: 1 1 100%;
                padding: 0 0.5em 0 0.5em;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &.unread {
                color: black;

                .f-nav-content .last-message {
                    font-weight: normal;
                }
            }

            &.active:not(.dragging) {
                color: white !important;

                .f-nav-contents {
                    background: #2185d0 !important;
                    box-shadow: .1em .1em .25em 0.05em rgba(0, 0, 0, 0.5);
                }
            }

            &.announcement .f-nav-avatar .icons.avatar {
                font-size: 2em;
                padding-left: 0.1em;
                line-height: 1.5em;
                margin: 0 0.2em;

                .icon.corner {
                    top: 40%;
                }
            }

            &.dropzone-insert-before::before, &.dropzone-insert-after::after {
                display: none;
                content: 'Move thread here';
                text-transform: uppercase;
                font-weight: bold;
                position: absolute;
                width: 100%;
                text-align: center;
                color: white !important;
            }

            &.dropzone-insert-before {
                border-top: 1em solid $red;
            }

            &.dropzone-insert-after {
                border-bottom: 1em solid $red;
            }

            &.dragging {
                opacity: 0.75;

                .f-nav-contents {
                    background-color: white !important;
                    color: black !important;
                }
            }

            .dim {
                opacity: 0;
                max-height: 0;
                transition: opacity $dim_duration ease $dim_delay, max-height $dim_duration ease $dim_delay;
                font-weight: 300;
                font-size: 0.75em;
            }

            .autohide.icon {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                right: 0.05em;
                font-size: 1.1em;
                transition: opacity 300ms, visibility 300ms;
            }

            .f-pin.icon {
                top: 0.25em;
            }

            .f-archive.icon {
                top: 1.6em;
            }

            @include single-line(1.4em);
            .single-line {
                font-weight: 300;
                margin-right: 1.2em;  // Allow space for floating icons/label.
            }
            .single-line.title {
                font-weight: normal;
            }

            .f-unreadcount {
                bottom: 0.4em;
                right: 0.5em;
                font-size: 0.7em;
                top: initial;
                left: initial;
                z-index: 1; // Hide behind menu
                margin: 0 !important;
                padding: 0.4em 0.6em 0.4em 0.5em;
            }
        }
    }
}


/*
 * Desktops with mouse only...
 */
html:not(.f-coarse-pointer) body nav > .f-nav-holder .f-nav-view:not(.dropzone) .f-nav-item:hover {

    .f-nav-contents {
        background: rgba(0, 0, 0, 0.05);
    }

    .autohide.icon {
        visibility: visible;
        opacity: 0.6;

        &:hover {
            opacity: 1;

            &.f-archive {
                color: $red;
            }
        }
    }

    .dim {
        opacity: 1;
        max-height: 1.6em;
    }
}


/*
 * Mobile adjustments...
 */
@media screen and (max-width: $small_screen) {
    main > nav {
        position: absolute !important;
        height: 100%;
        z-index: 10; // Above aside
        top: 0;
        left: -105vw;
        width: 100vw;
        max-width: $navBasis * 1.5;
        transition: left 300ms !important;
        box-shadow: 0.1em 0 0.25em 0 rgba(0, 0, 0, 0.75);

        .f-nav-holder {
            padding: 0;
            background: white;

            .f-nav-view {
                margin-bottom: 0;
            }

            .f-nav-view .f-nav-item.touchhold .f-archive::after {
                content: 'Archive';
            }

            .f-nav-view.f-recent .f-nav-item.touchhold .f-pin::after {
                content: 'Pin';
            }

            .f-nav-view.f-pinned .f-nav-item.touchhold .f-pin::after {
                content: 'Unpin';
            }

            .f-nav-items {
                border-radius: 0 !important;

                .f-nav-item.active:last-child .f-nav-contents {
                    border-radius: 0 !important;
                }

                .f-nav-item.touchhold {

                    .f-nav-contents {
                        filter: brightness(0.33);
                        background: white !important;
                    }

                    i.autohide.icon.link {
                        z-index: 1000;  // Over dimmer used for touch devices.
                        visibility: visible;
                        font-size: 2.5em;
                        opacity: 1;
                        top: 0.5em;
                        filter: drop-shadow(0.05em 0.05em 2px rgba(0, 0, 0, 0.3));

                        &::after {
                            position: absolute;
                            font-size: 0.33em;
                            bottom: -0.8em;
                            left: 0;
                            color: white;
                            font-family: Lato;
                            width: 100%;
                        }
                    }

                    .f-pin {
                        left: 3em;
                        color: white;
                    }

                    .f-archive {
                        right: 3em;
                        color: $red;
                    }
                }
            }

            .f-view-archived {
                padding-bottom: 0;
            }
        }

        &.expanded {
            left: 0;
        }

        @include fab-button(1.4em);
        .fab-button {
            position: absolute;
            top: initial;
            bottom: 0.2em;
            right: 0.4em;

            > i.icon:nth-child(3) {
                top: -3.5em; // XXX implement reverse option in mixin scss
            }
            > i.icon:nth-child(4) {
                top: -7em; // XXX implement reverse option in mixin scss
            }
            > i.icon:nth-child(5) {
                top: -10.5em; // XXX implement reverse option in mixin scss
            }
        }

        #f-new-thread-panel {
            margin-top: 0 !important;
            flex: 1 1 100%;

            &.expanded {
                max-height: 100vh;

                & + #f-nav-panel {
                    max-height: 0;
                    overflow: hidden;
                }
            }

            .f-menu-holder .scrolling.menu {
                max-height: 100vh;  // Allow to fill screen
            }

            .f-priority-submenu > .item {
                font-size: 1.5em !important;
            }

            > .ui.segment {
                margin: 0;
                flex-grow: 1;
            }
        }

        #f-nav-panel {
            transition: max-height 300ms;
            max-height: 100vh;
        }
    }
}
