// colors

$red: #db2828;
$orange: #f47d20;
//$blue: #2bace2;
$blue: #2185d0;
$light-blue: #80ceff;
$green: #b0d23f;

$primary_dark: #000;
$primary_light: #fff;
$accent1: #4b4b4b;
$accent2: #616161;
$accent3: #9f9f9f;
$accent4: #cacaca;
$pop1: $blue;
$pop2: $light-blue;
$pop3: $orange;
$pop4: $green;


$navBasis: 330px; // More or less the min based on flex shrink

// https://stackoverflow.com/questions/7460041/whats-a-good-maximum-width-of-text-on-a-webpage
$maxTextWidth: 80ch;


/*
 * XXX Legacy from here down...
 */
$header-height: 64px;
$button-height: 24px;
$header-color: $primary_dark;

$search-height: 36px;

$unread-badge-size: 21px;
$loading-height: 16px;

$big-avatar-min-width: 900px;

$border-radius: 5px;

$error-icon-size: 24px;

$font-size: 14px;
$font-size-small: (13/14) + em;

$material_red: #EF5350;
$material_pink: #EC407A;
$material_purple: #AB47BC;
$material_deep_purple: #7E57C2;
$material_indigo: #5C6BC0;
$material_blue: #2196F3;
$material_light_blue: #03A9F4;
$material_cyan: #00BCD4;
$material_teal: #009688;
$material_green: #4CAF50;
$material_light_green: #7CB342;
$material_orange: #FF9800;
$material_deep_orange: #FF5722;
$material_amber: #FFB300;
$material_blue_grey: #607D8B;
$monospace: 'Source Code Pro';

// Make sure max-width matches F.util.isSmallScreen()
$small_screen: 768px;
