// colors
$primary_dark: #000;
$primary_light: #ffff;
$accent1: #4b4b4b;
$accent2: #616161;
$accent3: #9f9f9f;
$accent4: #cacaca;
$pop1: #2bace2; // blue
$pop2: #80ceff; // light blue
$pop3: #f47d20; // red
$pop4: #b0d23f; // green

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}
$roboto: Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$roboto-light: Roboto-Light, 'Helvetica Neue', Arial, Helvetica, sans-serif;

$header-height: 64px;
$button-height: 24px;
$header-color: $primary_dark;

$search-height: 36px;

$unread-badge-size: 21px;
$loading-height: 16px;

$big-avatar-min-width: 900px;

$border-radius: 5px;

$error-icon-size: 24px;

$font-size: 14px;
$font-size-small: (13/14) + em;

$material_red: #EF5350;
$material_pink: #EC407A;
$material_purple: #AB47BC;
$material_deep_purple: #7E57C2;
$material_indigo: #5C6BC0;
$material_blue: #2196F3;
$material_light_blue: #03A9F4;
$material_cyan: #00BCD4;
$material_teal: #009688;
$material_green: #4CAF50;
$material_light_green: #7CB342;
$material_orange: #FF9800;
$material_deep_orange: #FF5722;
$material_amber: #FFB300;
$material_blue_grey: #607D8B;
