/* Tune up the site when in "dev" mode to make it clear this is an engineering sample. */


@mixin pinstripe {
    background: repeating-linear-gradient(45deg, #222, #444 10px, black 0px, black 20px) !important;
}

@mixin devstamp($size, $top, $left) {
     &::after {
        content: 'PROTOTYPE';
        font-family: monospace;
        font-size: $size;
        letter-spacing: 0.555em;
        color: #db2828;
        top: $top;
        left: $left;
        position: absolute;
    }
}

body > header > .ui.menu {

    @include pinstripe;

    .menu.left {
        @include devstamp(1.1em, 2.4em, 0.95em);
    }
}

