/* Tune up the site when in "dev" mode to make it clear this is an engineering sample. */


@mixin pinstripe {
    background: repeating-linear-gradient(45deg, #222, #444 10px, black 0px, black 20px) !important;
}

@mixin prototype($size, $top, $left) {
     &::after {
        content: 'PREPRODUCTION';
        font-family: monospace;
        font-size: $size;
        letter-spacing: 0.255em;
        color: #db2828;
        top: $top;
        left: $left;
        position: absolute;
    }
}

body > header > .ui.menu {
    .menu.left .f-toc {
        @include prototype(1em, 2.9em, 1.05em);
    }
}

