@import 'variables';
@import 'global';
@import 'sentry';
@import 'oembed';
@import 'emoji';
@import 'hourglass';
@import 'header';
@import 'emoji_picker';
@import 'settings';
@import 'thread';
@import 'message';
@import 'call';


body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 100%;
    display: flex;
    overflow: hidden;
}

main > section {
    flex: 1 1 66%;
    flex-direction: column;
    display: flex;
    position: relative; /* support attached labels */
}

#f-thread-stack .f-compose {
    .f-message {
        min-height: 3em !important;
        padding-right: 9em !important;  // Do not overflow into actions
    }

    .f-actions {
        padding: 0 !important;
        position: absolute;
        top: 0;
        right: 0;

        > .link.icon:not(.f-send-action) {
            margin-right: 0;

            /* Hacks to increase clickability in iOS */
            font-size: 1.25em;
            line-height: 0;
            padding: 1.2em 1.3em 1.2em 0.6em;
        }

        .f-send-action {
            position: initial;
            margin-right: 0.8em;
            margin-top: 0.45em;
            margin-left: 0.8em;
            vertical-align: top;
        }

        .f-giphy-action,
        .f-emoji-action,
        .f-help-action {
            display: none !important;
        }
    }
}

.f-coarse-pointer .f-compose .f-holder {
    font-size: 1.15em;
}
