@import 'variables';
@import 'global';
@import 'mixins';
@import 'sentry';
@import 'header';


main.ui.container.segment > .ui.attached.segment {
    padding: 2em;
    min-height: 8em;
}

.pi {
    position: fixed;
    padding: 0.5em;
    margin: 0.5em;
    right: 0;
    bottom: 0;
    opacity: 0.20;
}

.directions {
    line-height: 1.5em;
    margin-top: 1em;
}

.column.centered {
    text-align: center;
}

.ui.image.badge {
    padding: 1em 0;

    img {
        width: 160px;
        height: auto;
    }
}

.panel:not([data-step="start"]) {
    display: none;
}

.panel {
    display: none;

    &.active {
        display: initial;
    }

    .inline {
        display: inline-block;
    }
}

#qr {
    img {
        margin: auto;
        border: 4px solid $accent2;
        border-radius: 0.33em;
        object-fit: contain;
        max-height: 100%;
        max-width: 100%;
        padding: 10px;
    }

    canvas {
        display: none;
    }
}

#qr-code-links {
    border-radius: 0.2em;
    background: beige;
    padding: 0.2em .5em;
    display: inline-block;
    font-family: $monospace;
    margin: 0.4em;
}

#f-header-view {
    .f-brand {
        padding-left: 1em;

        &::after {
            left: 1.05em !important;
        }
    }
}

// Make sure max-width matches F.util.isSmallScreen()
@media only screen and (max-width: 768px) {
    main.ui.container.segment {
        margin: 0 !important;
        box-shadow: none;

        > .ui.attached.segment {
            padding: inherit;

            .apps.ui.segment {
                padding: 0;
            }
        }
    }

    h3.ui.header {
        font-size: 1rem;
    }
}
