@import 'variables';
@import 'global';
@import 'mixins';
@import 'sentry';
@import 'header';


main.ui.container.segment {
    > .ui.attached.segment {
        padding: 2em;
        min-height: 8em;
    }
}

.pi {
    position: fixed;
    padding: 0.5em;
    margin: 0.5em;
    right: 0;
    bottom: 0;
    opacity: 0.20;
}

.directions {
    line-height:1.5rem;
    margin-top:1rem;
}

.column.centered {
    text-align: center;
}

.ui.image.badge {
    padding: 1em;

    img {
        width: 160px;
        height: auto;
    }
}

.panel:not([data-step="start"]) {
    display: none;
}

.panel {
    display: none;

    &.active {
        display: initial;
    }

    .inline {
        display: inline-block;
    }

    .ui.statistic {
        margin-left: 2em;

        .value {
            transition: opacity 300ms ease; // match src code sleep..
        }
    }
}

#qr.ui.segment {
    margin: auto;

    img {
        margin: auto;
        border: 4px solid $accent2;
        object-fit: contain;
        max-height: 100%;
        max-width: 100%;
        padding: 10px;
    }

    canvas {
        display: none;
    }
}

#qr-code-links {
    border-radius: 0.2em;
    background: beige;
    padding: 0.2em .5em;
    display: inline-block;
    font-family: $monospace;
    margin: 0.4em;
}
