
body {
    display: flex;
    flex-direction: column;
}

header {
    .ui.inverted.menu {
        margin: 0;
        border: none;
        border-radius: initial;
    }

    .ui.menu .item img.forsta-logo {
        margin: -1.1em 0em -0.9em;
        width: 3.6em;
    }
}

main {
    flex: 1;
    display: flex;
}

$navWidth: 350px;

nav {
    margin: 0;
    padding: 0;
    width: $navWidth;
    height: 100%;
    transition: width 400ms;
    overflow: hidden;
}

nav > .ui.segment {
    width: $navWidth;  // cleaner transitions.
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .ui.table {
        @mixin first-cells {
            padding-right: 0;
        }

        th {
            padding-top: .5em;
            padding-bottom: .5em;

            .ui.ribbon.label {
                left: calc(-.83rem - 1.2em);
            }

            &:hover {
                cursor: pointer;
            }

            &:first-child {
                @include first-cells;
            }
        }

        tr {
            cursor: pointer;
        }

        td {
            &:first-child {
                @include first-cells;
                position: relative;  // Support floating labels
            }
            &:not(:first-child) {
                padding: .5rem;
            }
        }


        $avatar_size: 3rem;

        .ui.image.avatar, .ui.label.avatar {
            width: $avatar_size;
            height: $avatar_size;
            padding: 0 !important;
        }

        .ui.label.avatar {
            overflow: hidden;
            display: block;

            span {
                font-size: $avatar_size / 2;  // calibrated for linux  XXX
                line-height: $avatar_size * 1.08;  // ^^^
            }
        }

        .f-unreadcount {
            top: $avatar_size * .90;
            left: $avatar_size * .90;
            z-index: 1; // Hide behind menu
            opacity: 0.9;
            margin: 0 !important;
        }

        .single-line {
            position: relative;
            height: 1.5em;
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                position: absolute;
                width: 100%;
            }
        }
    }
}

article {
    flex: 1;
    overflow: auto;
}

article > .ui.segment {
    margin: 0px;
    padding: 20px;

    .forsta-compose {
        margin: 2em;

        .ui.segment.secondary {
            padding: .33em;
        }

        textarea {
            border: none;
        }

        .ui.menu.bottom .item {
            padding: .4em;
        }
    }

    .forsta-org {
        margin: -20px -8px 0 -16px; // offset for article padding
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .ui.feed .extra.text {
        width: initial;
    }
}

aside {
    margin: 0;
    padding: 0;
    width: 300px;
}


#forsta-main-search {
    width: 50ch;
}
