@import 'variables';
@import 'global';
@import 'mixins';
@import 'sentry';
@import 'oembed';
@import 'emoji';
@import 'hourglass';
@import 'header';
@import 'emoji_picker';
@import 'settings';
@import 'avatar';
@import 'intro_video';
@import 'nav';
@import 'thread';


body {
    display: flex;
    flex-direction: column;

    .ui.nag {
        border-radius: 0;
    }
}

main {
    flex: 1 1 100%;
    display: flex;
    overflow: hidden;
}

main > section {
    flex: 1 1 66%;
    flex-direction: column;
    display: flex;
    position: relative; /* support attached labels */
}

#f-new-thread-panel {
    max-height: 0;
    overflow: hidden;

    .ui.segment {
        margin-bottom: 1.2em;
        padding: 0.25em 0 0 0;
    }

    .f-header-menu {
        border-top: 0;
        padding: 0.5em 1em;

        .ui.dropdown > .menu {
            z-index: 15; // Fix firefox.
        }

        .item {
            padding: 0.2em 0.5ch;
        }
    }

    .f-start-button {
        .icon {
            padding: 0; // Fix semantic style misapplied to .input .icon
        }
    }

    .f-start-dropdown {
        $pad: 0.8em;
        padding: $pad;
        width: 100%;
        overflow: hidden; // just a precaution
        display: block;

        .f-contacts-header {
            .f-import-contacts {
                float: right;
                text-transform: initial;
                cursor: pointer;
            }
        }

        > .menu {
            margin: (-$pad);
            position: initial;
            min-width: initial;
            border: 0;
            box-shadow: none;
        }

        .slug, .description, a.ui.label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        a.ui.label {
            position: relative;
            padding-right: 1.4em;
            padding-left: 0.4em;
            max-width: 100%;
            display: inline-flex;
            font-weight: normal;
            font-size: 0.9em;
            vertical-align: middle;

            .slug {
                line-height: 1.1em;
            }

            .icon.delete {
                position: absolute;
                right: 0.5em;
                top: 0.5em;
            }

            .f-avatar {
                font-size: 0.5em;
                margin-right: 0.5em;
            }
        }

        .menu > .item {
            display: flex;
            padding: 0.8em 1em !important;
            border: 0 none transparent;

            &:first-child {
                margin-top: 0.5em;
            }

            &.addition {
                display: block;
            }

            .f-avatar {
                margin-right: 0.4em;
            }

            .slug {
                font-size: 0.9em;
                line-height: 1.1em; // don't clip g
            }

            .description {
                font-size: 0.8em;
                flex: 1 1 0;
                text-align: right;
            }
        }

        .ui.dimmer {
            z-index: 15;  // Below fab
        }
    }
}

@include fab-button(1.3em);
.fab-button {
    margin: 0.5em 0.4em;
    position: absolute;
    top: -0.35em;
    right: 1.8em;
    z-index: 20; // Must be high for firefox, min is 1 otherwise.
}


/*
 * Mobile adjustments...
 */

// Make sure max-width matches F.util.isSmallScreen()
@media screen and (max-width: 768px) {

    main {
        position: relative;
    }

    main > nav {
        position: absolute;
        height: 100%;
        z-index: 10; // Above aside
        top: 0;
        left: -105vw;
        width: 100vw;
        max-width: $navBasis * 1.5;
        transition: left 300ms ease;
        box-shadow: 0.1em 0 0.25em 0 rgba(0, 0, 0, 0.75);

        .ui.segment {
            padding: 0;
            background: white;

            .f-nav-view {
                margin-bottom: 0;
            }

            .f-nav-view .f-nav-item.touchhold .f-archive::after {
                content: 'Archive';
            }

            .f-nav-view.f-recent .f-nav-item.touchhold .f-pin::after {
                content: 'Pin';
            }

            .f-nav-view.f-pinned .f-nav-item.touchhold .f-pin::after {
                content: 'Unpin';
            }

            .f-nav-items {
                border-radius: 0 !important;

                .f-nav-item.active:last-child .f-nav-contents {
                    border-radius: 0 !important;
                }

                .f-nav-item.touchhold {

                    .f-nav-contents {
                        filter: brightness(0.33);
                        background: white !important;
                    }

                    i.autohide.icon.link {
                        z-index: 1000;  // Over dimmer used for touch devices.
                        visibility: visible;
                        font-size: 2.5em;
                        opacity: 1;
                        top: 0.5em;
                        filter: drop-shadow(0.05em 0.05em 2px rgba(0, 0, 0, 0.3));

                        &::after {
                            position: absolute;
                            font-size: 0.33em;
                            bottom: -0.8em;
                            left: 0;
                            color: white;
                            font-family: Lato;
                            width: 100%;
                        }
                    }

                    .f-pin {
                        left: 3em;
                        color: white;
                    }

                    .f-archive {
                        right: 3em;
                        color: $red;
                    }
                }
            }
        }

        &.expanded {
            left: 0;
        }

        @include fab-button(1.4em);
        .fab-button {
            position: absolute;
            top: initial;
            bottom: 0.2em;
            right: 0.4em;

            > i.icon:nth-child(3) {
                top: -3.5em; // XXX implement reverse option in mixin scss
            }
            > i.icon:nth-child(4) {
                top: -7em; // XXX implement reverse option in mixin scss
            }
            > i.icon:nth-child(5) {
                top: -10.5em; // XXX implement reverse option in mixin scss
            }
        }

        #f-new-thread-panel {
            height: 100%;
            margin-top: 0 !important;

            > .ui.segment {
                height: 100%;
                margin: 0;

                .scrolling.menu {
                    max-height: calc(100vh - 14em); // XXX this is a hack, use flex or something
                }
            }
        }

        #f-new-thread-panel.expanded + #f-nav-panel {
            display: none;
        }
    }

    main > section #f-thread-stack .thread aside {
        position: absolute;
        z-index: 2; // Was for just above f-notice (gone now).. Could be obsolete now XXX
        top: 0;
        right: -90vw;
        width: 85vw;
        max-width: $navBasis * 1.5;
        height: 100%;
        transition: right 300ms ease;
        box-shadow: -0.1em 0.1em 0.25em 0 rgba(0, 0, 0, 0.3);

        &.expanded {
            right: 0;
        }

        .f-alt-collapse {
            display: block;
        }
    }

    #f-thread-stack {
        .f-compose .f-input {
            $msgPadding: 1em;

           .f-message {
                padding: $msgPadding;
                min-height: 3.18em; // Caution: Highly tuned to workaround firefox contenteditable bug
            }

            .f-placeholder {
                padding: $msgPadding;
            }
        }

        .thread.announcement {
            .f-viewer-mode.ui.segment {
                padding: 0;

                .f-viewer-paper {
                    padding: 2em;
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) and (min-width: 375px) {
    html {
        font-size: 16px;
    }
}
