@import 'variables';
@import 'global';
@import 'mixins';
@import 'sentry';
@import 'oembed';
@import 'emoji';
@import 'hourglass';
@import 'header';
@import 'emoji_picker';
@import 'settings';
@import 'avatar';
@import 'intro_video';

$asideBackground: $accent2;

@mixin single-line($height) {
    .single-line {
        position: relative;
        height: $height;

        p {
            position: absolute;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            line-height: $height;
        }
    }
}

body {
    display: flex;
    flex-direction: column;

    .ui.nag {
        border-radius: 0;
    }
}


main {
    flex: 1 1 100%;
    display: flex;
    overflow: hidden;
}

main > nav {
    flex: 0 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    transition: flex 300ms;

    &.expanded {
        flex: 0.25 0 $navBasis;
    }
}

main > section {
    flex: 1 1 66%;
    flex-direction: column;
    display: flex;
    position: relative; /* support attached labels */
}

nav > .ui.segment {
    $topMargin: 1.6em;
    flex: 1 1 100%;
    min-width: $navBasis;  // cleaner transitions.
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0 1.4em 1em 1.4em;

    #f-new-thread-panel {
        margin-top: $topMargin;
    }

    .f-nav-view {
        position: relative;
        margin-bottom: 1em;

        &.f-pinned {
            transition: margin-bottom 400ms;

            .f-collapser {
                transition: max-height 400ms;
                max-height: 4em;
                overflow: hidden;
            }

            .f-nav-header {
                border-top: 3px solid #2185D0;
            }

            .f-nav-items {
                border-bottom-left-radius: 0.25em;
                border-bottom-right-radius: 0.25em;

                .f-nav-item.active:not(.dragging):last-child .f-nav-contents {
                    border-bottom-left-radius: 0.25em;
                    border-bottom-right-radius: 0.25em;
                }
            }

            &.empty:not(.dropzone) {
                margin-bottom: 0;

                .f-collapser {
                    max-height: 0;
                }
            }
        }

        &.f-recent {
            .f-nav-header {
                border-top: 3px solid #038d14;
            }
        }
    }

    .sticky {
        position: sticky;
        top: -1px;
        z-index: 2; // Just above unread msg count label
    }

    .f-nav-header {
        background: #F9FAFB;
        padding: 0.5em 1em;
        border-bottom: 1px solid #ddd;
    }

    .f-nav-view.dropzone {
        outline: 8px dotted cornflowerblue;
    }

    .f-nav-items {
        background: white;

        *:not([draggable="true"]) {
            /* Disable default image drag/select interference */
            user-drag: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .f-nav-item {
            $dim_duration: 200ms;
            $dim_delay: 300ms;
            cursor: pointer;
            color: $accent2;
            position: relative;  // Support floating labels
            overflow: hidden;  // Prevent blur/etc filters from bleeding out.
            max-height: 6em;
            transition: max-height 400ms;

            .f-nav-contents {
                display: flex;
            }

            .f-nav-avatar {
                padding: 0.78em 0 0.78em 0.78em;

                .f-avatar {
                    font-size: 1.666em;
                }
            }

            .f-nav-content {
                flex: 1 1 100%;
                padding: 0.9em 0.5em 0 0.5em;
                transition: padding-top $dim_duration ease $dim_delay;
            }

            &.unread {
                color: black;

                .f-nav-contents {
                    font-weight: bold;
                }
            }

            &.active:not(.dragging) {
                color: white !important;

                .f-nav-contents {
                    background: #2185d0 !important;
                    box-shadow: .1em .1em .25em 0.05em rgba(0, 0, 0, 0.5);
                }
            }

            &.announcement .f-nav-avatar .icons.avatar {
                font-size: 2em;
                padding-left: 0.1em;
                line-height: 1.5em;
                margin: 0 0.2em;

                .icon.corner {
                    top: 40%;
                }
            }

            &.dropzone-insert-before::before, &.dropzone-insert-after::after {
                display: none;
                content: 'Move thread here';
                text-transform: uppercase;
                font-weight: bold;
                position: absolute;
                width: 100%;
                text-align: center;
                color: white !important;
            }

            &.dropzone-insert-before {
                border-top: 1em solid $red;
            }

            &.dropzone-insert-after {
                border-bottom: 1em solid $red;
            }

            &.dragging {
                opacity: 0.75;

                .f-nav-contents {
                    background-color: white !important;
                    color: black !important;
                }
            }

            .dim {
                opacity: 0;
                transition: opacity $dim_duration ease $dim_delay;
                font-weight: 300;
                font-size: 0.75em;
            }

            .autohide.icon {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                right: 0.05em;
                font-size: 1.1em;
                transition: opacity 300ms, visibility 300ms;
            }

            .f-pin.icon {
                top: 0.25em;
            }

            .f-archive.icon {
                top: 1.6em;
            }


            @include single-line(1.4em);
            .single-line {
                font-weight: 300;
                margin-right: 1.2em;  // Allow space for floating icons/label.
            }
            .single-line.title {
                font-weight: normal;
            }

            .f-unreadcount {
                bottom: 0.4em;
                right: 0.5em;
                font-size: 0.7em;
                top: initial;
                left: initial;
                z-index: 1; // Hide behind menu
                margin: 0 !important;
                padding: 0.4em 0.6em 0.4em 0.5em;
            }
        }
    }
}

html:not(.f-coarse-pointer) body nav > .ui.segment .f-nav-view:not(.dropzone) .f-nav-item:hover {

    .f-nav-contents {
        background: rgba(0, 0, 0, 0.05);
    }

    &:not(.announcement) .f-nav-content {
        padding-top: 0.5em;
    }

    .autohide.icon {
        visibility: visible;
        opacity: 0.6;

        &:hover {
            opacity: 1;

            &.f-archive {
                color: $red;
            }
        }
    }

    .dim {
        opacity: 1;
    }
}

#f-thread-stack {
    flex: 1 1 100%;
    overflow: hidden;
    position: relative;

    .f-header.ui.menu {
        border: 0 none transparent;
        border-radius: 0;
        margin-bottom: 0;
        min-height: 4rem;
        z-index: 1; // lift box-shadow.

        .item.icon {
            padding-left: 1em;
            padding-right: 1em;
        }

        .f-toggle-aside.item.icon {
            padding-right: 0;

            .f-toggle-border {
                padding: 0.5em;
                border-bottom-left-radius: .25em;
                border-top-left-radius: .25em;
                cursor: pointer;
                background: $asideBackground;

                i.icon {
                    transition: color 200ms;
                    color: #ddd;
                }

                $box-shadow-base: 0px -4px 0px 0px;
                &.blue {
                    box-shadow: $box-shadow-base $blue;
                }
                &.red {
                    box-shadow: $box-shadow-base $red;
                }
                &.orange {
                    box-shadow: $box-shadow-base $orange;
                }

                &:hover {
                    i.icon {
                        color: white !important;
                    }
                }
                &:active {
                    i.icon {
                        color: #aaa !important;
                    }
                }
            }

            .f-toggle {
                margin: 0;
            }
        }

        .f-avatar {
            font-size: 1.4em;
            margin-right: .5em;
        }

        .ui.dropdown .menu {
            min-width: 100%; // Copypasta from .ui.dropdown.button .menu
            margin-right: -0.5em;
            font-size: 0.95em;

            .item, .header {
                padding: 0.5em 1em !important;
            }
        }
    }

    .f-compose {
        .f-holder {
            padding: 0;
            border-top: 1px solid $accent3;
        }
        $msgPadding: .65em 1em 0.25em;

        .f-input {
            .f-message {
                max-height: 15em;
                min-height: 2.35em; // Caution: Highly tuned to workaround firefox contenteditable bug
                flex: 1 1 100%;
                word-wrap: break-word;
                white-space: pre-wrap;
                overflow-x: hidden;
                overflow-y: auto;
                padding: $msgPadding;
                outline: none;
                transition: inherit;

                @include sanitize-html;
            }

            .f-placeholder {
                position: absolute;
                padding: $msgPadding;
                z-index: -1;
                top: 0;
                left: 0;
                opacity: 0.33;
                font-weight: 300;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 66%;
                overflow: hidden;
            }
        }

        .f-actions {
            position: relative;
            padding: 0.5em 1em 1em;
            transition: opacity 200ms;
            opacity: 0.66;

            > * {
                margin-right: 1em;
            }

            .f-send-action {
                position: absolute;
                transition: filter 200ms;
                bottom: 0.65em;
                right: 0.65em;
                margin-right: 0;
                filter: grayscale(100%);

                &.enabled {
                    filter: initial;
                }
            }
        }

        .f-drawer {
            max-height: 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            transition: max-height 300ms;

            &.visible {
                max-height: 13em; // Somewhere just above the actual max height expected
            }
        }

        .f-drawer > .ui.segment {
            margin-top: 0;
            min-height: 9em; // make height adj transform smoother.
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $accent2;

            .remove.icon {
                position: absolute;
                top: 0.5em;
                right: 0.5em;
                margin: 0.25em;
            }

            > .ui.sub.header {
                color: #777;
                margin-bottom: 0.5em;
            }

            .previews {
                overflow: auto;
            }

            .f-attachment-thumbnail.ui.message {
                padding: .3em .5em;
                display: inline-block;
                max-width: 9em;  // See .thumbnail > * for height control.
                margin: 0.2em 0.5em 0.2em 0;

                .close.icon {
                    top: 0.2em;
                    right: 0.2em;
                }

                .header {
                    font-size: .7em;
                }

                .thumbnail {
                    img, video, audio {
                        max-height: 5em; // Must be controlled by content element.
                        max-width: 100%; // controlled by .ui.message
                        object-fit: contain;
                        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }

        .f-giphy {
            .f-giphy-thumbnail {
                margin-right: 0.5em;
                position: relative;
                cursor: pointer;
            }

            .previews {
                display: flex;
            }

            .ui.dimmer {
                background-color: rgba(0, 0, 0, 0.25);
            }

            video {
                height: 7em;
                box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
            }
        }

        &.focused {
            .f-holder {
                box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
                border-color: $blue;
            }

            .f-placeholder {
                opacity: 0.60;
            }

            .f-actions {
                opacity: 1;
            }
        }
    }

    .thumb {
      font-size: 2.5em;
      margin-top: .35em;
    }

    .ui.feed .event {
        padding: 0.5em 0;
        overflow: hidden;
    }

    .ui.feed .event > .label {
        width: auto;
        padding: 0.2em 0.6em;
    }

    .ui.feed .event.search-match > .content {
        overflow: visible;  // XXX probably a hack, shows the box-shadow.

        > .ui.segment {
            box-shadow: 0 0 1px 3px #ffcd00de;
        }
    }

    .ui.feed .extra.text {
        width: initial;
        word-wrap: break-word;
        white-space: pre-wrap;

        @include sanitize-html;

        video[f-type="giphy"] {
            padding-bottom: 1.2em;
            background-image: url(/@static/images/giphy.png);
            background-position: bottom right -0.3em;
            background-repeat: no-repeat;
            background-size: auto 1em;
        }

        video {
            cursor: pointer;
        }

        .f-video-wrap {
            position: relative;
            cursor: pointer;

            &.paused::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 4em;
                line-height: 4em;
                overflow: hidden;
                content: 'PAUSED - click to restart';
                background: rgba(0, 0, 0, 0.33);
                text-align: center;
                color: #ddd;
                box-shadow: 0 1px 2px 0 black;
            }
        }
    }

    .ui.feed .extra {
        max-width: 100%;
        overflow: hidden;

        * {
            max-width: 100%;
        }
    }

    .ui.feed .content {
        margin: 0;
        overflow: hidden;

        section {
            overflow-y: auto;
            overflow-x: hidden;
            transition: max-height 600ms;
            max-height: 200vh;  // Prevent messages from being annoyingly too long..
        }

        .ui.segment {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 1px; // Fix border getting clipped sometimes.

            .autodim, .autohide {
                transition: opacity 200ms ease 300ms!important;  // Override semantic i.link.icon.
            }
            .autodim {
                opacity: 0.40;
            }
            .autohide {
                opacity: 0;
            }

            &:hover {
                .autodim, .autohide {
                    opacity: 1;
                }
            }
        }

        .summary .date {
            margin: 0 1em 0 0.35em;
        }

        .summary .icon-bar {
            display: inline-block;
            text-align: right;
            float: right;

            .icon {
                margin: 0;
            }

            .timer {
                display: none;

                .hourglass {
                    @include hourglass(grey);
                    vertical-align: text-top;
                }
            }
        }

        .f-message-details-holder {
            overflow: hidden;
        }

        .f-message-details.ui.segment {
            margin: 1.25em 0.5em 0.5em;

            .member-avatar .icons i.icon {
                font-size: 0.95em;
            }

            .member-info:last-child {
                text-align: right;
            }
        }

        /* Fix semantic-ui bug that mistakenly breaks icons with the class
         * user in .ui.event */
        i.user.icon {
            font-weight: normal;
        }
        .ui.header > i.user.icon {
            vertical-align: middle;
            display: table-cell;
        }
    }

    .ui.feed .meta {
        display: block;
        margin: 1em 0 0 0.1em;

        ul {
            padding-left: 1em;
            margin: 0.2em;
            list-style-type: circle
        }
    }

    .ui.feed .extra.attachments .attachment {
        margin: .2em;
        display: inline-block;

        img, video, audio {
            width: initial;
            height: initial;
            max-width: 100%;
            max-height: 20em;
        }
        audio {
            width: 20em;
            height: 3em;
        }
    }

    .ui.feed .ui.segment {
        padding: 0.4em 0.7em;
        box-shadow: none; // too much fuzz
    }

    .thread {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        &:first-child {
            display: flex;
        }

        .f-title.item {
            padding-left: 1ch;
            padding-right: 1ch;
        }

        .f-title-display {
            cursor: pointer;
        }
        .f-title-edit {
            display: none;
            width: unset;  // undo semantic .ui.menu.input
        }

        .menu.left {
            flex: 1;

            .item.f-title {
                flex: 1;

                @include single-line(2em);
                .single-line {
                    width: 100%;
                }
            }
        }

        article {
            position: relative;
            flex: 1 1 66%;
            display: flex;
            flex-direction: column;
            max-width: 100%;  // Prevent abusive content from breaking out of our panel.
            overflow: hidden;  // Ensures that aside can fully open.

            .f-messages.ui.feed {
                flex: 1 1 100%;
                overflow-x: hidden;
                overflow-y: auto;
                margin: 0;
                padding: 0 1em 1em;
                background: #fafafa;

                .label .avatar {
                    margin: 0;
                }
            }

            .f-editor-mode {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .ui.form {
                    margin-bottom: 1em;
                }

                .f-editor {
                    overflow: auto;
                    flex: 1 1 100%;
                }
            }

            .f-viewer-mode {
                padding: 2em 4em;
                background: #a0a0a0;
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                overflow: auto;

                .f-viewer-paper {
                    position: relative;
                    box-shadow: 0.1em 0.1em 0.25em 0.025em rgba(0, 0, 0, 0.5);
                    padding: 2em 3em 3em 3em;
                    background: #fff;
                    border-radius: 0.2em;

                    .ui.label.attached {
                        background: transparent;
                        border: none;
                    }
                }
            }

            .welcome {
                padding: 3em;
                text-align: center;
                position: relative;
                height: 100%;

                img.logo {
                    width: 80%;
                    height: 50%;
                    max-width: 20rem;
                    max-height: 24rem;
                    object-fit: contain;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    background-image: url(../images/metal_backdrop_big.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    opacity: 0.4;
                    filter: invert(1);
                }
            }
        }

        aside {
            flex: 0 0 0;
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            overflow: hidden;
            transition: flex 300ms ease;
            background: #999;

            &.expanded {
                flex: 0.5 0 $navBasis;
            }

            .f-alt-collapse {
                display: none;

                > .icon {
                    cursor: inherit;  // Fix semantic bug
                }
            }

            > .ui.holder {
                background: $asideBackground;
                flex: 1 1 100%;
                min-width: $navBasis;  // cleaner transitions.
                overflow-x: hidden;
                overflow-y: auto;
                margin: 0;
                padding: 1.4em 1.4em 1em 1.4em;
                border: none;
                border-radius: 0;
            }

            .title {
                text-transform: capitalize;
            }

            .ui.list.padded .item {
                margin-bottom: 0.6em;
            }
                
            .f-clear {
                margin-top: 1em;
            }

            .notice-list {
                overflow-y: auto;
                max-height: 33vh;
                margin-top: 1em;

                .notice-row {
                    display: flex;
                    padding: 0.25em;
                    margin: 0 0.2em 0.6em;
                    padding-bottom: 0.6em;
                }

                .notice-row:not(:last-child) {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                }

                .notice-icon {
                    margin: 0.5em 0.7em 0 0;

                    i.corner {
                        top: -0.5em;
                        right: -0.3em;
                        opacity: 0.9;
                        font-size: 0.5em;
                    }
                }

                .notice-info {
                    flex: 1 1 auto;
                    overflow: hidden;
                    word-wrap: break-word;
                    margin-right: 0.4em;

                    .title {
                        font-weight: 500;
                    }

                    .detail {
                        font-weight: 300;
                        font-size: 0.8em;

                        ul {
                            padding: 0 1.4em;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

.f-toggle-nav i.icons i.icon.corner {
    font-size: 0.7em;
    right: -0.2em;
    bottom: -0.2em;
}
.f-toggle-nav.attention i.icons i.icon.corner {
    display: initial;
}
.f-toggle-nav:not(.attention) i.icons i.icon.corner {
    display: none;
}

[f-type="tag"] {
    font-weight: bold;
    color: cornflowerblue;
}

.f-completer.ui.segment {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    max-height: 30vh;
    min-height: 3em;
    min-width: 20ch;
    max-width: 20vw;
    overflow: hidden;

    .ui.list {
        overflow-y: auto;
        margin: 0 -0.3em;
        padding: 0.3em 0.3em 0.1em 0.1em;
    }

    .entry {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        padding-right: 2em;  // Leave room for icon and special dot
        color: rgba(0, 0, 0, 0.6);
        border-radius: 0.25em;

        i.icon {
            position: absolute;
            right: 0.6em;
        }

        &.selected {
            background: rgba(0, 0, 0, 0.2) !important;
            color: rgba(0, 0, 0, 0.85);
        }

        &.special::before {
            content: '●';
            font-size: 1.2em;
            color: $blue;
            position: absolute;
            right: 0.2em;
            top: 0;
        }
    }
}

.ui.modal img.attachment-view {
    object-fit: contain;
    max-height: 98%;
    max-width: 98%;
}

#f-new-thread-panel {
    max-height: 0;
    overflow: hidden;

    .ui.segment {
        margin-bottom: 1.2em;
        padding: 0.25em 0 0 0;
    }

    .f-header-menu {
        border-top: 0;
        padding: 0.5em 1em;

        .ui.dropdown > .menu {
            z-index: 15; // Fix firefox.
        }

        .item {
            padding: 0.2em 0.5ch;
        }
    }

    .f-start-button {
        .icon {
            padding: 0; // Fix semantic style misapplied to .input .icon
        }
    }

    .f-start-dropdown {
        $pad: 0.8em;
        padding: $pad;
        width: 100%;
        overflow: hidden; // just a precaution
        display: block;

        .f-contacts-header {
            .f-import-contacts {
                float: right;
                text-transform: initial;
                cursor: pointer;
            }
        }

        > .menu {
            margin: (-$pad);
            position: initial;
            min-width: initial;
            border: 0;
            box-shadow: none;
        }

        .slug, .description, a.ui.label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        a.ui.label {
            position: relative;
            padding-right: 1.4em;
            padding-left: 0.4em;
            max-width: 100%;
            display: inline-flex;
            font-weight: normal;
            font-size: 0.9em;
            vertical-align: middle;

            .slug {
                line-height: 1.1em;
            }

            .icon.delete {
                position: absolute;
                right: 0.5em;
                top: 0.5em;
            }

            .f-avatar {
                font-size: 0.5em;
                margin-right: 0.5em;
            }
        }

        .menu > .item {
            display: flex;
            padding: 0.8em 1em !important;
            border: 0 none transparent;

            &:first-child {
                margin-top: 0.5em;
            }

            &.addition {
                display: block;
            }

            .f-avatar {
                margin-right: 0.4em;
            }

            .slug {
                font-size: 0.9em;
                line-height: 1.1em; // don't clip g
            }

            .description {
                font-size: 0.8em;
                flex: 1 1 0;
                text-align: right;
            }
        }

        .ui.dimmer {
            z-index: 15;  // Below fab
        }
    }
}

#f-nav-panel {
    .ui.dimmer {
        background-color: rgba(0, 0, 0, 0.50);
    }
}

@include fab-button(1.3em);
.fab-button {
    margin: 0.5em 0.4em;
    position: absolute;
    top: -0.35em;
    right: 1.8em;
    z-index: 20; // Must be high for firefox, min is 1 otherwise.
}


/*
 * Mobile adjustments...
 */

// Make sure max-width matches F.util.isSmallScreen()
@media screen and (max-width: 768px) {

    main {
        position: relative;
    }

    main > nav {
        position: absolute;
        height: 100%;
        z-index: 10; // Above aside
        top: 0;
        left: -105vw;
        width: 100vw;
        max-width: $navBasis * 1.5;
        transition: left 300ms ease;
        box-shadow: 0.1em 0 0.25em 0 rgba(0, 0, 0, 0.75);

        .ui.segment {
            padding: 0;
            background: white;

            .f-nav-view {
                margin-bottom: 0;
            }

            .f-nav-view .f-nav-item.touchhold .f-archive::after {
                content: 'Archive';
            }

            .f-nav-view.f-recent .f-nav-item.touchhold .f-pin::after {
                content: 'Pin';
            }

            .f-nav-view.f-pinned .f-nav-item.touchhold .f-pin::after {
                content: 'Unpin';
            }

            .f-nav-items {
                border-radius: 0 !important;

                .f-nav-item.active:last-child .f-nav-contents {
                    border-radius: 0 !important;
                }

                .f-nav-item.touchhold {

                    .f-nav-contents {
                        filter: brightness(0.33);
                        background: white !important;
                    }

                    i.autohide.icon.link {
                        z-index: 1000;  // Over dimmer used for touch devices.
                        visibility: visible;
                        font-size: 2.5em;
                        opacity: 1;
                        top: 0.5em;
                        filter: drop-shadow(0.05em 0.05em 2px rgba(0, 0, 0, 0.3));

                        &::after {
                            position: absolute;
                            font-size: 0.33em;
                            bottom: -0.8em;
                            left: 0;
                            color: white;
                            font-family: Lato;
                            width: 100%;
                        }
                    }

                    .f-pin {
                        left: 3em;
                        color: white;
                    }

                    .f-archive {
                        right: 3em;
                        color: $red;
                    }
                }
            }
        }

        &.expanded {
            left: 0;
        }

        @include fab-button(1.4em);
        .fab-button {
            position: absolute;
            top: initial;
            bottom: 0.2em;
            right: 0.4em;

            > i.icon:nth-child(3) {
                top: -3.5em; // XXX implement reverse option in mixin scss
            }
            > i.icon:nth-child(4) {
                top: -7em; // XXX implement reverse option in mixin scss
            }
            > i.icon:nth-child(5) {
                top: -10.5em; // XXX implement reverse option in mixin scss
            }
        }

        #f-new-thread-panel {
            height: 100%;
            margin-top: 0 !important;

            > .ui.segment {
                height: 100%;
                margin: 0;

                .scrolling.menu {
                    max-height: calc(100vh - 14em); // XXX this is a hack, use flex or something
                }
            }
        }

        #f-new-thread-panel.expanded + #f-nav-panel {
            display: none;
        }
    }

    main > section #f-thread-stack .thread aside {
        position: absolute;
        z-index: 2; // Was for just above f-notice (gone now).. Could be obsolete now XXX
        top: 0;
        right: -90vw;
        width: 85vw;
        max-width: $navBasis * 1.5;
        height: 100%;
        transition: right 300ms ease;
        box-shadow: -0.1em 0.1em 0.25em 0 rgba(0, 0, 0, 0.3);

        &.expanded {
            right: 0;
        }

        .f-alt-collapse {
            display: block;
        }
    }

    #f-thread-stack {
        .f-compose .f-input {
            $msgPadding: 1em;

           .f-message {
                padding: $msgPadding;
                min-height: 3.18em; // Caution: Highly tuned to workaround firefox contenteditable bug
            }

            .f-placeholder {
                padding: $msgPadding;
            }
        }

        .thread.announcement {
            .f-viewer-mode.ui.segment {
                padding: 0;

                .f-viewer-paper {
                    padding: 2em;
                }
            }
        }
    }
}
