@import 'variables';
@import 'global';
@import 'mixins';
@import 'sentry';
@import 'avatar';

main.ui.grid {
    min-height: 100%;

    > .column {
        text-align: initial !important; // Undo centering of all content from centered grid css
        max-width: 768px;

        > .ui.segment {
            border: 0;
            overflow: hidden;
        }

        .grid > .column {
            padding: 6em 3em;
        }
    }
}

.f-splash.column {
    position: relative;

    .backdrop {
        transition: opacity 5s;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(0.5) contrast(0.6) opacity(0.8) brightness(0.7);
    }

    .foreground {
        vertical-align: bottom;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #eee;
        font-size: 1.15em;

        h3 {
            margin-top: 0.25em;
            font-weight: 300;
            margin-left: -2px;
            text-transform: uppercase;
        }

        img.logo {
            width: 99%;
            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
        }

    }
}

.filler {
    flex-grow: 1;
}

.f-form {
    display: flex !important;
    flex-direction: column;

    .ui.header {
        display: flex;

        img {
            object-fit: contain;
            height: 100%;
        }
    }
}

// Make sure max-width matches F.util.isSmallScreen()
@media only screen and (max-width: 768px) {
    .not-small {
        display: none !important;
    }

    main.grid > .column {
        height: 100vh;

        > .ui.segment {
            height: 100%;
        }
    }
}
