@import 'variables';
@import 'global';
@import 'mixins';
@import 'sentry';
@import 'avatar';

header {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 1em;

    img.f-logo {
        filter: invert(1);
        width: 150px;
    }

    .center {
        text-align: center;

        > * {
            color: #222;
            padding: 0 1em;
            transition: color 200ms;
            font-size: 0.9em;
            text-transform: uppercase;

            &:active, &.active, &:hover {
                color: #00AEEF;
            }
        }
    }

    .left, .right {
        width: 150px;
    }
}

.error.message {
    display: block;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    min-height: 0;
    transition: visibility 400ms, opacity 400ms, max-height 600ms, margin 400ms, padding 400ms;

    &:not(.visible) {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    &.visible {
        max-height: 6.5em;  // About 3 lines
        opacity: 1;
        visibility: visible;
    }
}

.sms.validate.page .ui.form,
.totp.validate.page .ui.form {
    text-align: center;

    .field input {
        font-size: 1.5em;
        max-width: calc(2.1em + 8ch);
        font-family: $monospace;
        letter-spacing: 0.2em;

        &::placeholder {
            font-size: 0.8em;
            font-family: 'Lato';
            letter-spacing: initial;
        }
    }
}

.password.validate.page {
    &:not(.has-next) {
        .f-next {
            display: none;
        }
    }

    &.has-next {
        .f-done, .f-tos {
            display: none;
        }
        .f-next {
            display: initial;
        }
    }
}

.ui.header .sub.header {
    color: #222;
}

main.ui.grid {
    min-height: calc(100% - 6rem);
    padding: 1rem 0;
    margin: 0;
    background-image: url(/@static/images/metal_backdrop_big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;

    > .column {
        text-align: initial !important; // Undo centering of all content from centered grid css
        max-width: 768px;

        > .ui.segment {
            border: 0;
            overflow: hidden;
        }

        .grid > .column {
            padding: 6em 3em;
        }
    }
}

.f-splash.column {
    position: relative;
    background-color: black;

    .backdrop {
        transition: opacity 5s;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(0.5) contrast(0.6) opacity(0.8) brightness(0.7);
    }

    .foreground {
        vertical-align: bottom;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
        font-size: 1.15em;

        a {
            color: #fff;
            text-decoration: underline;
        }

        h3 {
            margin-top: 0.25em;
            font-weight: 300;
            margin-left: -2px;
            text-transform: uppercase;
        }

        img.logo {
            width: 99%;
            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
        }
    }
}

.filler {
    min-height: 0.5em;
    flex-grow: 1;
}

.centered {
    text-align: center;
}

.f-forgot {
    //padding-top: 0.5em;
}

.f-form {
    .page {
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    .page:not(.active) {
        display: none;
    }

    .ui.header {
        display: flex;

        img {
            object-fit: contain;
            height: 100%;
        }
    }
}

.f-select-username {
    .ui.list {
        margin: 0;

        .item {
            .close.icon {
                float: right;
                opacity: 0;
                transition: opacity 400ms;
            }

            &:hover .close.icon {
                opacity: 1;
            }
        }
    }
}


/*
 * Mobile adjustments...
 */
@media only screen and (max-width: $small_screen) {
    .not-small {
        display: none !important;
    }

    .f-splash .foreground h3 {
        font-size: 16px;
        margin: 0;
    }

    main.grid > .column {
        height: 100vh;

        .grid > .column {
            padding: 1em;
        }
    }
}
