{{#if url}}
    <img class="f-avatar ui image avatar" data-content="{{title}}" src="{{url}}"/>
{{else if content}}
    <div class="f-avatar ui label avatar circular {{color}}"
         data-content="{{title}}"><span>{{content}}</span></div>
{{else if group}}
    <div class="f-avatar grid">
        <div class="ui label avatar circular {{color}}"
             data-content="{{groupSize}} members"><span>{{groupSize}}</span></div>
        {{#each group}}
            {{#if url}}
                <img class="ui image avatar" data-content="{{title}}" src="{{url}}"/>
            {{else if this.content}}
                <div class="ui label avatar circular {{color}}"
                     data-content="{{title}}"><span>{{content}}</span></div>
            {{/if}}
        {{/each}}
    </div>
{{/if}}
