<div class="ui modal {{#if size}}{{size}}{{else}}small{{/if}}">
    {{#if header}}
        <div class="header">
            {{#if icon}}
                <i class="icon large {{icon}}"></i>
            {{/if}}
            {{header}}
        </div>
    {{/if}}

    {{#if content}}
        <div class="content scrolling">{{{content}}}</div>
    {{/if}}

    {{#if actions}}
        <div class="actions" style="display: flex;">
            <div class="footer">
                {{#if footer}}
                    <p>{{footer}}</p>
                {{/if}}
            </div>
            {{#each actions}}
                <div class="ui button {{class}} {{#if icon}}labeled icon{{/if}}">
                    {{#if icon}}
                        <i class="icon {{icon}}"></i>
                    {{/if}}
                    {{label}}
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>
