<div class="f-user-popup ui card image {{#unless is_active}}inactive{{/unless}}">
    <div class="image">
        <img src="{{avatar.url}}"/>
        {{#unless is_active}}
            <div class="ui label ribbon red">DEACTIVATED</div>
        {{/unless}}
    </div>
    <div class="content">
        <div class="header">{{name}}</div>
        {{#if fqslug}}
            <div class="description">
                <a onclick="$('body').popup('hide all')" data-route="/@/tag/@{{fqslug}}">
                    @{{#if local}}{{slug}}{{else}}{{fqslug}}{{/if}}
                    <i class="icon comments"></i>
                </a>
            </div>
        {{/if}}
        {{#if phone}}
            <div class="meta">
                <a href="tel:{{phone}}" target="_blank">{{phone}}</a>
            </div>
        {{/if}}
        {{#if email}}
            <div class="meta">
                <a href="mailto:{{email}}" target="_blank">{{email}}</a>
            </div>
        {{/if}}
        {{#if created}}
            <div class="meta">
                Joined {{fromnow created}}
            </div>
        {{/if}}
    </div>
    <div title="{{orgAttrs.description}}" class="extra content">
        <div class="ui sub header">Organization</div>
        {{#if orgAttrs.website}}<a href="{{orgAttrs.website}}" target="_blank">{{/if}}
        {{#if orgAttrs.logo}}
            <img data-html="<img src='{{orgAttrs.logo}}'/><br/>{{orgAttrs.website}}"
                 class="ui image avatar" src="{{orgAttrs.logo}}"/>
        {{/if}}
        {{orgAttrs.name}}
        {{#if orgAttrs.website}}</a>{{/if}}<br/>
        {{#if orgAttrs.slogan}}
            <sub><i>{{orgAttrs.slogan}}</i></sub>
        {{/if}}
    </div>
</div>
