<div class="ui modal fluid">
    <div class="content">
        <div class="ui card">
            <div class="image">
                <img src="{{avatar.url}}">
            </div>
            <div class="content">
                <div class="header">{{name}}</div>
                <div class="meta">@{{tag.slug}}:{{domain.slug}}</div>
                <div class="description">
                    <a href="mailto:{{email}}"" target="_blank">{{email}}</a>
                </div>
            </div>
            <div class="extra content">
                {{#if date}}
                    <span class="right">
                        Joined on {{date}}
                    </span>
                    <br>
                {{/if}}
                {{#if online}}
                    <span>{{online}}</span>
                {{/if}}
            </div>
        </div>
    </div>
</div>
