<div class="ui attached segment">
    <div class="f-input ui input fluid icon labeled">
        <div class="ui dropdown label">
            <i class="icon caret up"></i>
            <i class="icon exchange" title="Direct Message"></i>
            <div class="menu">
                <div class="item"><i class="icon exchange active"></i>Direct Message</div>
                <div class="item"><i class="icon announcement"></i>Announcement</div>
                <div class="item"><i class="icon small help"></i>Poll</div>
            </div>
        </div>
        <div class="f-message"
             contenteditable="true" spellcheck="true" role="textbox"
             autocomplete="on" spellcheck="true" tabindex="0"
             autocorrect="on" aria-multiline="true" aria-haspopup="true"
             aria-label="Type message here..."></div>
        <i class="f-send icon circular link send inverted blue depth-shadow"></i>
    </div>

    <div class="f-files">
        <input class="f-choose-file" type="file" multiple="multiple" style="display: none;"/>
        <div class="ui segment secondary">
            <h5 class="ui header sub">
                <i class="icon folder"></i>
                <div class="content">Pending Attachments</div>
            </h5>
            <div class="previews"></div>
        </div>
    </div>
</div>

<div class="ui menu borderless bottom attached">
    <div class="menu left">
        <div class="item">
            <i class="f-attach icon link attach large grey"></i>
        </div>
    </div>

    <div class="menu right">
        <div class="item">
            <div class="f-expire ui dropdown icon labeled pointing top right">
                <i class="icon hourglass half grey"></i>
                <div class="menu">
                    <div class="header">Message Expiration</div>
                    <div class="divider"></div>
                    <div class="item" data-value="604800">A week</div>
                    <div class="divider"></div>
                    <div class="item" data-value="86400">A day</div>
                    <div class="item" data-value="43200">12 hours</div>
                    <div class="item" data-value="21600">6 hours</div>
                    <div class="divider"></div>
                    <div class="item" data-value="3600">An hour</div>
                    <div class="item" data-value="1800">30 minutes</div>
                    <div class="item" data-value="300">5 minutes</div>
                    <div class="divider"></div>
                    <div class="item" data-value="60">A minute</div>
                    <div class="item" data-value="30">30 seconds</div>
                    <div class="item" data-value="10">10 seconds</div>
                    <div class="item" data-value="5">5 seconds</div>
                    <div class="divider"></div>
                    <div class="item" data-value="0">Off</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="f-settings ui dropdown icon labeled pointing top right">
                <i class="icon link ellipsis vertical large grey"></i>
                <div class="menu">
                    <div class="item f-view-members"><i class="icon users"></i>View Members</div>
                    <div class="item f-clear-messages"><i class="icon recycle"></i>Clear Messages</div>
                    <div class="item f-close-conversation"><i class="icon window close"></i>Close Conversation</div>
                    {{#ifneq type "private"}}
                        <div class="divider"></div>
                        <div class="item f-leave-group"><i class="icon eject"></i>Leave Conversation</div>
                        <!--<div class="item f-update-group"><i class="icon edit"></i>Update Conversation Settings</div>-->
                    {{else}}
                        <div class="item f-reset-session"><i class="icon refresh"></i>Reset Secure Session</div>
                    {{/ifneq}}
                </div>
            </div>
        </div>
    </div>
</div>
