<div class="ui three column centered grid">
    <div class="middle aligned column">
        <div class="ui statistic">
            <div class="label">
                {{head.adj}}
            </div>
            <div class="ui divider back"></div>
            <div class="label">
                {{head.time}}
            </div>
        </div>
    </div>
    <div class="middle aligned column">
        <div class="text value">
            {{head.type}}
        </div>
        <div class="ui statistic">
            <div class="label">
                {{head.type1}}
            </div>
            <div class="ui divider back"></div>
            <div class="label">
                {{head.type2}}
            </div>
        </div>
    </div>
    <div class="middle aligned column">
        <div class="ui horizontal statistic">
            <div class="value">
                {{conv.attributes.users.length}}
            </div>
            <div>
                <div class="label">
                    Conversation
                </div>
                <div class="ui divider back"></div>
                <div class="label">
                    Members
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui divider"></div>
<h3>Recipients</h3>
<div class="ui divider"></div>
<div class="ui items">
    {{#each items}}
    <div class="item">
        {{> f-avatar this.avatar}}
        <div class="middle aligned content">
            <a class="header">{{this.name}}</a>
            <div class="description">
                <p>{{this.user.attributes.email}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
