<div class="label">
    {{> f-avatar avatar}}
</div>

<div class="content">
    <div class="ui shape">
        <div class="sides">

            <div class="f-front active side ui segment {{avatar.color}}">
                <div class="summary">
                    <a class="user">{{sender}}</a>
                    <div class="date">
                        <span class="timestamp" data-timestamp="{{sent_at}}"></span>
                    </div>
                    <div class="icon-bar errors"></div>
                    <div class="icon-bar autohide">
                        {{#unless incoming}}
                            <span class="f-status"><i></i></span>
                        {{/unless}}
                        <span class="timer"></span>
                        <i class="f-moreinfo-toggle icon link circle info blue"
                           data-transition="flip down"></i>
                    </div>
                </div>
                {{#if embed}}
                    <div class="extra embed"></div>
                {{/if}}
                {{#if html_safe.length}}
                    <div class="extra text">{{{html_safe}}}</div>
                {{else if plain.length}}
                    <div class="extra text">{{plain}}</div>
                {{/if}}
                {{#if cantInlinePreview}}
                    <div class="ui items">
                        <div class="item">
                            <div class="ui avatar image">
                                <img src="{{thumbnail}}">
                            </div>
                            <div class="content">
                                <div class="extra images attachments"></div>
                                <div class="meta">
                                    <ul>
                                    {{#each meta}}
                                        <li>{{{this}}}</li>
                                    {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{#if attachments.length}}
                        <div class="extra images attachments"></div>
                    {{/if}}
                    {{#if meta.length}}
                        <div class="meta">
                            <ul>
                            {{#each meta}}
                                <li>{{{this}}}</li>
                            {{/each}}
                            </ul>
                        </div>
                    {{/if}}
                {{/if}}
            </div>

            <div class="f-back side ui segment secondary">
                <div class="summary">
                    <a class="user">{{sender}}</a>
                    <div class="date">
                        <span class="timestamp" data-timestamp="{{sent_at}}"></span>
                    </div>
                    <span class="timer"></span>
                    <span class="error"></span>
                    <i class="f-moreinfo-toggle icon link undo"
                       data-transition="flip up"></i>
                </div>
                <div class="extra text">ALTERNATIVE FILE FACTS | SIZE = 7</div>
                {{#if meta.length}}
                    <div class="meta">
                        <ul>
                        {{#each meta}}
                            <li>{{{this}}}</li>
                        {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
