<div class="label">
    {{> f-avatar avatar}}
</div>

<div class="content">
    <div class="ui shape">
        <div class="sides">

            <div class="f-front active side ui segment {{avatar.color}}">
                <div class="summary">
                    <a class="user" data-html='<div class="ui custom popup top left transition">
                      <div class="ui card">
                        <div class="ui centered image">
                          <img src="{{avatar.url}}">
                        </div>
                        <div class="content">
                          <a class="header">{{senderName}}</a>
                          <div class="meta">
                            <span class="date">Joined in 2013</span>
                          </div>
                          <div class="description">
                            Dev Team, Intern
                          </div>
                        </div>
                        <div class="extra content">
                          <a>
                            <i class="user icon"></i>
                            msewall@forsta.io
                          </a>
                        </div>
                      </div>
                    </div>'>{{senderName}}</a>
                    <!-- <div class="ui custom popup top left transition hidden">
                      <div class="ui card">
                        <div class="ui centered image">
                          <img src="{{avatar.url}}">
                        </div>
                        <div class="content">
                          <a class="header">{{senderName}}</a>
                          <div class="meta">
                            <span class="date">Joined in 2013</span>
                          </div>
                          <div class="description">
                            Dev Team, Intern
                          </div>
                        </div>
                        <div class="extra content">
                          <a>
                            <i class="user icon"></i>
                            msewall@forsta.io
                          </a>
                        </div>
                      </div>
                    </div> -->
                    <div class="date">
                        <span class="timestamp" data-timestamp="{{sent_at}}"></span>
                    </div>
                    <div class="icon-bar errors"></div>
                    <div class="icon-bar autodim">
                        {{#unless incoming}}
                            <span class="f-status"><i></i></span>
                        {{/unless}}
                        {{#if mobile}}
                            <i title="Sent from mobile app" class="icon mobile"></i>
                        {{/if}}
                        <span class="timer"></span>
                        <i class="f-moreinfo-toggle icon link circle info blue"
                           data-transition="flip down"></i>
                    </div>
                </div>
                {{#if embed}}
                    <div class="extra embed"></div>
                {{/if}}
                {{#if safe_html.length}}
                    <div class="extra text html">{{{safe_html}}}</div>
                {{else if plain.length}}
                    <div class="extra text plain">{{plain}}</div>
                {{/if}}
                {{#if attachments.length}}
                    <div class="extra images attachments"></div>
                {{/if}}
                {{#if meta.length}}
                    <div class="meta autodim">
                        <ul>
                        {{#each meta}}
                            <li>{{{this}}}</li>
                        {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </div>

            <div class="f-back side ui segment secondary">
                <div class="summary">
                    <a class="user">{{senderName}}</a>
                    <div class="date">
                        <span class="timestamp" data-timestamp="{{sent_at}}"></span>
                    </div>
                    <div class="icon-bar errors"></div>
                    <div class="icon-bar autodim">
                        {{#unless incoming}}
                            <span class="f-status"><i></i></span>
                        {{/unless}}
                        <span class="timer"></span>
                        <i class="f-moreinfo-toggle icon link undo"
                           data-transition="flip up"></i>
                    </div>
                </div>
                {{#if embed}}
                    <div class="extra embed"></div>
                {{/if}}
                <div class="extra text">
                    <div class="ui list">
                    {{#each deliveryReceipts}}
                        <div class="item">
                            <img class="ui avatar image" src="/images/avatar2/small/rachel.png">
                            <div class="content">
                                <a class="header">Rachel</a>
                                <div class="description">{{this}}Last seen watching <a><b>Arrested Development</b></a> just now.</div>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>
                {{#if meta.length}}
                    <div class="meta autodim">
                        <ul>
                        {{#each meta}}
                            <li>{{{this}}}</li>
                        {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
