{{#each this}}
    <i class="f-error icon link red
              {{#if icon}}
                  {{icon}}
              {{else}}
                  warning
              {{/if}}"
       data-variation="f-message-error"
       data-html='
            {{message}}
            {{#if actions}}
                <div class="ui divider"></div>
                <div class="ui buttons fluid mini">
                    {{#each actions}}
                        <button class="ui button" name="{{1}}">{{0}}</button>
                    {{/each}}
                </div>
            {{/if}}'></i>
{{/each}}
