<table class="ui table selectable unstackable red">
    <thead>
        <tr>
            <th class="collapsing">
                <i class="icon announcement big red"></i>
            </th>
            <th class="ui sub header">Announcements</th>
            <th class="aligned right collapsing">
                <i class="f-collapse-icon icon minus square outline red"></i>
            </th>
        </tr>
    </thead>

    <tbody>
        <tfoot>
            <td class="collapsing">
                <i class="icon plus big red"></i>
            </td>
            <td colspan="2">
                <div class="single-line title"><p>New Announcement</p></div>
                <div class="ui fitted divider"></div>
                <div class="single-line last-message"><p>Click to make new announcement</p></div>
            </td>
        </tfoot>
    </tbody>
</table>
