<table class="ui table selectable unstackable red">
    <thead>
        <tr>
            <th class="collapsing">
                <i class="icon announcement big red"></i>
            </th>
            <th class="ui sub header">Announcements</th>
            <th class="aligned right collapsing">
                <i title="Create New Announcement" class="icon add circle big red"></i>
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="collapsing">
                <i class="icon compress red"></i>
            </th>
            <th id="action" class="footer" colspan="2">Collapse</th>
        </tr>
    </tfoot>

    <tbody></tbody>
</table>
