<table class="ui table selectable unstackable blue">
    <thead>
        <tr>
            <th class="collapsing">
                <i class="icon pie chart comments big grey"></i>
            </th>
            <th colspan="2" class="ui sub header">Polls</th>
        </tr>
    </thead>

    <tbody></tbody>

    <tfoot>
        <tr>
            <th class="expander" colspan="3">
                <i class="icon compress"></i> <span>Collapse</span>
            </th>
        </tr>
    </tfoot>
</table>
